[2015-08-31 03:31] #241 closed

[2015-08-31 03:42] JedMeister commented on #216
merged into tkl library: https://github.com/turnkeylinux-apps/foodsoft

[2015-08-31 03:43] #216 closed

[2015-08-31 03:50] JedMeister commented on #365
Webmin is now at v1.760 for v14.0/Jessie

Still needs updating for v13.0/Wheezy

[2015-08-31 03:52] JedMeister commented on #333
Done: https://github.com/turnkeylinux-apps/gnusocial

[2015-08-31 03:52] #333 closed

[2015-08-31 03:53] JedMeister commented on #331
Done: https://github.com/turnkeylinux-apps/phreebooks

[2015-08-31 03:53] #331 closed

[2015-08-31 03:56] JedMeister commented on #365
closing this anyway as there is a separate issue (#247) for v13

[2015-08-31 03:56] #365 closed

[2015-08-31 04:01] JedMeister commented on #445
https://github.com/turnkeylinux-apps/symfony/commit/80f7346e4fd67d65114f4be4a57d5534e7fde739

[2015-08-31 04:01] #445 closed

[2015-08-31 04:01] JedMeister commented on #447
https://github.com/turnkeylinux-apps/symfony/commit/80f7346e4fd67d65114f4be4a57d5534e7fde739

[2015-08-31 04:01] #447 closed

[2015-08-31 04:03] JedMeister commented on #418
https://github.com/turnkeylinux-apps/openldap/pull/3

[2015-08-31 04:03] #418 closed

[2015-08-31 04:07] JedMeister commented on #416
closing

[2015-08-31 04:07] #416 closed

[2015-08-31 05:56] l-arnold commented on #374
"git reset --hard"   worked well. Thanks for the guidance.  Almost got the system moved over but was tying myself in a knot.
Will give it a rest and come back in the AM.
Seems like it will work though.  I like the changes that I have seen.  Thanks again.

[2015-08-31 07:14] wvengen commented on #216
Nice :+1:

[2015-08-31 08:49] #20 closed

[2015-08-31 08:53] #160 closed

[2015-08-31 11:25] DocCyblade commented on #374
If you want to merge all my changes over, let me know. I'll submit a pull request

[2015-08-31 12:27] DocCyblade commented on #374
Glad to be of help! It was a learning experience for sure. Things I learned here will help me with RT and invoice ninja

[2015-08-31 13:34] l-arnold commented on #374
I want to revert my build backbtobthe start of your branch, then do the pull.

Syatemn was not really happy jiust trying a merge.
Should have time in 1/2 hr.

Need to find the "revert" code.  Similarbtobthebreset ai mjustvtan but aiming at a specific commit.

Thanks again.

[2015-08-31 15:54] DocCyblade commented on #374
I can do the merge for you. I'll pull your changes into a new branch then merge my branch with that one. That should then be good to do a PR

[2015-08-31 16:03] l-arnold commented on #374
Just installing from ISO now.  Made a new branch on my sysstem (DocCyBlade) and massaged it together.  Seems to be moving through.

If this works lets move your's "in situ" onto Master.  Not quite sure how to do that though likely similar to what I just did.

New Partition and Grub process today it seems.  I am needing to sequentially remember where I am and choose the next step along the way (3 o

[2015-08-31 16:13] l-arnold commented on #374
Something strange with the whole load and grub process.  Nothing coming up.  I have been selecting "use whole disc" since RC14.  I will try LVM one time before.

Do you have an ISO built I could compare to?

[2015-08-31 16:34] l-arnold commented on #374
@DocCyblade
My changes were mostly opening files I could see you or I had changed and bringing them in line with your changes.  Variable mainly is the time stamps.

If you can do a branch merge that would be great.

--------------
I am going to look at the inithooks.

Yep, I did not have 40-odoo-adminpassword updated
----------
My experience just now (my manual merge into DocCyBlade branch)
I just

[2015-08-31 16:39] l-arnold commented on #374
Argh.  It looks like some of my changes hit my "master" branch.
I will bring them together.

I am working usually through web (https://github.com) but then my shell work effects things too.

[2015-08-31 17:06] l-arnold commented on #374
@DocCyblade I believe I have both Master and DocCyBlade branches in line with Ken's Changes.

That said it would be good to look at this.  Not sure if I made the two Pull Requests or you did.  I am seeing them in Master.  What is the process right now?

[2015-08-31 18:05] DocCyblade commented on #374
May want to start a new repo. The issue is you have been making changes to master while I too have been making changes. My new branch was based on you master branch. There will be a lot of merge conflicts.

Best practice moving forward is to create a work in progress branch and commit to that. Usually master should always have the production release.  When your WIP branch is perfect, then merge WI

[2015-08-31 18:52] l-arnold commented on #374
Understand generally.  The repository is not updating from remote.
Seems all is working but not able to change the name in Master of the
overlay/opt/openerp/odoo-tmp/  directory
to
overlay/opt/openerp/odoo/

I believe I can make one of the branches "Master" on the website.
Thoughts on that?

[2015-08-31 19:06] DocCyblade commented on #374
I'll be home in a hour or so. Like I said it may be best to have new repo created or could do some surgery on your current one, however it would need to be done on the command line.

So you can add me as a member of your repo and I'll fix the current one, or create a fresh repo with an initial commit and I can fork that one and post my changes to that and create a pull request and you can merge it

[2015-08-31 19:34] l-arnold commented on #374
I have added you.

Totally perplexed.  Right now there are 4 Branches that I can see.
In 3 of them odoo_tmp directory is existing in /overlay/opt/openerp
(INCLUDING YOURS DocCyblade/tkl-nomadic-odoo)

One Branch has it called Odoo I have a Branch of "Ken's Changes" still at
l-arnold/tkl-nomadic-odoo

I have not worked with Ken's Changes and I think it is Full Data.

I had tried to Move my Master t

[2015-08-31 19:39] DocCyblade commented on #374
I am heading home now. I will rename any branches I touch. Will not delete anything. Stand by eagle 1 :-)

[2015-08-31 20:30] DocCyblade commented on #374
@l-arnold So here is the plan.

1. Will go back in time, and create a new branch called master-new off of your first commit.
2. Will create a new dev branch from that master-new
3. Will then check out that dev branch and merge my branch with it. Since this goes all the way back to the first commit it will by pass your changes up until I branched off. This should give it s good working dev branch.

[2015-08-31 20:30] DocCyblade commented on #374
@l-arnold working on this now...

[2015-08-31 20:40] l-arnold commented on #374
Thanks Ken.
Working Branch - Merge to Dev - Rebase to Master

I did do a "git clone" of kens-changes just now.
Slightly different install process (some stragglers).
Build was generally complete but Odoo did not start.

db_password was set via "mcookie" it appears
admin_passwd =   (ie blank)

[2015-08-31 20:41] l-arnold commented on #374
I won't touch anything still for a while.  All that was was a "clone" to a new folder.

[2015-08-31 20:51] DocCyblade commented on #374
@l-arnold Ok, I am done. You may notice that default branch is now dev, and master is now "blank" I also created a dev-wip1 that you can use to make changes.

You may need to clear your tkldev vm and git-clone your own repo again, and checkout the dev-wip1 branch and commit to that one. I'll do the same and try a fresh build.

[2015-08-31 20:57] l-arnold commented on #374
Sounds good.  Huge thank you.

Was already on the track of working with New Data on the tkldev vm.  I will gather my process notes first.

Let me know if Odoo is "starting" for you from Build?  I am going to do a quick Clone build before I do anything else so I have a sense about whether much development is needed.

[2015-08-31 20:59] DocCyblade commented on #374
I just re-forked you repo, and started my own branch from dev. This way I can submit a PR to DEV. Try to keep DEV/master clean. When the time comes to merge we can walk through how to do that. I do most of my work via command line. Are you a Windows or Mac user? (I am a Mac user ;-))

[2015-08-31 21:02] l-arnold commented on #374
I am a windows user.  Generally I have interfaced and done "devo" through the https://github.com interface.  On TKLDEV I am running Bitvise SSH SFTP Client.

I try to avoid Vim etc and I think the issues here came from trying to rename that folder properly.  Can't do that in the Windows Web interface.

[2015-08-31 21:08] DocCyblade commented on #374
Just did a iso build, installing on VM now, stand by for results

[2015-08-31 21:21] DocCyblade commented on #374
Ok, that is strange. I think I may need to update my common on TKLDev. I know they have done a lot of work.

[2015-08-31 22:00] DocCyblade commented on #374
@l-arnold - My build went strange. Having issues with any build I have. I did a reset on my TKLDev box with my TKLDev refresh script. It reloads some components and clears the proxy cache.

To run it I created a gist you can download and run by below code. Notice this DOES delete common! if you have your own common you may want to back it up or push your changes first.

[code]

Visit https://gist.

[2015-08-31 22:01] DocCyblade commented on #374
Doing a make now with a clean system

[2015-08-31 22:02] DocCyblade commented on #374
This did fix my build issues it seems, we will see if it fixes the strange installer behavior

[2015-08-31 22:15] JedMeister commented on #374
FWIW there have been a few bugfixes to the installer and inithooks. New ISOs should reboot properly during install now and the grub bug should be resolved too. Also as of RC2 tkldev-setup now updates stuff if it exists already (so can be used a an updater), but it's probably not worth reinstalling tkldev just for that.

[2015-08-31 22:26] DocCyblade commented on #374
@JedMeister - Ok i never had an issue with ISO builds but looks like GRUB is not loading, and causing the install script to stop. Should I do install of TKLDev? Is RC2 available? Also where is the installer downloaded from/and where does it live on TKLDev

[2015-08-31 22:28] l-arnold commented on #374
I found the "use whole disk" and Grub were causing problems.
Was able to get installs using "LVM" (which had been failing before)

I have not updated Common.
Just doing a build now.  Guessing I should hold off.

Did get dev-wip1 focused as the working space I am in now.  Also only branch being shown when I type
git branch
  (which is good)

[2015-08-31 22:39] l-arnold commented on #374
Looks like this works for a download of RC2
http://www.turnkeylinux.org/download?file=turnkey-core-14.0rc2-jessie-amd64.iso

[2015-08-31 23:04] JedMeister commented on #374
@DocCyblade - Oh no! The installer (di) is a debian package on the turnkey repo. You don't need a new TKLDev to include it. It should be auto included... But it sounds it might still be :bug: buggy... :frowning:

@l-arnold - yep that's the rc2 dl...

[2015-08-31 23:33] JedMeister commented on #374
@DocCyblade - I can confirm the new installer bug... :anguished:

[2015-09-01 00:42] l-arnold commented on #374
Installed using LVM

Odoo:  Service Unavailable
openerp-server.conf db_password (set via mcookie)..  but not sure about actual db user pasword
Results:  Admin Password not set

Webmin starts
webshell starts
in webshell:  su - openerp  returns:
"no directory".  (seems we should assign opt/openerp

Got the following in Shell:

root@tkl-nomadic ~# su - openerp
No directory, logging in with HOME=/

op

[2015-09-01 00:57] l-arnold commented on #374
Researching a bit..  not there yet.
in v/var/run/openerp-server.pid

Prior builds had the value 587.  This one had 577.  I changed to 577 and gave ownership to openerp:openerp

Now when I run "start" it does seem to start without errors.  However, when I go to "stop" it indicates "no such process"..

openerp@tkl-nomadic:/opt/openerp$ /bin/bash openerp.init start
Starting openerp-server: openerp-se

[2015-09-01 01:02] DocCyblade commented on #374
Everything seemed to work in a CHROOT. Ill see if I can do a manually install and get to work and see if I can confirm you issues.

[2015-09-01 01:05] l-arnold commented on #374
I see your note @DocCyblade .  So you are having Odoo Start as well (port 80/443)?

I will look at your chroot instructions from a few days ago and see what comes.

Also, in prior builds there was no "openerp" database defined in postgresql.  Now there is one database "openerp" before any start database declaration (can't get there).

[2015-09-01 01:08] JedMeister commented on #374
@l-arnold - So the ISO you just built installed ok? If so that's really weird...! Could you please run the following within the install you just did:
[code]
Also FWIW if you would like to work around the di-live bug; it's a PITA but it can be done like this:
Download the old di-live:
[code]
Now build (example given is LAMP):
[code]

[2015-09-01 01:11] DocCyblade commented on #374
I am online now, trying to get an ISO to install so I can see what's going on. I think I may know what's going on.

If your ok with it, I'll create a branch in your repo and keep my work there so you don't have to pull from another repo, should just be able to switch branches. Or I can work off mine and submit a pull request from mine to yours just let me know what you perfer

[2015-09-01 01:13] DocCyblade commented on #374
I'll try another ISO build using the old install just for fun! :-)  thanks J was going to ask you how you did that!

[2015-09-01 01:23] l-arnold commented on #374
@DocCyblade  and @JedMeister I'm ok with pretty much everything.
The installer finished but the system did not install properly.  Not sure why.

Old system has this Process running:  587	openerp	Aug31	python /opt/openerp/odoo/openerp-server --config=/opt/openerp/odoo/openerp-serve ...

New system does not:

In System Restart I read:
openerp-server	Open ERP is a complete ERP and CRM software.	Yes

[2015-09-01 01:26] l-arnold commented on #374
This reboot gave stragglers:

@JedMeister
di-live:
  Installed: 0.9.5+6+g7ba50df
  Candidate: 0.9.5+6+g7ba50df
  Version table:
 *** 0.9.5+6+g7ba50df 0
        999 http://archive.turnkeylinux.org/debian/ jessie/main amd64 Packages
        100 /var/lib/dpkg/status

helpful?

[2015-09-01 01:31] JedMeister commented on #374
@l-arnold - hmmm; thanks... But unfortuantely it's not that helpful. It shows you have the new version installed but I can't be 100% sure whether it's the version that the installer actually used when you installed or whether it updated later...

FWIW I tested on ProxmoxVE 3.4 & 4.0beta. What are you using for your testing; your a VMware guys aren't you? What about you @DocCyblade - you're a Proxm

[2015-09-01 01:33] DocCyblade commented on #374
@l-arnold I am trying to get a working system from ISO installed. As I said before things seems to work in a CHROOT when I tested. I only tested if it would build to ISO, I did a quick install it seemed to work when I pushed my changes last night

@JedMeister - Just saw your post. I run Fusion (VMWare) using v-SATA disks. Also, FWIW I did get it to install by selecting LVM

[2015-09-01 01:36] JedMeister commented on #374
@DocCyblade thanks... Adds new relevant info. And if @l-arnold confirms what he's using (IIRC it's vSphere??) then I'd say that that the extent of the bug relates to different virtualisation platforms...

[2015-09-01 01:45] l-arnold commented on #374
We could ignore this for now, but I just did a Chroot Only build:

Took me a while to get the syntax right.
No errors, but

not sure how to get "services running"

[2015-09-01 01:47] l-arnold commented on #374
Yes,  Vmware 4 for l-arnold
Same w/ Doc.  Could install with LVM.  Not "whole disk" Opposite of the last few months.

[2015-09-01 01:50] DocCyblade commented on #374
@l-arnold ok there are some issues we will ned to work through. Not sure why they did not show up in the CHROOT

1. Apache is not starting or having issue
2. the admin_password is not being set.

I am working through these now. The apache is a config issue I think not sure where however, the admin password I think my be permission issues but thats a guess. I'll work on that as well.

[2015-09-01 01:59] l-arnold commented on #374
@DocCyblade
My Apache appears to be starting.
Webmin says it is anyway.
Plus, I am getting response on https://myip:12324

Correct about the Admin PW not setting.  Should be able to set directly in openerp-server.conf but I get no response from that.

Just confirmed that I could login to Postgres w/ openuser and the mcookie password, so that seems to be working.

[2015-09-01 02:00] JedMeister commented on #374
@DocCyblade - unless you updated it already the apache issue may be because of ssl-hardening... cert location has been moved to common for apache confs...

[2015-09-01 02:02] DocCyblade commented on #374
@l-arnold Ok sir, I started looking at the admin password since this should be simple to test.

1. I know it asked me for it in first boot, but it did not change it, in fact it was blank.
2. If I run the script by it's self `/usr/lib/inithooks/bin/odoo.py` it does change it
3. I need to test to make sure it is being set in the build
    - I will test this by doing an install, BUT before the reboot

[2015-09-01 02:03] DocCyblade commented on #374
@JedMeister - I thought I had tested that on the ssl-harding branch for common maybe I did not. I will check.

[2015-09-01 02:10] DocCyblade commented on #374
@l-arnold - tested the admin password BEFORE first boot by stopping the boot and going into recovery mode and checking the admin_passwd entry. is DID have a cookie there so that good!

Not sure why during first boot it's not setting it because if you call the file it defiantly does change it after the fact. It seems when you do turnkey-init it does not work, this looks like it's an issue with the

[2015-09-01 02:15] JedMeister commented on #374
Do you have a corresponding /usr/lib/inithooks/firstboot.d/20 regen-odoo-secrets (or similar) bash script that calls the /usr/lib/inithooks/bin/odoo.py? Is it executable?

Re apache issue; may well be something else. I was only guessing...

[2015-09-01 02:24] DocCyblade commented on #374
@l-arnold - found the issue with the database password
[code]

That line should have been removed... it was not. I removed it and re-ran turnkey-init and it works now. I made a commit on my branch on your repo (kens-dev-wip1)

[2015-09-01 02:32] l-arnold commented on #374
Sorry,  checked out there for dinner. Back now.
exited chroot.
Will reverse the chroot-only = y  (ie chroot_only=n)
git pull gives the following however.  Should I do a Pull Request?

From https://github.com/l-arnold/tkl-nomadic-odoo
 * [new branch]      kens-dev-wip1 -> origin/kens-dev-wip1
Already up-to-date.

[2015-09-01 02:35] l-arnold commented on #374
I am guessing we still have an issue with starting Openerp Service.  I don't think the admin_passwd should inhibit that.

[2015-09-01 02:35] DocCyblade commented on #374
@l-arnold you got my new branch, you should be able to save your changes git commit, and then git checkout kens-dev-wip1 to test my code, just don't make changes, do a checkout dev-wip1 to back

I think I found the issue with apache, it is yelling about SSL cert. @JedMeister did the location of the SSL certs change, I think they did...

[2015-09-01 02:38] JedMeister commented on #374
@l-arnold - IIRC chroot_only=n won't work; you need to `unset CHROOT_ONLY` although actually it should default to no value.

@DocCyblade - jsut remove the ssl cert location line altogether. It's now defined in mod_ssl IIRC

[2015-09-01 02:42] DocCyblade commented on #374
Looks like apache is also starting now, pushing update to repo. @JedMeister was the SSL

[2015-09-01 02:46] DocCyblade commented on #374
@l-arnold - try doing a new ISO build from my working branch. It seems that apache and the admin issue should be resolved, but a full ISO test is in order. I'll prep a new ISO and test mine in the morning. I got to get to bed!

This was fun!

[2015-09-01 02:51] l-arnold commented on #374
What kind of Beer do you like Ken!  I'm buying.

I am looking at this and I think the "issue" is in the start of
30_main.

#
4	# START - Install Odoo - 30_main
5	#
6
7	# Set variables
8	#
9	DB_NAME=openerp
10	DB_USER=openuser
…
14	# We will use a random password for now. Set it during inithook
15	ODOO_ADMIN_PASSWORD=$(mcookie)
16
17	# User name that Odoo will run under
18	SERVICE_USER=openerp

Thi

[2015-09-01 02:56] DocCyblade commented on #374
I'll give it a quick look over here when it builds I did not really look at the odoo side of it yet

To be honest I don't know what it is supposed to do!

If you can give me a run down on what is supposed to happen when I point my web browser at each port/url what should I see or get?

[2015-09-01 02:59] l-arnold commented on #374
I will make an outline of Old and New. (on the 30 Odoo process)
I need to go to bed too however.  So back to you with some sunshine.

Thank You very very much!

[2015-09-01 03:39] DocCyblade commented on #374
I did a quick build and was able to verify the Apache works and the admin password is being changed

I then looked at why odoo was not starting. I found that it was missing the dir /var/lib/odoo I created that and it did start up but there is still something else going on I think. Again I don't know what odoo is supposed to look like

My branch is up to date so you can start from there if you want

[2015-09-01 03:58] l-arnold commented on #374
Ok,
I will do a pull in the AM.
I am relatively cautious about changing things after today is all.
I am sure you understand.

thank you!

[2015-09-01 15:47] DocCyblade commented on #374
I see you did a merge from my branch to your WIP, that's perfect!

[2015-09-01 18:10] l-arnold commented on #374
I am doing first install from ISO now.
Notes:
1:  Blindly installed.  Don't think I chose LVM but installing so far.
2:  Get a "black box" alert over (Root Password) saying "Stopped Postgre SQL Cluster 9.4 main.
3:  Admin Password (I don't think we should be so strict as to require 6 charachters.  "admin" should work  (for my test I am not putting Admin in to be sure it is taking a new setting how

[2015-09-01 18:22] l-arnold commented on #374
@JedMeister  Thoughts on why Apache would not start today but did start yesterday and days before that?  Thanks for any and all guidance.

Server PID file:  /var/run/apache2/apache2.pid

A standard SSL Port (12324) going to an apache folder reads like this:
    SSLEngine on
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/
    <Directory /var/www/>
    Options Indexes FollowSymLinks

[2015-09-01 18:28] l-arnold commented on #374
Guidance on these comments (from both of you yesterday)

JedMeister commented
@DocCyblade - jsut remove the ssl cert location line altogether. It's now defined in mod_ssl IIRC
@DocCyblade
Collaborator

DocCyblade commented 16 hours ago
Looks like apache is also starting now, pushing update to repo. @JedMeister was the SSL

[2015-09-01 18:48] l-arnold commented on #374
@DocCyblade Guessing this does not matter, but I see in running processes System says the Process is NOT Running, yet I do have Odoo Running.  It is toggled to be an Auto Start as well.  I will try to understand this more.

openerp-server	Open ERP is a complete ERP and CRM software.	Yes	No

[2015-09-01 19:28] l-arnold commented on #374
Referentially I added my list of Odoo Dependencies to the Wiki for the Repository.

Included is this on python-gdata:

python-gdata
Google Data Python client library 3
https://doc.odoo.com/install/linux/server/#installing-the-required-packages
Odoo 8 Dependencies

[2015-09-01 20:09] DocCyblade commented on #374
Just did a fresh build from my branch.

Everything for me started, however odoo service fails. Looks like issue is with the data base user. It's looking for a role called openerp, database user is openuser not sure why as it is stated in the configure file as such

If I find a fix I'll post it to my WIP branch

[2015-09-01 20:43] l-arnold commented on #374
Was that the same build I just did?   I ran the ISO after Pulling your changes from the Pull Request I did.

My issue was with the SSL mostly.  OpenERP process was running underneath Apache not running.  This can be tested by removing 127.0.0.1 (or similar) from XLM and RPC interfaces in openerp-server.conf .  Then go to the IP:8069  port.

Curious that things started but I am guessing it is Chroo

[2015-09-01 21:29] DocCyblade commented on #374
Found a few things with the odoo config, and the database user and password. Going to make some changes and do a new build. If things work I'll push up the changes

Also the easiest way to try my changes is to just check out my branch. Just remember not commit any changes

[2015-09-01 22:14] l-arnold commented on #374
Ok,  Will "test" before PR.  Sounds like a good idea.

Is database user having issues?  Thought that was working.
Admin "password" was only writing first Charachter for me though.

[2015-09-01 22:26] JedMeister commented on #374
Couple of things: Firstly Alon has fixed the di-live bug. I have just tested install. Both with and without LVM now work! :)

Secondly @l-arnold the SSL line that needs removing from Apache config is the one that declares where the SSL Cert is located. Old lines look like this:
[code]
But the cert is been moved. And actually this directive has actually been moved to common (apache ssl mod) so you

[2015-09-01 22:28] l-arnold commented on #374
So I just went into the 2 changed Apache files and reinserted the Cert Location after SSLEngine on>
(openssl.conf and the following).  Then I went to restart Apache and it Started.

<VirtualHost *:12324>
    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/cert.pem

[2015-09-01 22:32] JedMeister commented on #374
@l-arnold that confirms that your common is out of date. I urge you to update it; otherwise yourself and Ken won't be on the same page. I doubt (hope) that there won't be significant changes to common anytime soon.

[2015-09-01 22:52] l-arnold commented on #374
I will work on a New common.  Not sure about Origin.
If I go to the Common folder in Turnkey on TKLDEV and do the checkout pull that is what you mean.
I do believe I did that a few months ago.  Will do again.

[2015-09-01 22:53] DocCyblade commented on #374
Something strange is going on

First boot init hooks for the Postgres user is not updating the password for the database user openuser or Postgres user.

They run fine under CHROOT

On ISO install they error out too fast to see what's going on

I checked by running the Python script manually and get and error that access denied could not change directory to root. Trying again you get another error

[2015-09-01 22:59] JedMeister commented on #374
@l-arnold If you want to double check what "origin" is do this:
[code]
It should show something like this:
[code]

@DocCyblade - No worries mate. I will test that now...

[2015-09-01 23:01] l-arnold commented on #374
Those were the symptoms a few days ago.  Wierd thing is that Odoo is Running w/ Postgresql.

Just checked on Adminer, and today (unlike yesterday) I cannot log in to OpenUSER with the mcookie by itself.

Strangely however, Odoo is running.  So, lets see what password Odoo might be calling.  I thought it was the openerp-server.conf

[2015-09-01 23:05] l-arnold commented on #374
Maybe the pgsqlconf.py file is not working properly and it is using something out of the box....
Was working fine yesterday and I don't see any changes done.

Let me update my common to get to the same place as you.  Seems we are not going back.

[2015-09-01 23:06] DocCyblade commented on #374
I found that odoo can still run with out the correct password but as soon as a request comes in it fails.

[2015-09-01 23:09] l-arnold commented on #374
@DocCyblade
Ok.  Request from outside somewhere?  I can install modules it seems.
Just sent a "message" to the whole company.

Will try to update my common and see what happens I guess.  A bit remiss to.

[2015-09-01 23:09] l-arnold commented on #374
@JedMeister   I get:
root@tkldev /turnkey/fab# cd common
/turnkey/fab/common
root@tkldev fab/common# git remote show origin
* remote origin
  Fetch URL: https://github.com/turnkeylinux/common.git
  Push  URL: https://github.com/turnkeylinux/common.git
  HEAD branch: master
  Remote branch:
    master tracked
  Local branch configured for 'git pull':
    master merges with remote master
  Local ref

[2015-09-01 23:12] JedMeister commented on #374
@l-arnold - Ok great. So to update just run `git pull origin master`

[2015-09-01 23:13] l-arnold commented on #374
Did so.  Doing a new
make clean @@ make
 on our development branch now.  Will test

[2015-09-01 23:16] l-arnold commented on #374
@DocCyblade :  How are you seeing this situation?
"I found that odoo can still run with out the correct password but as soon as a request comes in it fails."

[2015-09-01 23:36] JedMeister commented on #362
Reopening this as it seems I shut it too soon...!

[2015-09-01 23:37] JedMeister commented on #374
@DocCyblade - I can confirm that there is something weird going on with Postgres. Inithook ran fine but couldn't log in (testing with Adminer). Re ran inithook and an error flashed on the screen (but I didn't get to read it). Checked login; still no go. Checked Postgres service - not running; start service and looks like first password setup worked. The inithook must be stopping postgres service b

[2015-09-01 23:44] DocCyblade commented on #374
@JedMeister Ok, so I played around with the python script and this is whats going on at
https://github.com/turnkeylinux/common/blob/master/overlays/pgsql/usr/lib/inithooks/bin/pgsqlconf.py#L61

it's trying to start the service (it's already running) it's failing because it is trying to get the status of the service by https://github.com/turnkeylinux/common/blob/master/overlays/pgsql/usr/lib/initho

[2015-09-01 23:48] l-arnold commented on #374
Could explain difficulties we have had "on and off" here.  Strange that it worked yesterday though.
I think the "black box" and "stragglers" may be related during firstboot inithook and subsequent restarts.
Still strange that Odoo ran for me.  Lets see about the new one next w/ New Common.

[2015-09-01 23:48] DocCyblade commented on #374
I install from ISO after first boot. I can Remote into the server Ssh, and check the services. All is well. As soon as I open my web browser to launch odoo the service fails. I think it does not do a call to the database until there is a web request to kick that off. Once it does that it seems like it then fails and stops.

[2015-09-01 23:57] DocCyblade commented on #374
Oh and one other thing, I can confirm that the script seems to work fine in a TKLDev CHROOT not sure what the difference it there. Does TKLDev use the init system or does it use the older sysvinit

[2015-09-02 00:06] JedMeister commented on #374
@DocCyblade - thanks for that... TKLDev uses systemd too so not sure there... I'll have a look a little later.

[2015-09-02 00:35] l-arnold commented on #374
Observations.
New Common Build  (just dev-wip1 still )  second build w/ (kens-dev-wip1 going now too)

1:  Black Box over the Root Password Entry #1  "Stopped Postgres Cluster 9.4 Main" (as earlier)
2  Admin Password (requires 6 charachters.  Did not start with # this time - lets see if it writes)
3:  Webmin and Webshell both work and take root password  (very slow log in to IE Filemanager)
4:  Ap

[2015-09-02 00:44] DocCyblade commented on #374
I am seeing everything you just outlined!

Items 7-10 are probably related to the pgsql Python script error.

we may need to hold off until this bug Is removed. We could temporary statically set the database user by removing the init hook for the database since this is set during build

Also I was reading that you can change the admin password inside odoo it's self is this true? If this is true we

[2015-09-02 00:47] l-arnold commented on #374
@DocCyblade
Openuser pass was set correctly.  Just postgres pass not.
correct wouild be good to watch for the script fix.
Admin can be changed in Odoo itself.
Best is what  you have now, but allowing "admin" to be set as a pass (or allowing a default).  I like being able to set it at the start as is.  Safer that way.

[2015-09-02 01:14] DocCyblade commented on #362
I posted in the other odoo thread but reposted here

@JedMeister Ok, so I played around with the python script and this is whats going on at
https://github.com/turnkeylinux/common/blob/master/overlays/pgsql/usr/lib/inithooks/bin/pgsqlconf.py#L61

it's trying to start the service (it's already running) it's failing because it is trying to get the status of the service by https://github.com/turnkeyl

[2015-09-02 01:38] l-arnold commented on #374
@DocCyblade You know, that is why openuser is setting properly actually and why Odoo is starting I believe.
We are not using the pgsqlconf.py file to set openuser or admin for that matter.  It is only postgres that is supposed to be set.

Perhaps that is why I spent 2 months trying to get the script to work...  That said, I did think it was setting postgres user most of the time.

[2015-09-02 01:48] l-arnold commented on #374
My sense is that there is a server start/stop that is taking place in Inithooks that is out of sync.  The black box is one indicator.  Postgres not starting during firstboot is another indicator.  I believe postgres did start on 2nd boot.

Technically we don't need Postgres user for our needs right now.  We can also just give it a little "reset" in webmin to what we were trying to set in firstboot

[2015-09-02 01:51] l-arnold commented on #374
@DocCyblade I am going to test to see if I can get the system halts you were seeing in Odoo.

Both of my last builds are running.  Will also try the one I just built from kens-dev-wip1.  Report that next.

[2015-09-02 03:40] l-arnold commented on #374
Report on kens-dev-wp1 (ver1)

* Admin Password (req 6 charachters)  should have started w some non alphabetic
* Apache started at first boot
* Odoo did not start at first boot  (I forgot to test postgres server)
* Odoo started at second boot
* Stragglers on confconsole second boot

*target shutdown did not cycle (turnoff) on 3rd boot (needed to reset)
(by the way, most of the builds I made today

[2015-09-02 04:01] l-arnold commented on #374
Rerun  kens-dev-wp1 (ver1)
*Postgres Not running on First Boot
*Postgres does start from Webmin
*Odoo does not start after Postgres Start (I expect Service requires Postgres to be running at start)

*Adminer does THIS TIME FINALLY aim for Postgres as default Database
*postgres user does not respond to password set in inithooks
*(I expect openuser responds to mcookie password)

Second Boot:
*No Str

[2015-09-02 05:54] JedMeister commented on #374
@l-arnold - the 6 char requirement is built into inithooks so not easy to change. Also isn't that password for the "super-admin" account? If so it should probably be much more than 6 chars!

Also I'm just having a look at the pgsql inithook. Will let you know how I go...

[2015-09-02 09:38] JedMeister commented on #374
I have a fix for the postgresql inithook. I will be pushing the code shortly; will edit this post with updates (or post a new one if anyone replies in the meantime).

[2015-09-02 10:06] DocCyblade commented on #374
Sweet I'll do some test builds this AM

[2015-09-02 10:06] JedMeister commented on #362
Fixed: https://github.com/turnkeylinux/common/pull/51

[2015-09-02 10:06] #362 closed

[2015-09-02 11:25] DocCyblade commented on #374
Did a build confirm that it is now fixed
However everything is running now but get database error.

I can confirm that the password for openuser is correct and I can login to adminer with this password.

Need to do some research on the database connection password. If you can point me to artical that shows the config file and database password that would be good. I'll post back my findings and if

[2015-09-02 11:35] l-arnold commented on #374
How doesbthe Database error appear?  Odoo or somewhere else on the system?

I get dialed in shortly as well.
Thebdb connection shoukd be through openuser but we had a sitvtwo days ago where it seemed to not fully be the case.

Back shortly.

[2015-09-02 12:08] DocCyblade commented on #374
Issue is with with database connection. It seems that the Python script is still not changing the openuser password. It is changing the Postgres password.

When I mannually run the Python script it says access denied still.

Jermery some time can you see if you can replicate this. I can go in and change the password for the openuser then odoo works

[2015-09-02 12:11] l-arnold commented on #374
@docblade Following up.  Looking at : kens-dev-wip1 branch

Looking at: tkl-nomadic-odoo/conf.d/30_main
line 31:  would the su - postgres command to create "openuser" require a password or can we "su" in without.  I thought "postgres" was a "db user" not a "system user".

It further appears that we are setting the "openuser" password  at line 38 with "mcookie" which we come back around and do late

[2015-09-02 12:30] JedMeister commented on #374
@DocCyblade
So it's changing the openuser DB user password ok? But it is meant to change a user password too?

Where are you running it from? I bet you're in `/root`. `cd /` first should avoid the permission error...

[2015-09-02 12:31] l-arnold commented on #374
@DocCyblade
Comparing kens-dev-wip1 seeing points of exploration.

SSL Changes.  Got that, though I am concerned about what will happen when we Put REAL CERTS in if we can't point to the cert locations overtly.  I have always done it that way anyway.  Do we know the "real cert" process in the new system (ie one we buy and ties to our domain etc)?

LIB Creation:  Got THAT  We should Merge that dire

[2015-09-02 12:34] JedMeister commented on #374
@l-arnold

You can still specifiy them as before. It's just the default cert location has moved and we have consolidated a lot of stuff in common. Apache directives within a site override defaults so adding a custom cert is same as always...

[2015-09-02 12:42] l-arnold commented on #374
@JedMeister (thanks for the clarification Jeremy).  I will do some testing on a paid Cert pretty soon then.  Scary waters if complicated things get changed is all.

@DocCyblade @JedMeister I will update my "common" again  (via Fetch for test or Pull for permanent?)

@DocCyblade Need to see if the current dev-wip1 builds.  Should any changes be applied.  Seems we the LIB creation moved to dev-wip1

[2015-09-02 12:47] l-arnold commented on #374
@JedMeister Can you go over to https://github.com/l-arnold/tkl-nomadic-odoo .  I would like to move some of these conversations outside of Tracker Issues.

Some are "tracker issues"  some are "not" it seems to me is all.  Hate to fill up the mail box for non-participants.

[2015-09-02 12:57] JedMeister commented on #374
@l-arnold - NP just tag me where/when you want input.

@DocCyblade we could test the DB setting inithook like
[code]

[2015-09-02 12:59] DocCyblade commented on #374
Well I am done for the day.  Not sure why the openuser password is not being set on first boot.

In a test I removed the init hook that resets the database password and odoo works. It seems my build is not changing the password for the open user

Also I did some reading and we do need to give openuser super user rights per odoo docs we can make that change.

Bottom line the openuser is not being c

[2015-09-02 13:09] l-arnold commented on #374
I will do some tests on the two branches and see what I can about db-passwords.  I fetched "common" so maybe I can revert.

With yesterdays common postgres was not updating but openuser was updating.
I had understood the openuser was by passin the pgsqlconf.py file and doing it directly in the mcookie inithook.

Anyway,  thanks for your efforts.  It seems very close.
Will report back soon.  (Here

[2015-09-02 13:15] l-arnold commented on #374
@JedMeister    Just went to do a new build and got bonked?  Anyone know how I can fix?  Guessing it is some chroot thing.  Last I did was type :  unset CHROOT_ONLY

I just want to work the way I have been doing full ISO's.

root@tkldev odoo-doc/tkl-nomadic# make clean @@ make
deck -D build/root.sandbox
deck -D build/root.patched
deck -D build/root.build
deck -D build/bootstrap
rm -rf build/root.sp

[2015-09-02 14:24] l-arnold commented on #374
ot sure why it didn't have  a "make history" on the folder.  Did one yesterday.
got it started by
chroot_only=n
make clean
make

then it started anyway.
We will see how it goes.

[2015-09-02 22:14] JedMeister commented on #374
@l-arnold You used `@@` when you need to use `&&`.

Also with `CHROOT_ONLY=y` a couple of things:
 - it is a global variable and needs to be all caps i.e. `CHROOT_ONLY`; `chroot_only` won't work
 - if you look at the build code; it actually only checks to see if CHROOT_ONLY is set; not what it is set to
    - so in effect `CHROOT_ONLY=blue-whale` will have the same effect as `CHROOT_ONLY=y`
    -

[2015-09-02 22:27] l-arnold commented on #374
Thank you gor both clarifications.  Must be the @ call got to me @jedmeister.

We have a very clean build thanks hugely to Ken!  Right now in our dev-wip1 branch.  Will move up the ladder soon.

Check it out if you have some time.  Isos avail.

[2015-09-03 00:12] DocCyblade opened #450 "Add hostname as an advanced network setting in confconsole"
Something I have been longing for for some time. Add option (maybe even the host name showing) to update the system hostname from the console. Most people may leave it, but it would be nice to give a easy way to set it in the console? Maybe even an init-hook?

Not at the top of the todo list but thought I would throw that out there see what others thing and the core devs.

Not sure what the confco

[2015-09-03 00:16] DocCyblade commented on #450
Just, did a quick search for confconsole and found it is python. Maybe I'll fork the repo and give a go at it. I need to learn another language! Or maybe I should leave it to the professionals!

[2015-09-03 00:38] JedMeister commented on #450
Yep python.

AFAIK if you write the code then you should be able to run it as a confconsole module and/or as an inithook. My sense is that there may be value in "advanced" inithooks also being available as confconsole options too!? Not sure on that...

Actually I need to talk with Alon about what/how these "advanced" inithooks will work...

[2015-09-03 00:46] DocCyblade commented on #450
Conf console module eh? This sounds like a class. I don't know Python but I do know a lot of other languages, most are all the same when you get down to it. I'll have to check out the GIT repo and read the code. I do that before bed, helps me sleep! Hah!

If I do attempt anything I'll be sure to post here.

[2015-09-03 01:05] JedMeister commented on #450
Sorry probably wrong terminology... IDK python much at all but my son does and he explained some stuff to me...! :smile:

[2015-09-03 01:24] OnGle opened #451 "Drupal8 'Trusted Host Settings' Warning"
Just found in testing Drupal8 complains about Trusted Host Settings on config page.

Warning is:

The trusted_host_patterns setting is not configured in settings.php. This can lead to security vulnerabilities. It is **highly recommended** that you configure this. See [Protecting against HTTP HOST Header attacks](https://www.drupal.org/node/1992030) for more information.

[2015-09-03 02:07] JedMeister commented on #451
Good find! :+1: Thanks for reporting!

IMO it's not quite a bug; but it's more than a feature request... Regardless I'll label it as a "feature" for now...

From a (very) brief read it seems like we might want to set the appliance domain in the drupal settings. However as this appliance currently includes beta software (drupal8) lets just leave it for now and I'll target this for v14.1.

[2015-09-04 13:18] l-arnold opened #452 "Magento Latest Build"
I just went to the Magento Site.

Latest build they are putting out is
ver 1.9.2.1 - Added Aug 4, 2015

the Pull version for Current Magento on Turkleylinux-apps is, I believe, 1.9.1.1

Might be worth the update.

[2015-09-04 22:09] JedMeister commented on #452
Thanks for the heads up... To do this now will require that the app code be updated and the appliance retested... I'll see what I can do, but no promises...

[2015-09-07 01:39] OnGle commented on #335
Without knowing the specifics of the issue it's hard to determine if the issue is still present but there doesn't seem to be any noticeable issues with IE 11 (latest stable) and current version of bugzilla in turnkey. Please close @JedMeister

[2015-09-07 01:40] JedMeister commented on #335
Thanks @OnGle :+1:

[2015-09-07 01:40] #335 closed

[2015-09-07 02:56] JedMeister commented on #216
Hey @wvengen - Sorry about this but I have been speaking with Alon and we need to pick one of the versions to use by default. Otherwise the appliance won't be supported by the Hub. The Hub supports a range of "standard" inithooks and Alon is not willing to adjust those at this point. This means that your question re version will not be supported in the Hub.

At the very least we need to make it so

[2015-09-07 03:29] JedMeister opened #453 "ISO installer going to sleep"
I resolved the console going to sleep by [modifying a kernel option](https://github.com/turnkeylinux/common/commit/336434e74e9828e46578b95527bfb4737419adb0) but I just noticed that the console still goes to sleep during install though. It looks like we need to apply that same kernel option to the live/installer kernel...
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](h

[2015-09-07 03:32] OnGle opened #454 "[Bugzilla] Doesn't send emails OOTB"
Bugzilla does not seems to be able to send emails out of the box due to config issues. Can be worked around by editing the entry "mailfrom" in /var/www/bugzilla/data/params.json and setting it too a **valid** email address (doesn't have to be real, just valid form). @JedMeister

[2015-09-07 03:36] OnGle commented on #325
Issue still exists but can be worked around, (work around for turnkeylinux/tracker/issues/454 required first). Simply edit "urlbase" entry in /var/www/bugzilla/data/params.json to reflect the correct base url (domain or ip address). Seems to require trailing slash. @JedMeister

[2015-09-07 04:19] JedMeister commented on #325
:+1:

[2015-09-07 04:25] JedMeister commented on #454
Thanks.for that. Oversight on my behalf that this didn't get checked sooner and v14.0 code already include a fix...

[2015-09-07 12:06] wvengen commented on #216
I can understand, will have a look asap.

[2015-09-08 02:01] l-arnold commented on #408
Anyone working on this, I can get a  InDesign template out which I built today to help process this.  Not a "one click" deal but still easier than everything else I was trying in Photoshop and Illustrator.

Message me, or I may find a place to post it for download.

[2015-09-08 12:48] JedMeister commented on #408
Hey. Someone is working on an automation to take screenshots and in the future test the appliances too (which will hopefully make updates quicker and easier).
But it probably won't be ready for v14.0 so if you wanted to update a few in the meantime that'd be cool! :smile:

[2015-09-08 13:00] l-arnold commented on #408
No Prob.  I will likely do Joomla and Magento first.

[2015-09-08 13:08] JedMeister commented on #408
Awesome thanks! :+1:

[2015-09-09 00:13] l-arnold opened #455 "Webmin TKLBAM Restore in Jessie 14 Causes failure (Webshell works)"
Webmin TKLBAM Restore returns following error and loses the full Webmin Interface Requires BACK to exit):  Seems an error in CODE.  Immediately issued restore command in WebShell and process started (and continues)

(Webmin Error)
Error - Perl execution failed

syntax error at /usr/share/webmin/tklbam/restore_run.cgi line 9, near "skip_packages skip_files skip_database limits)"
  (Might be a runaw

[2015-09-09 00:21] l-arnold opened #456 "Check "Reboot" command in Jessie Lapp etc."
Twice today I have had Reboot commands not power cycle.

Once from ConfConsole
Once from WebShell (reboot)

Did just get a Reboot from ConfConsole on retry.
Not sure if an issue w/ VMWARE or something else.  Has been ongoing inconsistent behaviour in Jessie.  Last week was not getting the "confirm" dialog floating up at Install Reboot.  It did start floating up this week again however after updati

[2015-09-09 00:25] JedMeister commented on #456
2 fixes to di-live have been issued in the last couple of weeks so install reboots should now be working consistently with new builds (it does for me at least).

Although I'm not sure about `reboot` not working from ConfConsole or Webshell (TBH I almost never use Webmin are only rarely use confconsole). What about commandline? Any inconsistencies there?

[2015-09-09 00:27] JedMeister commented on #455
Thanks for reporting. This looks like it really needs atention and I must admit that I hadn't tested that. Glad you did! :+1:

[2015-09-09 00:31] l-arnold commented on #456
Yes.  It was Webshell (not webmin) that reboot did not work on (so command line)

Just tried again (system much more fresh) and it did reboot on commandline (webshell)

[2015-09-09 00:34] l-arnold commented on #456
I think the main issue is whether Systems Reboot Properly in "Cloud" envirionments where admin's don't have a "reset" command when all else fails.  My VMWare does have that and seems to proceed as planned.

[2015-09-09 01:57] l-arnold commented on #456
"Target Shutdown Reached"  after ConfConsole Shutdown console.
Never shut off.
On Odoo/Restored via TKLBAM system.
I did have some sessions (like Adminer) open when command was isued and seemed to "pause" for a while, but eventually passed Postgres and Apache shutdowns.

Didn't seem the final "get past" was coming any time soon when I powered off.

[2015-09-09 07:41] alonswartz commented on #455
@l-arnold thanks for the heads up! What appliance / version are you testing against? Does this only happen in webmin or do you also receive errors when running from the CLI?

[2015-09-09 08:30] alonswartz commented on #216
Just to be clear, this is not just for Hub based deployments, but for all headless deployments [1]. I'm currently working on a fix, will update the issue as soon as I have something...

[1] http://www.turnkeylinux.org/docs/builds

[2015-09-09 09:01] alonswartz commented on #216
@wvengen just to verify, the default variant should be ``foodsoft-standard``, right?

ref: https://github.com/turnkeylinux-apps/foodsoft/commit/51d655ac3ac7dd475c05a8ef40646a0a33df7ac4

[2015-09-09 09:12] wvengen commented on #216
Yes, `foodsoft-standard` is the default. Great plan to have a default value in any case.

If that's enough, great. If you'd rather not have the question asked at all, or not even ship the alternate version, I can look into having a script to change that afterwards (though the latter would require some time to write and test).

[2015-09-09 13:04] l-arnold commented on #455
Seems only ro happen in Webmin.  Worked fine in shell.  From our new Odoo but based off Lapp.  I recall this a while ago and had thought I reported but may have only put in the forums.  ??

I don't feel it is an Odoo specific prob,
https://github.com/l-arnold/tkl-nomadic-odoo/issues/14

[2015-09-09 14:45] l-arnold commented on #456
This started yesterday "after" a TKLBAM Restore cycle in shell.
In shell TKLBAM said "complete.  You might want to reboot now".

I typed Reboot, and it hung as described.

Doing a new test now.  Cycle complete.  Instead of "shell"  "reboot" command went to
ConfConsole, chose "Advanced/Reboot"
Rebooted  and it did Power Cycle

That is a good thing.  Will need to test the Shell one again.

[2015-09-09 15:14] l-arnold opened #457 "Cycling "Your Connection is not Private" warnings"
Normally when a "default" TKL Cert is accepted the "acceptance has some legs" and one can do their work after "accepting and proceeding".

Just did a TKLBAM Restore and the cycle in Chrome is incesessant.

Normally I put a full cert on my main Work Focus (the App) but not Webmin/Webshell/Adminer etc.

Would be worth testin this situation on some other aps and doing some TKLBAM restores to see if t

[2015-09-09 21:16] JedMeister commented on #457
Can you please describe what is actually happening? Do you mean that you constantly have to accept the "self signed" browser warning everytime you do something in an https session?

If you are talking about having to accept the warning for every session then AFAIK that is changed browser behaviour and doesn't have anything to do with TurnKey...

[2015-09-09 21:32] l-arnold commented on #457
Ran a TKLBAM restore to new build
Moved My IP on the new build to match the old.

My Cert (on Odoo ports 443/80) worked fine.
All my other ports using Default TKL Seeds basically went bonkers.  Could get a page or two before I would get the "uncertified" cycle  (accept/reject etc).

Tried closing tabs opening new ones.  Closing Browsers opening new ones etc.

Something to do w/ Site/Page identity.

[2015-09-09 21:50] JedMeister commented on #457
TBH I am not 100% sure but my guess is that the self-signed auto generated certs are not backed up.

That would make sense as to your browser the IP has stayed the same but the cert has changed. There is not a legitimate reason for that to happen that I can think of; same scert from a different IP would be ok, but different cert for different IP - especially during a current session would bea bad

[2015-09-10 01:25] l-arnold commented on #457
I understand for sure - I just wanted a work around for my own situation..  That said...  it is important also to keep your users happy also and not scare  them when the do use TKLBAM.  Not sure the solution.

[2015-09-10 21:36] JedMeister commented on #457
TBH I don't think that there is an immediate solution beyond using a proper CA issued cert...

[2015-09-11 13:27] JedMeister opened #458 "Can't restore from s3://s3.amazonaws.com as backup is on s3://s3-eu-west-1.amazonaws.com"
Can't restore from s3://s3.amazonaws.com as backup is on s3://s3-eu-west-1.amazonaws.com

Summary:
Can't restore a backup from s3-eu-west-1 (Virginia) to a server in Ireland (on AWS)

See forums: https://www.turnkeylinux.org/forum/support/20150909/cant-restore-s3s3amazonawscom-backup-s3s3-eu-west-1amazonawscom

[2015-09-14 04:37] JedMeister commented on #452
Although v14.0 build code initially downloads v1.9.1 (see [here](https://github.com/turnkeylinux-apps/magento/blob/master/conf.d/downloads#L8)) it later uses `mage` (Magento commandline tool) to update to the latest version (see [here](https://github.com/turnkeylinux-apps/magento/blob/master/conf.d/main#L78-L82)). So v14.0 will have Magento v1.9.2.1

[2015-09-14 04:37] #452 closed

[2015-09-14 04:45] JedMeister commented on #211
closed by https://github.com/turnkeylinux-apps/canvas/issues/3

[2015-09-14 04:45] #211 closed

[2015-09-14 04:56] JedMeister commented on #90
confirmed fixed in v14.0

[2015-09-14 04:56] #90 closed

[2015-09-14 20:43] AllanDaemon opened #459 "Manual partitioning is broken"
When trying to install from ISO image, if you choose `Manual` in partitioning (instead of Guided), you go to the menu show in the picture above. The first bug is that the format string is shown directly. This is ok though, as you can read all you need. But when you select a existing partition, instead of going to the submenu to edit the partition, it stays in the same screen to choose partition. F

[2015-09-14 22:20] JedMeister commented on #459
Hi,
Thanks very much for taking the time to lodge this bug report. This is a known issue and has been fixed for the v14.0 release (very close to release). As the fix has already been committed I will close this issue. Please feel free to reopen it and/or post a new issue if you come across similar behaviour in v14.0. :+1:

[2015-09-14 22:20] #459 closed

[2015-09-16 14:11] JedMeister opened #460 "observium - warning on log in screen"
Observium app complains `Log Directory is missing (/opt/observium/logs). Logging may fail.` on loging screen.

[2015-09-17 14:52] Olliebrown opened #461 "Node.js install script in common is broken"
It looks like the 'dist' folder over at the node.js server must have changed.  The nodejs-install script in common fails saying it cannot find SHASUMS.txt.  After some investigations I found that the folder 'latest' now contains node.js v4 instead of the previous 0.1x versions that the script was expecting.

All that needs to happen is the URL needs to be updated to point to 'latest-v0.12.x' or 'l

[2015-09-17 21:59] JedMeister commented on #461
Thanks for reporting. :+1:
We only just finished building appliances for our [v14.0 release](http://www.turnkeylinux.org/blog/turnkey-14-0-release) so it only must have just changed! :smile:

[2015-09-20 08:39] cboulanger opened #462 "14.x Docker images"
... just so that it won't be forgotten. I'll be happy to test them and report back (at least core / lamp).

[2015-09-21 00:53] JedMeister commented on #462
It won't be forgotten but thanks! :+1:

[2015-09-21 11:47] sgrossberndt opened #463 "Spelling "TYPO3 CMS" instead of "Typo3""
Hi there,

http://www.turnkeylinux.org/updates/typo3 uses wrong spelling for the TYPO3 brand:

It should be at least "TYPO3" instead of "Typo3", even better would be "TYPO3 CMS"

https://typo3.org/about/the-brand/style-guide/the-typo3-spelling/

Thanks,
Stephan

[2015-09-21 11:55] sgrossberndt opened #464 "Upgrade TYPO3 CMS from 7.3.1 to current version"
Hi there,

http://www.turnkeylinux.org/updates/typo3/new-turnkey-typo3-version-140

lists "Upgraded to latest major version of Typo3 (7.3.1)." with a release date of "Tue, 2015/09/15 - 17:00".

On 2015-08-04 TYPO3 CMS 7.4 was released which succeeded 7.3.1
On 2015-09-29 TYPO3 CMS 7.5 will be released succeeding 7.4

http://typo3.org/download/

Thanks,
Stephan

[2015-09-21 23:24] JedMeister commented on #463
Thanks for the correction. :+1: We'll fix that for you next release!

[2015-09-21 23:33] JedMeister commented on #464
Hi Stephan,

THanks for taking the time to post.

The appliance release date and the date when the build code were updated are not always the same (in fact they're rarely the same...) Considering that the v14.0 update took us about 5 months, unfortunately some appliances are not going to have the very latest code. FWIW the changelog was signed off on [9th July](https://github.com/turnkeylinux-apps

[2015-09-22 01:15] JedMeister opened #465 "GitLab inithooks not working"
Following a report on the [forums](http://www.turnkeylinux.org/forum/support/20121126/gitlab-troubles#comment-23827) I investigated and discovered that the v14.0 GitLab inithooks aren't working. This means that you cannot log in to the GitLab interface.

Also the instructions on [resetting the admin password](http://doc.gitlab.com/ce/security/reset_root_password.html) seem like they are working bu

[2015-09-22 02:08] DocCyblade opened #466 "[TKLDev] Feature Request: git clone cache/proxy"
From a conversation found (https://github.com/l-arnold/tkl-nomadic-odoo/issues/11#issuecomment-142125653) there should be a wrapper that would "cache" or mirror GIT repos. The current system uses the built in proxy but due to the way GIT uses the HTTP as a transfer protocol it does not behave as one would expect and does not cache as we would expect.

So it would be nice to have such a script to p

[2015-09-22 02:16] JedMeister commented on #466
Thanks for testing this and discovering the issue Ken. I marked it as both a 'bug' and a 'feature request' as I think it's sort of both! :smile:

[2015-09-22 20:28] l-arnold commented on #466
I referenced here just now https://github.com/l-arnold/tkl-nomadic-odoo/issues/11 but thought since we have moved into Tracker to put the comment here as well.

It seems we can go to /turnkey/fab and mkdir git-cache
Run "git clone" to bring a full Git Set in to be available to TKLDEV.
Then the App build could call "git-cache/folder" just as "common" is called in TKLDEV processes.

Would save a lot

[2015-09-22 20:45] DocCyblade commented on #466
@l-arnold This is more to fix the current way TKLDev tool chain handles GIT in its builds. The current proxy does not seem to cache like it does for downloading zip or packages. This idea would allow TKLDev tool chain to do this with GIT repos. Really has nothing to do with Odoo specifically, it just happen I stumbled upon it when I was working with the Odoo build.

[2015-09-22 23:28] JedMeister commented on #466
Thinking about this a little more (and noticed that your gist is still a bare-bones template - nice template BTW :smile:)... So did you mean that Polipo (the caching proxy used in TKLDev) even when configured right won't cache `git clone` operations?

Or did you mean that setting the system vars just wasn't working? IIRC you said that git will honour the http/https proxy settings?

Anyway just had

[2015-09-23 01:06] DocCyblade commented on #466
Good call, I am going to run a few tests.

1. Clear proxy cache
2. Perform two down loads (1 from GIT hub zip file, 1 from another open source site
3. Check the content of the proxy cache (See if it is caching the files)
4. Clean cache again,
5. Try git clone using proxy server, set manually
5a. Full clone of small repo 30-40MB
5b. Full clone of large Odoo repo
5c. shallow clone of Odoo
6. Each of

[2015-09-23 01:47] JedMeister commented on #466
Sounds awesome! :+1:

[2015-09-23 02:09] DocCyblade commented on #466
@JedMeister Ok, so very strange, I can't seem to get anything github, even proxy request via curl to cache. I started looking into the manual pages of the proxy server TKLDev uses, learned way more than I wanted too...

Anyway googling away I stumbled upon this (http://comments.gmane.org/gmane.comp.web.polipo.user/3375)

Then it hit me... Duh! you can't cache https since, you can proxy it, but sin

[2015-09-23 02:24] DocCyblade commented on #466
FWIW I added a skeleton fab-https-dl.sh as well. Maybe one day....

[2015-09-23 02:34] DocCyblade opened #467 "[TKLDev] Feature Request: HTTPS downloader cache/proxy script"
Since HTTPS traffic is not cached via the proxy see (https://github.com/turnkeylinux/tracker/issues/466#issuecomment-142472156) for details. In that feature request (#446) was a request create a wrapper for git-clone, here it would be downloading files over https so they are stored locally (cached)

Maybe write a command like fab-https-dl to download files over https with caching baked in.

If thi

[2015-09-23 02:58] JedMeister commented on #466
Ah-ha! Great point! That didn't even occur to me!

Https caching is still quite do-able; however the proxy would need to do the https connection (to the remote server) and the connection between fab and the proxy would probably need to be http only...

Another way to go would be to essentially create a MITM proxy... Have a look at [this](http://serverfault.com/a/350994/211170) for an idea...

Usin

[2015-09-23 04:15] l-arnold commented on #466
I return to the "manual" approach.  Couldn't there be a /turnkey/fab/git-cache/  folder where Git Clones are pulled via normal "Git Clone" statements.

Would start a check to see if there is such a folder with data, then if so it is used, if not it it is git-cloned and used.

One can go via the Shell and Do that.  Trick then is for TKLDEV to use that DATA in the build as it does with Common.

Just

[2015-09-23 04:30] JedMeister commented on #467
Could be a good way to go. I guess then that downloads wouldn't use a full url; just the domain and path (and let the caching downloader work out what protocol to use)? The downside that I see with a method (if we are going to do it properly and actually remove the issue as a whole) is that we will then need to add/implement scritps for each command/tool. And currently there are quite a few... In

[2015-09-23 04:43] JedMeister commented on #466
@l-arnold that's actually not a bad idea. A bash function that overides git so make `git pull https://github.com/user/repo.git" do something like this instead:
[code]
(Note it's not a proper script; just the essence of a script to show my thinking).

[2015-09-23 05:33] JedMeister commented on #467
Some more bits:
Using git --reference (http://randyfay.com/node/93)
Note though that you will also need to `git repack` when done or the repo won't work... (http://randyfay.com/node/119)

As mentioned it looks like that's what drush does (https://github.com/drush-ops/drush/blob/master/commands/pm/package_handler/git_drupalorg.inc#L56-89)

And a similar suggestion for composer too
https://github.co

[2015-09-23 09:37] DocCyblade commented on #466
That's not a bad idea. I like it. Simple just that little bit would work for now!

A transparent proxy cache would the the goal however but that could be a good stop gap

[2015-09-23 09:51] DocCyblade commented on #467
Boy did I open a can of worms!

Good point in all the other scripts that use curl wget internally.

Again making this transparent or using a different proxy that would work for both https/http traffic would be good.

Lots of food for thought, my head hurts!

[2015-09-23 16:59] l-arnold commented on #466
Happy to test this if it speeds the current process.
My goal is to have an acceptable system for Odoo (I personally think it is generally working right now - or at least was last week).
If we can speed the builds with an implementation like this, lets try it.  Like I said, I can TEST!

[2015-09-23 20:51] JedMeister commented on #467
Yeah I agree (on all counts)! :smile:

[2015-09-29 23:58] DocCyblade commented on #466
I just added some code to the Odoo conf script to cache. Works like a treat. The first build takes along time, it is downloading the whole repo, but after that it will do an remote update and clone from local.

https://github.com/DocCyblade/tkl-odoo/blob/a4861036b2b29ab935cd277502a547b0d8aeb545/conf.d/main#L65

[2015-09-30 00:51] l-arnold commented on #466
nice.  Instructions may be needed.

[2015-09-30 01:57] DocCyblade commented on #466
Well after a few builds... I realized that the build scripts are running in a CHROOT! So this will not work. You need a proxy, something out side of the chroot script. Well back to the drawing board

[2015-09-30 02:25] l-arnold commented on #466
Therenis the tkl gitlab appliance theat could concievably work.  Mightveven be married to tkldev. But I have not used it.

How about writing a folder nextbto common wiyh a git clone command then giguring out how common parts are likewise brought in.

I'd say lets get the script working first.

[2015-09-30 02:26] l-arnold commented on #466
Github should also let mobile edit a post, ie many things are not perfect.

[2015-09-30 14:57] DocCyblade commented on #466
@l-arnold since the conf scripts run in a CHROOT so you can't  access outside the CHROOT to cache the GIT repo.

If there was some sort of service or proxy on another port like the web proxy but specific to GIT repos.

Using part of the git lab code for delivery of the GIT could work, the issue with large repos like Odoo it could time out before the whole repo would be downloaded.

An Proxy that s

[2015-10-01 03:49] JedMeister opened #468 "Configure recycle bin for users"
As suggested in the [forums](http://www.turnkeylinux.org/forum/general/20150930/fileserver-samba-recycle-bin-proposed-solution-next-release) the fileserver appliance could pre-configure users with recycle bin enabled.

If possible maybe we could set that as default for new users too?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/270

[2015-10-01 04:43] JedMeister commented on #466
Bugger. TBH that never occurred to me, but now you mention it it's obvious... So we'll need to go a different direction. I think that MITM https proxy might be the go...

[2015-10-01 19:55] wvengen opened #469 "Foodsoft fixes"
Somehow the background worker of the Foodsoft appliance doesn't start anymore, and switching the variant can sometimes cause a problem.
There's a pull request in https://github.com/turnkeylinux-apps/foodsoft/pull/1 to fix these issues.

[2015-10-01 22:17] JedMeister opened #470 "[tklbam-restore] no log after successful restore using --debug switch"
Jacob reports in the forums that after doing a TKLBAM restore with the `--debug` switch that there is no `/var/log/tklbam-restore.log`. IMO it should log regardless...

[2015-10-02 05:39] JedMeister commented on #469
Great thanks! :+1:

[2015-10-02 06:13] JedMeister opened #471 "inithooks sysvinit script broken in container builds"
Looks like it was  https://github.com/turnkeylinux/inithooks/commit/2bff0a574712ce799e526f034c7176ab7c147dfb that broke it...

[2015-10-05 02:17] JedMeister opened #472 "merge new nodejs install code to common"
Liraz rebuilt the [Nodejs](https://github.com/turnkeylinux-apps/nodejs) just before v14.0 release. To eliminate risk of regressions in other appliances he only updated the appliance code (not common). The install code needs to be removed from the appliance and merged with the current nodejs install code in common

[2015-10-05 02:20] JedMeister opened #473 "deck --isdirty not working as it should"
deck --isdirty» is not working as it produces a zero status code regardless of whether the deck is dirty or not

[2015-10-05 06:31] JedMeister opened #474 "install missing deps so torrentserver doesn't complain"
On launch the torrentserver complains that it has missing dependencies
[code]

[2015-10-06 01:37] JedMeister opened #475 "OTRS landing page doc links broken"
As mentioned by TOny in the [forums](https://www.turnkeylinux.org/forum/support/20151003/otrs-ticketcounterlog#comment-23982) the OTRS landing page has some links that need updating...

[2015-10-06 04:16] JedMeister opened #476 "OTRS missing dependencies"
as discussed on the [forums](http://www.turnkeylinux.org/forum/support/20151002/perl-modules-not-installed)

[2015-10-06 05:56] #475 closed

[2015-10-06 06:06] #476 closed

[2015-10-06 06:41] JedMeister opened #477 "Nodejs version change"
As Nodejs has jumped version numbers we need to update our build code.

In progress due to these PRs:
https://github.com/turnkeylinux/common/pull/53
https://github.com/turnkeylinux-apps/etherpad/pull/4

[2015-10-06 13:35] #247 closed

[2015-10-09 00:45] jeroenpeters1986 commented on #444
Hi @alonswartz, I already made code for this and tested it. Can I just reapply the pullrequest? it was denied the last time because the 14.0 release was coming :)

[2015-10-09 12:26] JedMeister commented on #305
I'm closing this. The v13.0 appliance still has this bug but the v14.0 appliance is out now with rTorrent/ruTorrent instead.

[2015-10-09 12:26] #305 closed

[2015-10-09 12:35] JedMeister commented on #398
Closing this due to the fact that we did not build the bamboo invoice appliance for v14.0.

[2015-10-09 12:35] #398 closed

[2015-10-10 05:14] bormanst opened #478 "New appliance: FormaVid: Small Business Appliance"
Thank you for your consideration.

Repo: https://github.com/bormanst/formavid
Whiteboard: https://github.com/turnkeylinux/tracker/wiki/FormaVid
Additional Info: http://formavid.org

This is a tkldev v14 (rc3) build. Thanks and kudos to all involved in developing v14, especially with respect to releasing rc3 so quickly after rc2.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty o

[2015-10-10 20:18] bormanst commented on #478
Added some convenience links (from Candidates wiki):

Repo: https://github.com/bormanst/formavid
Whiteboard: https://github.com/turnkeylinux/tracker/wiki/FormaVid
Additional Info: http://formavid.org

[2015-10-10 20:32] bormanst commented on #478
Also of note:

This is a tkldev v14 (rc3) build. Thanks and kudos to all involved in developing v14, especially with respect to releasing rc3 so quickly after rc2.

[2015-10-12 05:40] JedMeister opened #479 "v14.0 Nginx needs tweak..."
As highlighted on the [forums](http://www.turnkeylinux.org/forum/support/20151008/nginx-14-ssl-fix) a fix is needed for the nginx appliance

[2015-10-12 17:34] DocCyblade commented on #466
@JedMeister - Trying to figure a way to clone a git repo specifically, however cacheing all https traffic via proxy port would be ideal. Is there away have a proxy server get content from https, then delivery the content via http internally, basically translating it from one protocol to another? You could then double proxy so that the first proxy request the url to the second proxy, this proxy req

[2015-10-12 21:57] JedMeister commented on #466
IIRC I posted a link somewhere on using squid as a MITM https proxy. I didn't read very far but the general gist of it was that traffic was https between proxy and program and proxy and website.

So for a slightly more detailed answer:
All DNS querries redirect to localhost where the proxy is waiting. The proxy (falsely) identifies itself as the requested websiteusing a(n invalid) self signed loca

[2015-10-12 22:04] DocCyblade commented on #466
If you think that's the way we should look I'll dive in and see if I can tweak the tkldev build to use that. It would I expect this would replace the current one

[2015-10-12 22:11] JedMeister commented on #466
Despite the fact that part of me doesn't like it (because it could so easily be abused); I think that the MITM proxy would be the best way and most similar to how it's currently done...

[2015-10-12 22:13] DocCyblade commented on #466
Understandable, it does solve https downloads at the same time not breaking anything already written. I'll give it a spin. Will be a branch off my fork of tkldev build.

[2015-10-12 22:31] DocCyblade commented on #466
This issue should probably be closed as a duplicate, as #467 really would solve this and https traffic as well.

[2015-10-12 22:34] DocCyblade commented on #467
Moving the conversation here from #466 - I just [cloned tkldev build and setup a working branch](https://github.com/DocCyblade/tkldev/tree/https-proxy) and will start looking around. Current proxy does more than just http proxy, so not sure if squid would fully be able to replace the current or use both.

[2015-10-12 22:36] JedMeister commented on #466
Yep; let's close.

[2015-10-12 22:36] #466 closed

[2015-10-12 22:43] JedMeister commented on #467
Does it? What? It does cache the apt stuff too but that is still http really...

Besides Squid can do anything! :smile:

IMO a stepped/staged process would be the go. With steps like this:
1. Setup Squid to handle the https proxying only (i.e. side-by-side with polipo)
2. Relieve polipo of general http proxying duties too
3. Remove polio completely and replace all functionality with squid.

Achiev

[2015-10-12 23:13] DocCyblade commented on #467
Sounds like a plan.... Looks like I need to read up on squid! I like the stepped approach. I was thinking of doing just that, adding squid and setting it up on another port. Exporting the https_proxy variable so that GIT would use it. I think if we use wget that would work as well for https

[2015-10-13 00:09] JedMeister commented on #467
Sounds great! :smile:

[2015-10-20 06:16] xanderdin opened #480 "v14 webmin-postgresql is missing in PostgreSQL applience"
There is a missing end comment mark in plan/main leading to missing webmin-postgresql. I've posted a pull request fixing that issue several days ago but it looks like nobody notices it, so I'm opening this issue here.

[2015-10-20 07:42] JedMeister commented on #480
Thanks @xanderdin. THanks for finding the issue and extra thanks for the PR. I did notice, but we tend to process PRs in batches.

I've tagged this appropriately (`inprogress` may seem weird; it just means that a PR to fix it exists but has not been merged).

[2015-10-20 08:25] JedMeister opened #481 "TKLBAM ideally should log restore rollback"
As per subject. Mentioned on the [forums]().

[2015-10-20 23:29] #465 closed

[2015-10-20 23:30] #479 closed

[2015-10-20 23:41] JedMeister commented on #469
merged

[2015-10-20 23:41] #469 closed

[2015-10-20 23:43] JedMeister commented on #457
Closing

[2015-10-20 23:43] #457 closed

[2015-10-20 23:44] JedMeister commented on #456
I'm closing this for now; please reopen if need be.

[2015-10-20 23:44] #456 closed

[2015-10-20 23:49] JedMeister commented on #444
Hi @jeroenpeters1986 - apologies on the radio silence. I've been busy working on the optimised builds... TBH I'm not sure why Alon closed your original PR (rather than just leaving it unmerged for now).

I have reopened but I see that there are now conflicts (I didn't look at what they are).

[2015-10-20 23:50] JedMeister commented on #480
Merged

[2015-10-20 23:50] #480 closed

[2015-10-20 23:53] JedMeister commented on #440
Whilst this bug still exists in the v13.0 appliance I am closing this as the v14.0 appliance has been released and this issue appears to be resolved.

[2015-10-20 23:53] #440 closed

[2015-10-20 23:54] JedMeister commented on #414
Closing as this is now fixed.

[2015-10-20 23:54] #414 closed

[2015-10-20 23:55] JedMeister commented on #394
Closing as this should now be fixed. Please reopen if you have further issues.

[2015-10-20 23:55] #394 closed

[2015-10-20 23:59] JedMeister commented on #349
I'm closing this for now as it's an upstream issue. Also we no longer support IE8 OOTB sorry (if it works great; if not you'll need to use a workaround such as using Chrome or Firefox instead). Please reopen if it also effects IE11.

[2015-10-20 23:59] #349 closed

[2015-10-21 00:01] JedMeister commented on #341
I am closing this issue now as I have been unable to reproduce recently. I think it was perhaps caused by the Debian repos being flooded soon after the release of Jessie...

[2015-10-21 00:01] #341 closed

[2015-10-21 04:05] JedMeister commented on #478
Thanks for submitting your appliance code. I'm still finalising the v14.0 release. We have already built (and published) all of the ISOs (with one special case exception) and we just need to finish up the optimised builds (e.g. virtual machine images, etc).

Once all that is complete then I will be in a better position to look over your code properly and we can go from there.

To be clear this won

[2015-10-21 04:07] JedMeister commented on #321
The fix for this is in progress.

Also FWIW for v14.0 we will be releasing an OVA build (as per #320) rather than the current zipped OVF.

[2015-10-21 21:18] bormanst commented on #478
Awesome, I look forward to helping make this a viable appliance for your site. I've been using a hacked/hardwired 32 bit version of it since tkldev v12. I was in the process of doing a 64 bit build when I saw v14 being developed so I decided to put in the extra effort to comply with the TurnkeyLinux submission requirements in case you guys deemed it something of value as well. I've greatly appreci

[2015-10-24 13:50] lirazsiri opened #482 "Provide more reliable outgoing mail (i.e. preconfigure TKL to use a remote relay)"
https://aws.amazon.com/marketplace/review/product-reviews/ref=dtl_pop_customer_reviews?ie=UTF8&asin=B00E8NLFKO

Bugzilla needs to be able to generate emails, and the TurnKey solution is not setup to properly send emails hooked up to Amazon's SES email system (which is the only way you are sending emails outside of AWS without them being flat out rejected by inbound mail servers.)

I understand tha

[2015-10-24 14:11] lirazsiri commented on #482
Another related complaint:

https://aws.amazon.com/marketplace/review/product-review-comments/?ie=UTF8&asin=B007I8OOJ0&appAction=&appActionToken=1TYAklheosVcoTeaokga5a2fQz0j3D&reviewId=_1RRUC8FC8Q7S0

[2015-10-24 14:39] lirazsiri opened #483 "improve AWS marketplace UX by disabling automatic installation of security updates"
It seems many AWS marketplace complaints seem to originate in lack of awareness of why the appliance is not immediately serviceable after boot (e.g., because it's installing security updates, which can take a few minutes to complete).

I propose we disable automatic installation of security updates post-boot and let the user choose whether or not they want that as part of the initialization proces

[2015-10-24 14:44] DocCyblade commented on #483
Would this be on all TKL distributions or just ones modified for AWS install in the cloud. Sorry to speak out of ignorance as I only know the ISO build process and not familiar with the AWS and other builds.

[2015-10-24 14:47] lirazsiri commented on #483
I'm suggesting this only for the AWS builds. I still think installing security updates on first boot is a great idea. It's just a problem if it breaks the user experience when it happens in an environment we have less control over (e.g., deployments AWS marketplace). At least with the ISOs we have the console and can tell the user what we're doing.

[2015-10-24 14:50] lirazsiri opened #484 "AWS marketplace feedback: make random root password in system log more prominent"
Another repeating source of AWS marketplace complaints originates in users who can't seem to pick out the random root password in the system log. It might be a good idea to tweak the script the prints out the root password to the system log so that section sticks out more / is harder to miss. I bet that would also improve the user experience for users that do manage to pick it out. It'll just take

[2015-10-24 14:56] DocCyblade commented on #483
Ahh ok. I have not had any experience with TKL on AWS as I host all mine locally with VMWare or Just recently Proxmox. I should get a small instance to play around with to learn that aspect.

I agree security updates are important on first boot. Again speaking out of ignorance, being that these are in the cloud security updates are even more important. When I spin up a VM that will be internet fac

[2015-10-26 02:10] JedMeister opened #485 "Consider using upstream piwiki debian package for v14.1"
Piwiki provide an "official" debian package in their github repo (see [here](https://github.com/piwik/piwik-package)). This may be a better install option for TurnKey?

[2015-10-26 02:17] JedMeister commented on #482
For the record; the perl module `Email::Send::SMTP::TLS` is [packaged in Debian](https://packages.debian.org/jessie/libemail-sender-transport-smtp-tls-perl) so can be easily installed with:
[code]

[2015-10-27 14:10] xanderdin commented on #386
Hi guys! Any chance to get phpPgAdmin back? My users are upset. Adminer does not provide enough functionality compared to phpPgAdmin. I created a <a href='https://github.com/xanderdin/postgresql'>fork</a> adding it back (listening on port 12323). It isn't hard for me to keep it for my users. But may be you're going to change your mind too? Would you mind of a pull request?

[2015-10-28 04:54] JedMeister commented on #386
Hi @xanderdin - How about you [open a new issue](https://github.com/turnkeylinux/tracker/issues/new)?

FYI at this point the v14.0 images are finailsed so it won't be happening anytime real soon. However I'll endeavour to discuss it further with Alon and if it has it's own issue then it won't get forgotten. Also if we were to reintroduce phpPgAdmin I'd be inclined to swap Adminer back out again (r

[2015-10-28 11:35] xanderdin commented on #386
Ok, I got your point. I feel like it doesn't need to be returned if it doesn't affect anyone else. Just notified that in case of 'if' there's someone who has the job already done :). That's why I'm not opening a new issue.

What does Adminer lack? It's easier to open both of them together and compare. Please, try to find user defined functions in a postgres DB, try to view and change triggers, try

[2015-10-28 11:43] DocCyblade commented on #386
I could be wrong but is there license issue with using one or the other. IIRC I think there was some license reason but don't remember the details. @JedMeister do you remember ?

[2015-10-28 12:55] JedMeister commented on #386
@xanderdin - Always appreciate input and feedback! So thanks for taking the time. :smile: And thanks for the roundup of "missing features" in Adminer; I'm not a big Postgres user (actually DBs in general...) so that is very useful info.

As I said is it what it is for v14.0 but we may re-visit this for v14.1. Perhaps we'll wait and see. Maybe we can just document swapping them back for those that

[2015-10-29 14:51] aaronkempf commented on #386
Wow. From what I can understand.. I think that adminer is a step down on
both the Mysql AND the postgres side.

I think every appliance should have all three Adminer, phpMy AND phppg

I don't see the merits of adminer.  And I'm frustrated that the ports are
inconsistent throughout the apps.

What port do I use for databases on the WordPress app, and on the lapp
appliance ?

As a DBA.  I was always

[2015-10-30 03:58] wyzelli commented on #455
I just discovered this as well, and it is a Perl syntax error - the script is using quoted words including the word 'time' which I believe is a reserved word in current release of Perl.

I made some minor changes to the code and resolved the problem, by explicitly quoting the string.

I changed line 7 of the restore_run.cgi from:

    foreach my $var qw(skpp id force passphrase

[2015-10-30 13:48] l-arnold commented on #386
I think this is an example of how "simple extension scriipts" would solve different things on different appliances.  Basically it would be quite easy to have a small package that loads to any of the DB Apps that added additional manager software.

Similar to what we have discussed towards extending some of the CRM/Accounting type apps (Odoo for instance).

The beauty of a "script" is that it shoul

[2015-11-02 01:44] wyzelli commented on #455
Further research cause me to believe this is actually a Perl issue which has been fixed in a later release. Perl is currently 5.22.x and Jessie runs 5.20.x by default.

This can also be fixed by enclosing the entire qw(skpp ... ) expression in parens like so: (qw(skpp ... ))

(or by updating the Perl Distro)

Peter

[2015-11-03 10:42] JedMeister opened #486 "remove temporary fixes from buildtasks and add them in the relevant and proper places"
files have been added to buildtasks overlays but need to be moved to the proper places; mostly inithooks but also common.

[2015-11-03 22:01] JedMeister commented on #455
@wyzelli - Thanks tons for the info and the workaround. We'll need to implement that ASAP...

[2015-11-03 23:16] wyzelli commented on #455
@JedMeister You're welcome.  It looks like the script would need to be modified since Perl no longer supports the qw(skpp ...) syntax in certain contexts.  This appears to be a syntax that was not supported in 5.8, then was in 5.14 (by default in Wheezy) then removed again in 5.20, so 5.22 won't fix it unfortunately (I have just tested that on my own machine - it still gives the syntax error).  So

[2015-11-04 02:03] wyzelli commented on #455
@JedMeister As far as I can tell, the only other files in the /usr/share/webmin/tklbam directory which would be affected by this issue are : log_parser.pl and tklbam-lib.pl

[2015-11-04 02:46] JedMeister commented on #455
@wyzelli - Awesome! You rock!

[2015-11-04 12:15] lirazsiri commented on #455
Thanks guys. I'll commit a change and we'll update the package repository ASAP.

[2015-11-04 14:48] jtessier72 opened #487 "observium - php5-mcrypt package missing"
After install and configure, web page has warning that php5-mcrypt is missing. Installing this and restarting apache resolves.

Turnkey Observium 14.0, ova, vSphere 5.5 U3.

[2015-11-04 14:57] jtessier72 opened #488 "observium - unable to add device manually via web, Could not ping <hostname>"
Devices can be added manually via CLI, can be discovered, however devices cannot be added manually.

fping, snmpwalk to device works. Device can be auto-discovered as well.

Devices -> Add Device

Enter hostname and SNMP string

Error returned is:
Could not ping <hostname>.

Perhaps issue where www-data cannot execute fping?

[2015-11-04 15:27] jtessier72 commented on #488
chmod +s /usr/bin/fping resolves this issue.

[2015-11-06 08:34] JedMeister opened #489 "(Still) problems updating WordPress..."
Argh! It seems this is still an issue in v14.0 WordPress... :cry:

Please try this and report back:
[code]

[2015-11-07 00:18] JedMeister commented on #487
@jtessier72 - Thanks for the report.

[2015-11-07 00:19] JedMeister commented on #488
@jtessier72 - Thanks again for reporting & bonus points for providing fixes! :+1:

[2015-11-07 00:26] JedMeister commented on #386
@aaronkempf - Thanks for your feedback. As I noted above we had (IMO a good) reason for ditching phpMyAdmin. Beyond your comment (and IIRC one other in the forums) we have not had negative comment regarding the replacement of phpMyAdmin. In fact we have had quite a bit of positive feedback (including a few confirmed phpMyAdmin lovers). However it does seem that Adminer lacks features that are incl

[2015-11-07 00:32] JedMeister commented on #48
closing as this has been implemented

[2015-11-07 00:32] #48 closed

[2015-11-07 00:34] JedMeister opened #490 "Two-factor authentication for the Hub"
Rob has requested 2 Factor Authentication for the Hub.

[2015-11-08 22:51] JedMeister opened #491 "Appliances needing rebuild or bugfix"
This issue is to track appliances that have bugs AND fixes and essentially just need to be rebuilt (or patched). <s>Once we have 10 ready to go then we will rebuild them (rather than waiting for next release).</s> - change of plan, see below.

I have included 10 checkboxes And will add apps as I come across them. Please feel free to commit with suggestions - although not that they are only applian

[2015-11-08 22:55] JedMeister commented on #471
The workaround is provided by files in the headless/container patch in buildtasks. So the current container builds are fine.

So I am closing this for now; as #486 covers what needs to happen. The proper fix will close that issue.

[2015-11-08 22:55] #471 closed

[2015-11-09 00:40] JedMeister opened #492 "Document Fileserver TKLBAM migration from v13.0 to v14.x"
Jacob has done a fantastic job of troubleshooting and explaining what needs doing to migrate to v14.0 Fileserver appliance (see [forum thread](http://www.turnkeylinux.org/forum/support/20151001/file-server-appliance14-webmin-not-working). Ideally this should be tidied up into a straightforward doc and/or helper script (tklbam hook script?).
## <bountysource-plugin>

Want to back this issue? **[Pos

[2015-11-09 00:49] JedMeister opened #493 "Webmin Software Packages 'Package is no longer installed' (v1.760/v1.770 on v14.0"
Initially I thought that this issue was related to #492. There are some Webmin issues after migrating from v13.0 to v14.0 (using TKLBAM). Jacob has done great work troubleshooting (see the [forums](http://www.turnkeylinux.org/forum/support/20151001/file-server-appliance14-webmin-not-working)); but there still remains an issue.

Namely missing functionality:

## <bountysource-plugin>

Want to back

[2015-11-09 00:57] JedMeister opened #494 "Redmine v14.0 broken OOTB"
It has been reported (and confirmed) on the [forums](https://www.turnkeylinux.org/forum/support/20151014/redmine-turnkey-v14-not-working-errconnectionrefused) that the Redmine appliance is broken OOTB.

[2015-11-09 01:08] JedMeister opened #495 "DokuWiki Extension Manager gives blank page"
As reported in the [forums](https://www.turnkeylinux.org/forum/support/20151103/dokuwiki-v14-ova-extension-manager-not-working) when browsing to the DokuWiki Extension Manager you get a blank page. It has been reported that disabling XCache resolves this.

[2015-11-11 09:44] JedMeister opened #496 "update webmin packages to 1.780"

[2015-11-11 10:12] JedMeister commented on #493
Someone else has reported: https://virtualmin.com/node/38076

[2015-11-12 00:57] JedMeister commented on #462
[Released](https://www.turnkeylinux.org/blog/14.0-optimized-builds-pt2-proxmox-opennode-docker).

Please feel free to provide feedback. I suggest either on the [blog post](https://www.turnkeylinux.org/blog/14.0-optimized-builds-pt2-proxmox-opennode-docker); a [new forum thread](https://www.turnkeylinux.org/node/add/forum/0); or report bugs [here](https://github.com/turnkeylinux/tracker/issues/new)

[2015-11-12 00:57] #462 closed

[2015-11-12 23:38] JedMeister opened #497 "document updating v14.0 owncloud appliance to upstream latest version"
I have previously stated that I was going to document how to update ownCloud appliance to use latest upstream version (rather than  the Debian repo version - as installed in v14.0). I haven't yet done this and not sure when I will get a chance; however I wanted to post this here so that it doesn't get forgotten...

IMO ideally it'd be cool to provide a helper script to make it really easy for user

[2015-11-13 01:25] JedMeister opened #498 "proxmox builds state that they are "regenerating keys and installing updates" every login"
I have just discovered that everytime a user logs into the Proxmox web console, the appliances state that they are "regenerating keys and installing updates". They aren't and shouldn't say that they are!

This will need to be fixed in both buildtasks and inithooks.

[2015-11-13 03:46] JedMeister commented on #493
Workaround:
[code]

[2015-11-13 03:52] JedMeister opened #499 "trac appliance broken OOTB"
As reported by Seth on the [forums](https://www.turnkeylinux.org/forum/support/20151112/tkl-trac-14-appliance-no-response-default-http-and-https) the Trac appliance is broken OOTB. Easy fix is to remove the line that refers to the cert.

[2015-11-14 10:33] JedMeister commented on #460
This is the fix:
[code]
Strictly speaking the last line isn't required but it makes it more user friendly IMO...

[2015-11-16 04:48] JedMeister commented on #499
closed by https://github.com/turnkeylinux-apps/trac/pull/3

[2015-11-16 04:48] #499 closed

[2015-11-16 23:05] JedMeister opened #500 "Redmine API broken"
Brian posted on the forums regarding an issue with the config of the Redmine API in the TurnKey Redmine appliance.

See the post [here](https://www.turnkeylinux.org/forum/support/20151014/redmine-turnkey-v14-not-working-errconnectionrefused#comment-24307)

[2015-11-16 23:23] #494 closed

[2015-11-16 23:32] JedMeister commented on #321
This issue should now be resolved as of [v14.0 OVA container build release](https://www.turnkeylinux.org/blog/14.0-optimized-builds-pt1-vmdk-ova)

[2015-11-16 23:32] #321 closed

[2015-11-16 23:33] JedMeister commented on #320
Closing as now OVA is default TurnKey VM build (see [v14.0 OVA container build release](https://www.turnkeylinux.org/blog/14.0-optimized-builds-pt1-vmdk-ova))

[2015-11-16 23:33] #320 closed

[2015-11-17 16:17] lirazsiri commented on #304
Now that we support OVA the issues raised in the thread have hopefully been resolved.

[2015-11-17 16:17] #304 closed

[2015-11-17 16:19] lirazsiri commented on #303
I'm closing this as a wontfix. We dropped 32bit support in the latest release.

[2015-11-17 16:19] #303 closed

[2015-11-17 16:49] lirazsiri commented on #278
FWIW, upgrading to the latest version of userpoints doesn't fix this so I'm hiding the link.

[2015-11-17 16:49] #278 closed

[2015-11-17 17:18] lirazsiri commented on #277
Workaround: disabled sorting block until we switch to Solr. That way at least users don't expect this to work.

[2015-11-19 17:08] lirazsiri commented on #455
I committed the fix to the offending line of code and also removed other uses of qw for good measure just in case Perl continues to "evolve" that part of its syntax. Sorry for the slow response. The fix was indeed very simple but I figured it would be a good idea to pre-emptively remove other uses of qw and that required me to carve out a larger chunk of time for testing.

Hopefully by tomorrow th

[2015-11-19 17:08] #455 closed

[2015-11-19 17:13] lirazsiri commented on #350
All packages during TKLBAM restore are installed non-interactively. This looks like a bug in the vmware tools package where it doesn't respect that.

Making the TKLBAM restore process interactive isn't the solution as we rely on non-interactivity in other areas such as restoring backups in the Hub.

[2015-11-19 17:17] lirazsiri commented on #208
I looked into this and the issue is that while storing backups to glacier is easy and cheap restoring them is potentially super expensive, in a really unintuitive way. You can restore a few percent of your glacier storage cheaply but if you need to restore a big chunk in a hurry you may end up paying thousands of dollars in extra fees. To prevent nasty surprises we would have to educate users abou

[2015-11-19 17:20] lirazsiri commented on #190
I agree that reducing the number of backups the users can see by default would improve the user experience a bit. By default you shouldn't necessarily see backups you can't restore, because they don't match your sever's profile, unless you ask for that explicitly.

I'd welcome other ideas.

[2015-11-19 17:23] lirazsiri commented on #291
Alright. I'll look into this for the next TKLBAM maintenance round.

[2015-11-19 17:27] lirazsiri commented on #334
Not sure what we should do about this. I'm not too keen on silently manipulating the SSH configuration to prevent someone from locking themselves out accidentally.

If someone runs into this they should try this:

 tklbam-restore --limits="-/etc/ssh"

That should prevent tklbam from restoring /etc/ssh.

[2015-11-19 17:27] l-arnold commented on #455
Nice work guys!

[2015-11-19 17:32] lirazsiri commented on #415
Since Squid is doing the caching what's happening is that from TKLBAM's perspect there really is a timeout. We could add some logic to monitor diskspace usage and warn the user about that.

In the meantime, we can configure how large the cache can get with the --restore-cache-size option.
Also, the logcaion restore cache is already configurable via the --restore-cache-dir= tklbam-restore option.

[2015-11-19 17:41] lirazsiri commented on #312
I'll take another look at implementing status/progress bar into the restore process in the next round of TKLBAM maintenance. TKLBAM inherits this weakness from Duplicity but Duplicity has made some progress since the last update of TKLBAM's version.

[2015-11-19 17:42] lirazsiri commented on #481
Agreed. Shouldn't be a problem to implement that. I always assumed rollback would be interactive but maybe not the safest assumption to make.

[2015-11-19 20:55] arieljlira opened #501 "Add support for S3 Infrequent Access"
Hi guys, I think it would be great if tklbam+hub support S3 Standard IA because it is almost the same as S3 Standard but cheaper (50% less per GB).
This type of storage would be particularly useful to store full backups (because minimum period for billing is 30 days).  I think Regular incremental backups should stay in Standard S3 because its retention period in general is shorter than 30 days.

I

[2015-11-20 01:06] JedMeister opened #502 "Problem with Squid in TKLBAM install on vanilla Debian"
As noted in the [forums](https://www.turnkeylinux.org/forum/support/20150820/retrofit-existing-debian-installation-tklbam) Christian is having issues using TKLBAM with vanilla Debian.

[2015-11-20 01:49] JedMeister opened #503 "bug in Plone will cause new sub-sites to be broken OOTB"
I have deployed a [fix](https://github.com/turnkeylinux-apps/plone/pull/5) to the build code repo; but need to implement a package fix...

[2015-11-20 01:56] JedMeister commented on #190
I think that your solution would be fine. Perhaps show just backups that relate the that particular server (backup ID); but with option to show all backups (or ideally backups that match the profile and all backups as separate options). That's my 2c anyway...

[2015-11-20 02:11] JedMeister commented on #491
I have changed the wording and name of this issue as we possibly won't actually rebuild appliances that essentially work OOTB but have bugs. Instead for these we plan to implement debian bugfix packages. Once we have the details worked out then I will post further info...

[2015-11-20 07:39] cboulanger commented on #502
As described [here](http://www.turnkeylinux.org/forum/support/20150820/retrofit-existing-debian-installation-tklbam#comment-24397), the problem does not affect Vanilla Debian (alone), but also happens with TKL-based Docker installations. Maybe it is even specific to the Docker setup? The squid problem occurred in Docker containers in both cases (Vanilla Debian and TKL-14.0).

[2015-11-20 07:44] JedMeister commented on #502
Thanks for the clarification. Apologies on my incorrect/incomplete summary

[2015-11-20 10:14] ElColmo opened #504 "Turnkey bundles version of Jenkins vulnerable to Remote Code Execution"
Jenkins < version 1.638 (Community Edition) and < version 1.625.2 (Enterprise edition) are vulnerable to Java Object Deserialization Remote Code Execution.

Turnkey bundles a vulnerable instance of Jenkins.

Suggested Action:
Upgrade repo for Jenkins version 1.638 as soon as possible.

References:
https://jenkins-ci.org/content/mitigating-unauthenticated-remote-code-execution-0-day-jenkins-cli

[2015-11-22 21:59] JedMeister commented on #334
I think that you may have misunderstood (probably I didn't explain well) IIRC the issue is not that users locked themselves out; it's that the sudo user accounts are somehow not restored properly. So after a restore you have a system where you do not have root access (because it was disabled previously - behaviour as expected); and sudo user(s) (that were used instead of root) credentials no longe

[2015-11-22 22:06] JedMeister commented on #415
Looks like we'll need to update the TKLBAM website docs [e.g. tklbam-restore docs on website](https://www.turnkeylinux.org/docs/tklbam/man/tklbam-restore) vs [ tklbam-restore docs on github](https://github.com/turnkeylinux/tklbam/blob/master/docs/tklbam-restore.txt).

[2015-11-23 06:24] JedMeister commented on #504
Thank you very much for the info.

Can you confirm that updating does not break the current TurnKey appliance?

Currently TurnKey uses the general "debian" repo; however in retrospect we should have used the "debian-stable" repo and included it in the auto-security updates...

[2015-11-23 09:00] ElColmo commented on #504
Hi JedMeister.

The Turnkey instances on which I noticed this issue are not mine to administer,so unfortunately, I can't confirm this for you. I only noticed the issue after I read the Jenkins advisory, and went looking for Jenkins instances (which turned out to be running on Turnkey).

[2015-11-23 23:59] JedMeister commented on #504
NP. We'll release a new image ASAP that includes a secure version (probably switch to the LTS/debian-stable repo). Also I will test updating the current appliance for users that are already running it.

[2015-11-25 14:51] ElColmo commented on #504
Thanks. Any update on whether this works cleanly?  Is there some Turnkey specific remediation page to which I can start referring the admins of TurnKey instances?

[2015-11-25 22:02] JedMeister commented on #504
Apologies that I haven't posted sooner.

The current TKL Jenkins app has v1.627 (installed from "Latest&Greatest" repo aka "debian"). The latest version there is v1.638. The [LTS repo](https://wiki.jenkins-ci.org/display/JENKINS/LTS+Release+Line) (aka "debain-stable") has v1.625.2. Both versions have this vulnerability patched.

Jenkins design the software to be updated so assuming that there are

[2015-11-26 15:51] ElColmo commented on #504
Thanks JedMeister!

[2015-11-26 17:44] lirazsiri commented on #504
New builds of TurnKey Jenkins have been published. The old vulnerable builds are no longer available for download.

[2015-11-26 20:53] lirazsiri commented on #504
I wrote up a security advisory on the blog: https://www.turnkeylinux.org/blog/jenkins-remote-code-execution.

I also sent this out as an announcement on the security newsletter: https://www.turnkeylinux.org/announcements

Thanks again to ElColmo for reporting this.

[2015-11-26 20:53] #504 closed

[2015-11-27 05:34] JedMeister opened #505 "Concrete5 can't login with admin user"
As discussed on the [forums](https://www.turnkeylinux.org/forum/support/20151125/concrete5-140-cannot-log-website-after-installation).

Workaround:
[code]

[2015-11-27 05:37] JedMeister opened #506 "MongoDB can't login with admin user"
As discussed on the [forums](https://www.turnkeylinux.org/forum/support/20121224/unable-login-mongodb#comment-23908).

Workaround:
[code]

[2015-11-27 06:53] JedMeister opened #507 "Jenkins log includes complaint about missing plugin (dependency)"
IN the Jenkins appliance logs you can see:

[code]

This is easily fixed by installing the missing plugin:
[code]

[2015-11-28 04:34] vinothpr opened #508 "Unable to edit controller files"
Hi,

I am not able to edit python files for my newly created app through the browser. Tried different browsers from different machines still does not work. The code edit frame does not load when I click on the edit link.

regards
Vinoth

[2015-11-28 15:43] gitswitch opened #509 "Turnkey Lamp Debian 7.6 Upgraded on AWS don't boot kernel compression format gz xv (Amazon Support reply)"
Hi guys
we have an instance on AWS with Turnkey Linux 7.6,Wheezy this instance had important application that required package upgrade as libcurl php5-memcached glib and many other dependency, we failed to upgrade changing many time the deb source list and many other steps (see the url at bottom of the page), finally we directly upgrade to the 8 version of Debian Jessie all was working fine but wh

[2015-11-29 22:57] JedMeister opened #510 "GitLab inithook uses 'systemctl' calls; should use 'service'"
This will only be an issue for container builds of GitLab (as they use SysVInit instead of SystemD).

The file that needs fixing is:
gitlab/overlay/usr/lib/inithooks/bin/gitlab.py

Note that both NodeJS and GitLab both use systemctl calls during build but that is not currently an issue as the build process will not work within a container currently anyway...

[2015-11-29 23:40] JedMeister commented on #508
As noted in the [readme](/turnkeylinux/tracker#turnkey-dev-tracker) this is our issue tracker (i.e. for bugs and feature requests). For support, please post on our [support forums](https://www.turnkeylinux.org/forum/support). Also include info on how you are trying to "edit python files ... through the browser" . I don't really understand what your problem is...

[2015-11-29 23:40] #508 closed

[2015-11-29 23:41] JedMeister commented on #509
As noted in the [readme](/turnkeylinux/tracker#turnkey-dev-tracker) this is our issue tracker (i.e. for bugs and feature requests). I note that you have posted on our [support forums](https://www.turnkeylinux.org/forum/support) so I'm closing this.

[2015-11-30 03:01] JedMeister opened #511 "Improve appliance READMEs to clarify security"
[See what Liraz did with Jenkins README](https://github.com/turnkeylinux-apps/jenkins/commit/e216e5d9e416f4eacc9578607e9331513ca8f5a7) and rewrite other appliance READMEs to be in line with that.

[2015-11-30 03:02] JedMeister commented on #356
Limitation of systemd; labelled as "won't fix" and closing for now.

[2015-11-30 03:02] #356 closed

[2015-11-30 03:03] JedMeister commented on #338
Limitation of systemd; labelled as "won't fix" and closing for now.

[2015-11-30 03:25] JedMeister commented on #510
I had a bit more of a dig into this and it seems that the current systemd init script are downloaded [here](). We'll need to also include a sysvinit script. There are some [here](https://gitlab.com/gitlab-org/gitlab-recipes/tree/master/init/sysvinit) however I note that the Debian one uses Puma (not Unicorn) so we will need to tweak for our requirements. The CentOS ones would probably be a good gu

[2015-11-30 04:50] JedMeister opened #512 "bug in 15regen-sllcert"
[line 26](https://github.com/turnkeylinux/common/blob/master/overlays/turnkey.d/sslcert/usr/lib/inithooks/firstboot.d/15regen-sslcert#L26)
[code]
should be
[code]

[2015-11-30 05:08] #506 closed

[2015-11-30 05:11] #505 closed

[2015-11-30 22:27] JedMeister commented on #498
This was (sort of) fixed in buildtasks ([here](https://github.com/JedMeister/buildtasks/commit/f938d658ec52280b9444dcf386c729d5143083fc)) but needs more tweaking as now firstboot scripts don't include auto secupdates.

[2015-11-30 22:29] #491 closed

[2015-11-30 22:29] JedMeister commented on #491
Nice idea but not really working...

[2015-11-30 22:33] JedMeister commented on #483
Closed by https://github.com/turnkeylinux/buildtasks/commit/b561d436129572f85eb0f1b477d49f7aab419058

[2015-11-30 22:33] #483 closed

[2015-11-30 22:40] JedMeister commented on #482
@OnGle has also done some email related documentation on the TurnKey docs: https://www.turnkeylinux.org/docs/email-via-remote-smtp

[2015-12-01 04:26] JedMeister commented on #503
closing for now

[2015-12-01 04:26] #503 closed

[2015-12-01 04:32] JedMeister commented on #302
Closing this as "won't fix" as we have decided at this point to discontinue 32 bit support.

[2015-12-01 04:32] #302 closed

[2015-12-01 04:32] JedMeister commented on #283
ejabberd appliance has been discontinued

[2015-12-01 04:32] #283 closed

[2015-12-01 04:33] JedMeister commented on #282
ejabberd appliance has been discontinued

[2015-12-01 04:33] #282 closed

[2015-12-01 04:57] JedMeister commented on #395
closing as ejabberd appliance has been discontinued

[2015-12-01 04:57] #395 closed

[2015-12-01 22:06] JedMeister commented on #374
Closing as now released: https://www.turnkeylinux.org/blog/community-built-odoo-appliance

[2015-12-01 22:06] #374 closed

[2015-12-01 23:00] OnGle commented on #488
Was just about to implement this fix however I found on the Observium docs it advises against using the web interface to add devices anyway. Please see http://www.observium.org/docs/add_device/

This issue should stay here but be tagged "wont fix" as it is still useful for people who wish to use the online "add device".

[2015-12-02 00:11] JedMeister commented on #488
Great thanks @OnGle and bonus points to you for providing the doc link link! I will tag "won't fix" and close. It's still handy info for those that wish to enable this functionality.

[2015-12-02 00:40] #460 closed

[2015-12-03 05:05] #463 closed

[2015-12-03 05:06] #487 closed

[2015-12-03 05:07] #507 closed

[2015-12-03 17:35] robshanks commented on #490
I am Rob :-) and it would be the icing on the cake for me.

[2015-12-03 22:22] JedMeister commented on #490
:smile:  :+1:

[2015-12-04 23:49] JedMeister opened #513 "appliance build code - don't need to "flush privileges""
I just learned something and thought I'd share: When creating a new MySQL user (e.g. in a LAMP/LAPP based appliance) using the "grant" There is no need to "flush privileges" (the system does it automatically). It doesn't actually cause any harm but it is redundant.

Source: http://dbahire.com/stop-using-flush-privileges/
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](h

[2015-12-05 10:53] qrntz commented on #510
@JedMeister, I thought systemd-shim provided a functional stub for systemctl start/stop?

Regardless, it would probably be a good idea for all service control cases to use ```service X start``` instead of either ```systemctl start X``` or ```/etc/init.d/X start```. That is bound to work portably for the near future.

[2015-12-05 12:47] JedMeister commented on #510
TBH I haven't actually checked but AFAIK systemd-shim doesn't provide systemctl but I could be wrong... Also using /etc/init.d/service-name is apparently ok even when using systemd as it is intercepted. Liraz wrote a [blog post about systemd](https://www.turnkeylinux.org/blog/debugging-systemd-sysv-init-compat) the other day that was interesting IMO.

[2015-12-05 13:19] qrntz commented on #510
Using /etc/init.d can lead to a bit of confusion because it's associated with SysV init and it calls the respective systemd unit file if it exists (which is often the case) instead of the actual init script that also exists but does not ever get executed. The possibility to call systemd services with that is only there for backwards compatibility and to satisfy LSB specs. ```service``` is transpar

[2015-12-05 14:45] JedMeister commented on #510
Good point.

Regarding this issue, I just tested and systemctl doesn't work: "-bash: systemctl: command not found"

[2015-12-06 12:59] qrntz commented on #477
https://github.com/turnkeylinux/tracker/issues/461 is a duplicate.

[2015-12-06 12:59] qrntz commented on #473
@JedMeister, I'll take a look at this.

[2015-12-06 13:13] qrntz commented on #264
I think this is unavoidable in a chroot. Harmless though.

[2015-12-06 16:58] qrntz commented on #13
@JedMeister, it is. I'll work on it.

[2015-12-06 18:17] qrntz commented on #155
As far as I can tell, this works and is a fair solution.

[2015-12-06 20:22] qrntz commented on #206
@JedMeister, works OOTB with the current version of the appliance.

[2015-12-06 21:33] qrntz commented on #206
OK, this one is pretty funny.

crypt() only uses the first 8 characters of the string it is given. htpasswd warns about this. That warning message does **not** make a proper entry in the password file.

TWiki doesn't support bcrypt or APR MD5 (which are good choices in htpasswd) so that leaves us with SHA1 which is kind of insecure, but then it's still better than crypt.

[2015-12-06 23:26] JedMeister opened #514 "revison control appliance doesn't allow write access to example (svn) repo"
As noticed/asked/suggested by Keith Bierman in the [forums](https://www.turnkeylinux.org/forum/support/20151204/tkl-revision-control-appliance) the Revision Control appliance should provide "best practice" configuration of the example repos allowing authenticated write access.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28902543-r

[2015-12-06 23:28] #206 closed

[2015-12-06 23:28] JedMeister commented on #206
:+1:

[2015-12-06 23:30] JedMeister commented on #264
Labelled as "won't fix" and closing...

[2015-12-06 23:30] #264 closed

[2015-12-06 23:31] #342 closed

[2015-12-06 23:50] JedMeister commented on #461
Closing this in favour of #477

[2015-12-06 23:50] #461 closed

[2015-12-06 23:58] JedMeister commented on #477
I've just closed the other one and assigned this one to you! :smile:

I note that your PRs (for Etherpad and common) are still unmerged. I was almost going to merge the Etherpad one but instead I think that it would be good to fix it properly for v14.1.

Liraz actually did a rewrite of the Nodejs appliance (see /turnkeylinux-apps/nodejs/commits/master) so we could combine this fix with #472 (by pu

[2015-12-07 05:58] qrntz commented on #477
@JedMeister, sounds good.

[2015-12-07 07:00] JedMeister commented on #477
Awesome! :+1:

[2015-12-08 02:19] JedMeister opened #515 "Be nice if "Launch" button (after "Restore [backup] to new server") gave some immediate feedback"
It has been noted by a user (and confirmed by me) that when launching a new server from a backup in the Hub when you click the "Launch button (as the last step) that it take a little while for the "Servers" page to load and show that something is happening.

If internet is slow and you don't notice that a new page is loading (via the favicon on the tab changing to the loading animation) that is it

[2015-12-09 00:54] JedMeister opened #516 "Canvas appliance not sending emails"
As reported by Teddy in the [forums](https://www.turnkeylinux.org/forum/support/20151207/canvas-14-not-sending-email) the v14.0 Canvas appliance is not sending emails as it should. We have confirmed this issue.

[2015-12-09 20:52] JedMeister opened #517 "Document that AWS Micro servers availability (or lack thereof)"
Tim Hibberd suggested some time ago (on our [forums](https://www.turnkeylinux.org/forum/support/20151014/cpu-consistently-100-fresh-moodle-install#comment-24275)) that we clearly document when appliances are not available as micro instances.

Also whilst Micro servers can be useful for testing (and very low traffic use cases), they have performance bottlenecks which can result in a poor usage expe

[2015-12-09 23:11] JedMeister commented on #350
I was almost going to close this as a "won't fix", although I'm not sure if is the right thing to do as this may still potentially be an issue.

I wonder if a solution might be for TKLBAM to just log a warning and keep the current conf? Thoughts?

[2015-12-10 00:13] l-arnold commented on #350
I don't know if this is still a problem but will test again.

[2015-12-10 01:50] JedMeister commented on #350
:+1: Thanks Landis

[2015-12-11 00:06] JedMeister opened #518 "Inclusion or at leat documentation of some security auditing/testing tool"
I recently came across [Tiger](http://tiger.nongnu.org/index.html) and thought that it could be a good inclusion candidate; or at least could be documented for ease of use by the average TurnKey user.

[2015-12-12 04:50] jstruebel commented on #510
I ran into this just today when I tried to bring up a container version of the gitlab appliance. With some searching I found an init script at /home/git/gitlab/lib/support/init.d/gitlab that works when I simply moved it to /etc/init.d

[2015-12-12 04:59] JedMeister commented on #510
Thanks @jstruebel - Ah, so it actually includes it already!? Just has to be moved to the right spot... Nice!

[2015-12-12 17:57] jstruebel opened #519 "Gitlab: An unexpected error occurred (redis-cli returned 1)"
I was getting the error "Gitlab: An unexpected error occurred (redis-cli returned 1)" when pushing to a fresh gitlab install. Based on the information in http://geekwerks.ca/2014/10/05/fixing-gitlab-redis-connection.html. I modified the redis settings in `/home/git/gitlab-shell/config.yml` and that fixed the issue.

The original settings were:

[code]

The correct settings are:

[code]

[2015-12-13 01:52] JedMeister commented on #519
Thanks for reporting and bonus points for providing the fix :smile:

[2015-12-13 15:16] sackwort opened #520 "Configuration Console display messed up on boot"
Turnkey Lamp Stack (turnkey-lamp-14.0-jessie-amd64.ova) imported into Virtualbox 5.0.2, on Linux Mint 17.3 64-bit.

After booting, the Configuration Console displays all right for a few seconds, and then some more processes happen and the display becomes "messed-up". Pressing the Return key makes the Config Console reappear properly. Please see attached screenshot.

![configconsole](https://cloud.

[2015-12-13 20:18] jstruebel commented on #519
No problem. Glad I can help make Turnkey better

[2015-12-13 22:23] JedMeister commented on #520
Hi @sackwort, Thanks for reporting.

Actually this is a known issue (duplicate of #338). As noted there it is caused by the fact that SystemD is a synchronous initialisation system. So any "fix" would only be a workaround (that would slow the boot process down). Although it's not very pretty it is only cosmetic so we are not planning on doing anything about it.

If you (or someone else) wants to t

[2015-12-13 22:23] #520 closed

[2015-12-13 23:49] JedMeister opened #521 "Odoo service not working reliably in containers (SysVInit)"
A Odoo issue was reported in the [forums](https://www.turnkeylinux.org/forum/support/20151205/odoo-appliance-cant-get-past-create-database-screen) and when I went to test it (in a container) I realised that the Odoo service wasn't working quite as it should in the container (containers use SysVInit rather than SystemD).

[code]
[code]
[code]
And it looks like there are some zombie processes runnin

[2015-12-14 00:15] DocCyblade commented on #521
Well this is not good news! However I do have good news I do have a Proxmox box and can test this :-) I also will have some time to test it as well!

I'll look at the form post see what's what in s few days.

[2015-12-14 00:33] JedMeister commented on #521
@DocCyblade the issue on the forums is unrelated. I just discovered this when trying to test the other issue (which I haven't been able to reproduce yet).

It's handy that you now have Proxmox! It should be easy to test (and fix).

Even when you provide a SysVInit style /etc/init.d/ script SystemD intercepts the script (rather than just running it; as it does with SysVInit). FWIW Liraz wrote a [bl

[2015-12-14 01:54] JedMeister opened #522 "Odoo inithooks password script not working reliably"
An issue was noted in the [forums](https://www.turnkeylinux.org/forum/support/20151205/odoo-appliance-cant-get-past-create-database-screen) that the master password wasn't working to allow the master admin to create a new DB. I confirmed this but found that rerunning the inithook and restarting Odoo resolved the issue.

[2015-12-14 01:54] JedMeister commented on #522
This is the actual issue I was originally testing. I'm not sure if it's also related to the other one or not...

[2015-12-14 02:12] JedMeister opened #523 "Appliances using Samba need tweaking for sudoadmin"
When upgrading the fence for AMIs Liraz noticed that the fileserver, domain-controller and maybe others with use samba (e.g. torrentserver) will need to be fixed to support sudoadmin.

Currently it is assumed that root is to be used, but aws-mp deploys and any other hosting provider which enables sudoadmin need to be fixed.

[2015-12-14 22:50] JedMeister commented on #497
I've made a start on this. I tested upgrade from v7.0 to current stable (v8.1) but it failed. I did a quick read and discovered that you need to go to v8.0 first but I haven't tested that yet. See the docs [here](https://www.turnkeylinux.org/node/18040).

[2015-12-15 06:25] JedMeister commented on #476
Changed back to v14.0 as this was resolved and appliance re-released

[2015-12-15 06:26] JedMeister commented on #475
Changed back to v14.0 as this was resolved and appliance re-released

[2015-12-15 22:56] JedMeister opened #524 "Use composer to install drush in drupal appliances"
We already use composer to install drush, but we download drush from git first (clone). Perhaps it would be better to use composer itself; as suggested [here](http://whaaat.com/installing-drush-8-using-composer):

`$ mv composer.phar /usr/local/bin/composer`
Now add Composer's directory to your path by editing your .bash_profile or .zshrc

Reload your terminal or just re-source the configuration y

[2015-12-16 00:32] JedMeister opened #525 "canvas build failing"
Canvas is failing to build currently. I'll attach the npn-debug.log too. Console
 output during build:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29160334-canvas-build-failing?utm_campaign=plugin&utm_content=tracker%2F539522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysou

[2015-12-16 00:34] JedMeister commented on #525
[npm-debug.log.txt](https://github.com/turnkeylinux/tracker/files/63396/npm-debug.log.txt)

[2015-12-16 02:52] l-arnold commented on #522
Could be "misunderstanding" of what the Odoo Master Password,  There was one "self correction" of such on the forums.

The Odoo Master Password is not connected to a USER but is needed to create, drop, backup Databases inside the Odoo Database Manager.

When You create a Database in the Odoo Database Manager you do set a New Password (not in firstboot inithooks) for Admin user for that password.

[2015-12-16 02:55] l-arnold commented on #521
I've been using XEN builds.  (Not really a a container).  Will test some process start stop there on Linode.  Would like to do a Docker Test but need to build a Docker Host first.

[2015-12-16 03:11] JedMeister commented on #521
Whilst the docker builds are a container; they use SystemD (same as ISO, OVA, Xen, etc). The other container builds (i.e. for Proxmox, OpenNode and LXC/OpenVZ) use SysVInit instead. So checking in docker still won't be a reliable test...

[2015-12-16 03:15] JedMeister commented on #522
I don't think so. This issue occurs when creating the first Odoo DB/user. The problem is that the "master admin" password isn't being set properly (sometimes) on firstboot.

I suspect that it is caused by a [race condition](https://en.wikipedia.org/wiki/Race_condition) on firstboot. That would explain why it works sometimes (and/or for some people) but works ok other times (for other people). It a

[2015-12-16 03:17] JedMeister commented on #522
FWIW as I hinted above the workaround is to rerun the inithook:
[code]
Then it all works as it should.

[2015-12-16 03:56] l-arnold commented on #521
Interested in how to run the second set but do not have anything right now.

Did bounce into digitalocean.com but did not test.  Seems would be a way to run some how.

[2015-12-16 04:07] JedMeister commented on #521
I think Digital Ocean support installing from ISO but I'm not sure...

Once we have the LXC appliance finished then you could run that as a guest in VMware and run TurnKey LXC containers inside! :smile:

[2015-12-16 04:18] JedMeister commented on #165
FWIW this is already somewhat possible. Inithooks looks for a pre-seed file (etc/inithooks.conf). So if you wrote the ISO to a USB; mounted it and added that a preseed file it should work OOTB! I haven't tested though...

[2015-12-16 04:48] JedMeister commented on #208
I'm going to close this issue in favour of #501

[2015-12-16 04:48] #208 closed

[2015-12-16 04:54] JedMeister commented on #163
Hey @jstruebel - if I get some clarity from Alon and/or Liraz regarding your suggestions would you be interested (and able) to have a go at implementing some of your ideas for v14.1?

We are starting focus on v14.1 now. It will mostly be a "maintenance release" (including updated security packages and bugfixes) but adding some features would be cool too!

We don't have a clear timeframe for v14.1

[2015-12-16 05:16] JedMeister commented on #163
I have been re-reading and perhaps this is too much to ask for for v14.1!? I will comment on the original forum post...

[2015-12-16 05:19] JedMeister opened #526 "New Appliance: Mediaserver"
I just noticed that @jstruebel has been working on an awesome looking [mediaserver](https://github.com/jstruebel/mediaserver) appliance.

Maybe it might be ready for the v14.1 release? I'm hoping! :smile:

[2015-12-16 05:21] JedMeister commented on #163
I just found https://github.com/jstruebel/core-ldap so it looks like the OpenLDAP side is done!?

[2015-12-16 05:38] JedMeister commented on #498
The buildtasks scripts have been moved to inithooks package but the code is still there. It should be tweaked for v14.1

[2015-12-16 05:41] JedMeister commented on #478
No promises, but I hope to look into you code a little more closely and add it to the library for v14.1. I'll keep you posted.

[2015-12-16 05:54] JedMeister commented on #215
I'm currently doing a tidy up on the tracker, getting ready to start work on v14.1.

I'd like to understand a little bit more about this suggestion (as I don't know much about Ruby/Rails stuff).

Are you suggesting that this would be of value to all Rails appliances? Or is it more of a dev tool? I.e. do you suggest that we add it just to the Rails appliance? If not what is the added value for othe

[2015-12-16 08:55] cboulanger commented on #502
Any chance this issue is being looked at? I just need to know because it will be crucial in our continuing using TKL as a base for our docker setup...

[2015-12-16 09:39] wvengen commented on #215
For sysadmins it is useful to see which background jobs failed and what has been done, that's where resque-web can be a great help.

There could be a redis config in common/conf that appliances could include. E.g. one for redis, which installs it and makes sure it is started at boot, and one for resque, which would depend on redis but also adds resque-web. Or have resque-web explicitely.

Does tha

[2015-12-16 11:17] JedMeister commented on #215
Yep. Thanks. for taking the time to explain. :smile:

[2015-12-16 11:26] JedMeister commented on #502
Thanks for your patience on this one. Liraz has been really busy with some pressing matters behind the scenes and as often seems to be the case it has taken much longer than originally hoped.

AFAIK he was intending on working on all the existing TKLBAM bugs & feature requests in his next round of TKLBAM dev. But TBH I'm not sure when he has that scheduled for. I'll see if he has a rough idea of w

[2015-12-16 22:10] DocCyblade commented on #521
Jeremy I'll be testing this in the next few days as I am off of work. Il have to rebuild my Proxmox box as its broken currently

[2015-12-17 00:28] JedMeister commented on #521
Cool, thanks Ken. I'm by no means an expert; but if you need a hand with Proxmox feel free to shoot me an email! :smile:
TBH I'm actually more concerned about #522 (as it affects all builds) although fixing this first is probably a wise approach as it may actually resolve that one anyway...

[2015-12-17 01:36] #410 closed

[2015-12-17 01:42] JedMeister commented on #170
Putting this "on ice" as the upstream bug is still open and it's out of our control...

[2015-12-17 01:59] JedMeister commented on #149
I'm closing this issue, in favour of #412 as it would be resolved by reverting to the default debian-installer.

We are a little in a bind on this one. As we intend to rebase on the debian-installer at some point; there's no real desire to add this (or any other) feature(s) to di-live (which already exist in the default debian-installer). However we aren't in any rush to replace di-live because it

[2015-12-17 02:05] DocCyblade commented on #522
@JedMeister is this only in containers or the ISO as well? I might tackle this one first strictly an ISO test then test it in Proxmox

[2015-12-17 02:10] DocCyblade commented on #521
@JedMeister give me shout via email about Proxmox. I'd like to know how or the best way to set it up for testing TKL. The PC I have for this is a quad core I7 with 16 gigs of RAM and three 120GB SATA SSD drives and esata raid 5 with 5 120GB SSD. Best way to use these drives?

[2015-12-17 02:13] JedMeister commented on #354
I agree that setting global is the wrong plan...

I propose that we set the etckeeper (`/etc`) git config to be something like this:
[code]
Thoughts? Alternative suggestions?

[2015-12-17 02:15] JedMeister commented on #522
I could reproduce it after installing from ISO (to a Proxmox VM). Although Landis couldn't/hasn't and I'm sure that I've tested it previously and never came across this... (hence why I suspect it's some sort of race condition)

[2015-12-17 02:16] JedMeister commented on #521
WIll do! :smile:

[2015-12-17 03:48] jstruebel commented on #163
@JedMeister I've successfully used the https://github.com/jstruebel/samba-ldap with the new fileserver appliance. So far I only had to make a few minor tweaks, and I discovered an issue with the SysVinit scripts that I need to track down. However, I'm not using it in an Active Directory mode, it's basically in the same mode as Samba3 used it. It sounds like from the link you posted that OpenLDAP a

[2015-12-17 04:03] jstruebel commented on #163
Since you've seen some of my patches, here is a quick list and description of the OpenLDAP related ones.

https://github.com/jstruebel/openldap-nsspam - Adds the required schema/configs to OpenLDAP for use by NSS/PAM as an authentication source
https://github.com/jstruebel/openldap-pla - Adds some custom templates and configures phpLDAPadmin
https://github.com/jstruebel/openldap-samba - Adds the r

[2015-12-17 04:09] jstruebel commented on #526
It should be ready. I have it building with v14.0 and am now running a server from it. It is based on the fileserver appliance with the [Emby](https://emby.media/) media server added and basic default configurations applied. Testing and feedback from other users would be greatly appreciated.

[2015-12-17 06:02] JedMeister commented on #163
Awesome! Love your work! :+1:

TBH I'm inclined to add your OpenLDAP patch to the OpenLDAP appliance. From what I can see it adds potential functionality; with no real downside for other usage.

I'm not quite so sure about adding all your other patches to the appliances though. I think that they definitely add value and it's awesome that you've published them on GitHub (so others can use them). Bu

[2015-12-17 06:19] JedMeister commented on #526
Awesome! :+1: I'll give it a bit of a test drive; but I think it'd be a great addition to v14.1!

TBH it's all very auspicious! I'd never heard of Emby until I stumbled across it a week or 2 ago and started playing with a media server type appliance myself (I had a similar vision to you). I found that the install didn't go as smoothly as I'd hoped and had sort of shelved it.

Then I found that you

[2015-12-17 06:35] JedMeister commented on #468
This would be a really cool feature to add, but I'm pinning it to v14.2 for now as I think that v14.1 will be plenty enough work as it is... If someone from the community wants to take it on, I'm happy to reconsider for v14.1...

[2015-12-17 07:23] dashohoxha commented on #396
If the appliance is just sending a few notification emails to the users (and is not a dedicated mail server), then using ssmtp (with a gmail account) would be a better solution than postfix.
 - http://www.nixtutor.com/linux/send-mail-with-gmail-and-ssmtp/
 - http://www.havetheknowhow.com/Configure-the-server/Install-ssmtp.html

If users have to configure rDNS, SPF, DKIM etc. then it is not a turn-

[2015-12-17 07:35] dashohoxha commented on #382
How about using Let's Encrypt SSL certificates:
- https://letsencrypt.org/howitworks/

They promise to give them for free and to install them programatically (via a script). So, I can imagine that each appliance can get automatically a free SSL certificate on init hooks.

[2015-12-17 07:39] JedMeister commented on #396
Perhaps, but using postfix makes it really flexible. And it means that many users who have static IPs can use it OOTB and it just works as is (no further configuration required). Its also really useful for testing (for me anyway). The email sending works OOTB for me, although I know it doesn't for everyone and AWS in particular is very hit and miss...

Postfix still lends itself to the sort of con

[2015-12-17 07:41] JedMeister commented on #382
That's the plan! :+1:

[2015-12-17 07:45] JedMeister commented on #464
@sgrossberndt - I notice that TYPO3 is now up to 7.6.1.

It'd be nice to update this for the upcoming v14.1 release but IIRC Stefan had a really quick look at it and it didn't successfully build. I'm guessing that was because the web installer screens have changed a bit (so we can't just automatically recycle the [twill code](https://github.com/turnkeylinux-apps/typo3/blob/master/conf.d/main#L56-L

[2015-12-17 07:55] dashohoxha commented on #328
:+1:

I would also say: **Improve TKLDev to build Docker images for each product (besides building ISO images)**

This requires a Docker image for the TKLCore, and then a Dockerfile for each product that is built on top of TKLCore. Maybe it needs some radical changes/improvements in the way that **fab** works.

[2015-12-17 08:27] JedMeister commented on #328
@dashohoxha - You might want to have a look at [buildtasks](https://github.com/turnkeylinux/buildtasks). That's how we build our docker images (see [bt-docker](https://github.com/turnkeylinux/buildtasks/blob/master/bt-docker)). It converts an ISO into a docker container (and uploads it to docker hub) It's sort of a hacky way, but it works... So if you want to build a docker image of an existing ap

[2015-12-17 08:47] JedMeister commented on #450
I'm moving this to v14.2 milestone as I doubt we'll have time/energy to get this done in a timely manner...

[2015-12-17 08:58] dashohoxha commented on #328
Building a Docker image from an ISO image is, as you say, a hackish solution, it does not use the powerfull features of docker. The other way around would seem to me more reasonable (building iso images from docker images).

Docker has features that allow layered filesystems (maybe they use aufs internally), which could replace `deck`, `fab-chroot`, etc. It also allows to kind of extend one image

[2015-12-17 09:08] sgrossberndt commented on #464
Hi Jeremy,

indeed there is no official console installer for TYPO3 yet but since
@helhum providing the typo3_console Extension you mentioned is a core
member its fine to use it.

IRC is more or less dead, but you're very welcome to join us on Slack:
https://forger.typo3.org/slack and ask in #typo3-cms or #typo3-composer

I did not use typo3_console yet, but maybe this will help you:

====

https:

[2015-12-17 10:31] JedMeister commented on #464
Awesome! You rock!

[2015-12-17 11:13] JedMeister opened #527 "Install composer by default on LAMP & LAPP"
I propose that we install [composer](https://en.wikipedia.org/wiki/Composer_(software)) ([globally](https://getcomposer.org/doc/00-intro.md#globally)) by default on LAMP and LAPP. I think using a common [conf script](https://github.com/turnkeylinux/common/tree/master/conf); called by [lamp.mk](https://github.com/turnkeylinux/common/blob/master/mk/turnkey/lamp.mk) & [lapp.mk](https://github.com/tur

[2015-12-17 11:38] dashohoxha commented on #527
Seems reasonable. Related to #524.

[2015-12-17 11:49] dashohoxha commented on #527
Also setting a new domain for the appliance (on init hooks) can be implemented on LAMP, or maybe even on TKLCore.

[2015-12-17 12:06] JedMeister commented on #328
I'm re pinning this to v14.2 for now...

@dashohoxha  Containerisation is definitely the go but at this point we would want to support TKLDev working inside any/all host systems, be they docker, LXC, nspawn, whatever... I guess Docker could do that but for now we have a workflow that works.

Re-designing our approach to building images is a major undertaking. Not that we shouldn't do it; we're goi

[2015-12-17 12:31] wvengen commented on #354
Sounds good!

[2015-12-17 22:33] JedMeister opened #528 "etherpad should use utf8mb4 with MySQL"
As reported by Edmond, the etherpad appliance should be set up like [this](https://github.com/ether/etherpad-lite/wiki/How-to-use-Etherpad-Lite-with-MySQL)

[2015-12-18 00:33] qrntz commented on #527
Sounds good.

[2015-12-18 03:39] JedMeister opened #529 "Update Redmine to latest upstream for v14.1"

[2015-12-18 06:49] JedMeister opened #530 "[TKLDev] Files from root.build appearing in root.patched and root.sandbox after iso built"
I am opening this new issue to replace #391 This issue aims to clarify the bug. I have a better understanding of the issue now (although not why) and that thread contains a lot of off topic comment.

**Timing**
 - **after** you build to product.iso

**Problem**
 - after you build to product ISO the `root.patched` and `root.sandbox` get polluted with files from root.build.

**Result**
 - weird stuf

[2015-12-18 06:50] JedMeister commented on #391
closing in favour of #530

[2015-12-18 06:50] #391 closed

[2015-12-18 07:25] JedMeister commented on #358
This issue was partially implemented in TurnKey v14.0, however as it was only a very basic config (RAM, CPU & Storage), so we decided to leave the web ui disabled by default. We have plains to make customised confgi for each appliance at some point (and may enable the web ui then?) but not sure when we'll get to it or exactly how we'll go about it.

Definitely not for v14.1 unfortunately...

[2015-12-18 07:27] JedMeister commented on #376
Should I repin this to the v14.2 milestone for now? Or wait and see how you go?

[2015-12-18 07:30] JedMeister commented on #354
THere is a ton more work to do on v14.1 than I was expecting so seeing as this is non-fatal I'm repinning to v14.2 for now. Hope you don't mind.

[2015-12-18 07:36] JedMeister commented on #337
I'm closing this as the html5 file manager is included in v1.770. There is a separate bug for updating TKL to that: #496

[2015-12-18 07:36] #337 closed

[2015-12-19 03:38] jstruebel commented on #526
What is the best way to let you all know if I'm working on something?

I had actually finally gotten it finished up to the point I would consider it ready for others to work with when you found it. It was a bit of a pain to get the setup part of it scripted, but once I figured it out it went pretty well. I did run into a bug with one of their recent updates where it didn't properly save the path f

[2015-12-19 04:37] JedMeister commented on #526
Some others have used their repo's "issues" to track things that need doing and/or bugs. But that's totally optional. Just posting updates here is fine.

You might be right. I never actually investigated my issue. It just seemed to stall during install. After waiting about 20 minutes I killed it with intention to return and troubleshoot. But then I saw yours! :smile:

[2015-12-19 05:02] JedMeister commented on #203
FWIW in v14.1 headless builds will no longer auto-install updates (and then ask again during the interactive part).

Unfortunately "advanced" inithooks are  being deferred again...

[2015-12-19 05:06] JedMeister commented on #180
Will probably be one of the "advanced" inithooks (#369)

[2015-12-19 05:27] JedMeister commented on #114
I'm repinning this to v14.2 for now, but @DocCyblade (or anyone else) if you get time and want to have a look at this for v14.1 please post and I can change it back...

[2015-12-19 05:36] JedMeister commented on #43
I'm closing this for now as no one has reported it for some time and without installing on hardware it is hard to test properly...

If this is still a problem please feel free to reopen.

[2015-12-19 05:36] #43 closed

[2015-12-19 05:47] jstruebel commented on #526
Ah, actually that is something different that I ran into as well. It only seemed to happen when I was trying to install from a patch or tkldev. When I installed it manually from the command line or running a script it was ok. I tracked it down to the emby-server was starting at the end of the installation and blocking the apt process from continuing until the emby-server process was killed. I work

[2015-12-20 01:29] JedMeister commented on #526
I've done a test build of your repo and it worked awesome for me! :smile:

[2015-12-21 11:30] LinforPros opened #531 "suitecrm.py needs a facelift: application password fails at upstream version 7.4.3"
An attempt to bump suiteCRM to the latest version by specifying:
VERSION="v7.4.3.zip"
int the "conf.d/download" file produces build/product.iso which, after installation, renders admin/login inoperable.

Reproduce:
edit conf.d/download
VERSION="v7.4.3.zip"

make

install product.iso in a virtual machine

point browser to "virtual machine ip of suitecrm"

privide login "admin"
password "password ch

[2015-12-22 02:22] JedMeister commented on #444
@jeroenpeters1986 - I spoke with Alon about this last night. Bottom line is that while it would be cool, adding this functionality will require backend work for all of our hosting partners (that use preseeding to integrate TurnKey into their hosting platforms) so introducing this to just one appliance has a big overhead for a relatively small change. When we introduce this we'd like to make it as

[2015-12-22 02:28] JedMeister commented on #531
Thanks for reporting, We weren't intending to update SuiteCRM for the v14.1 maintenance release so I'm not sure when we'll get to this but it's good to know.

As a workaround for now you could remove the password setting part of the inithook and set a default password in the conf script (I think - I haven't actually checked it though).

If you work on this then please let us know. If you can resol

[2015-12-22 06:35] jeroenpeters1986 commented on #444
hey @JedMeister that's allright. I can document the changes, what will be a good place to do that? Writing a small helper script would also work, but would we be documenting this as part of all TLK appliances?

Also, I had to checkout what preseeding was (https://www.turnkeylinux.org/docs/inithooks, nice! Hadn't read it before). That looks good, we don't want this feature ruining that.
What I did

[2015-12-22 10:37] JedMeister commented on #531
I've just had a quick look into this (after I said I wasn't going to do it any time soon) and it's more critical than what I first thought. I'm pretty sure that the issue is that SuiteCRM is not properly installed.

I didn't spend a ton of time on it and I'm not 100% sure but it looks like the (web) installer has changed. We use a curl based install and although it work's fine when it's set up, it

[2015-12-22 12:50] #474 closed

[2015-12-23 02:18] JedMeister commented on #444
We have individual (wiki) documentation pages for [each appliance](https://www.turnkeylinux.org/docs/appliances) on our website (actually only some of them, but you get the idea). So in this case it'd be the [WordPress page](https://www.turnkeylinux.org/docs/wordpress), create a "child page" with an appropriate title (actually I think that the multisite docs are probably really out of date). IIRC

[2015-12-23 13:08] JedMeister opened #532 "secalerts inithook threw an error during turnkey-init"
I just reran the inithooks on an appliance I was testing and added an email for secalerts. It failed:
[code]

I then reran it manually (using the same bogus email address) and it appeared to complete fine!?
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29359320-secalerts-inithook-threw-an-error-during-turnkey-init?utm_campai

[2015-12-23 13:11] JedMeister opened #533 "Hub should support adding a PTR DNS record for custom domain name"
Currently the Hub doesn't support adding PTR records for custom domains. Unless there is a really good reason it probably should.

[2015-12-24 01:47] JedMeister opened #534 "Hub will need to be adjusted for new preseed for some appliances"
As of v14.1 some appliances have additional inithooks info be set. The Hub will need to be updated to support preseeding these.

### Bugzilla:
Domain name ($APP_DOMAIN)
Outgoing email - interactive only - if preseeded then the outgoing email will preset to bugzilla@$APP_DOMAIN ($APP_OUTMAIL)

### Drupal8
Domain name ($APP_DOMAIN)

### ProjectPier

Admin password ($APP_PASS)
Admin email ($APP_EMAIL

[2015-12-24 07:22] JedMeister opened #535 "php-xcache should not be included in LAMP/LAPP plan"
As of PHP5.5 (v14.x/Jessie has 5.6.14) is precompiled with Zend OPCache (formerly Zend optimizer). It is enabled by default under Apache (have a read here: http://wiki.mikejung.biz/PHP_OPcache). So no additional opcacher is required. An alternate cacher such as xcache can still be used by an appliance but it should be explicitly installed and configured separately (and the dfault OPcacher should b

[2015-12-25 06:14] aaronkempf commented on #444
I just think it is ridiculous to rename the account.

I wish that login failures and hacks were a thing of the past.

It SEEMS that password strength should be enough.

In truth.. I wish that ALL linux could be more easily configured to log
stuff like login failures to a relational database.

Only when people can draw some graphs, and LOOK through the data..  I mean
patterns in data like this are

[2015-12-25 07:07] aaronkempf commented on #526
I love y'all software.. I think that WinAmp was the pinnacle of media
players for the past twenty years.. I'm just DISGUSTED that you all ACCEPT
drm from Apple.. And you ACCEPT the ten dollar monthly fee for keeping your
music on icloud.

I'm still CLUELESS why anyone would ever use iTunes. I had better
functionality in what, August 1995 on beta software ?
On Dec 16, 2015 8:09 PM, "Jonathan Strueb

[2015-12-26 01:17] jstruebel commented on #526
FYI, I just pushed a minor update today. I discovered that it wasn't installing the Imagemagick packages automatically and I moved the group assignment in the config files so they don't conflict with the defaults during package upgrades.

[2015-12-29 09:32] qrntz commented on #473
I've taken a look at this. It doesn't do that anymore. At least not under controlled conditions. And I can't tell why it did.

I suspect this was caused either by some error on my side or general AuFS instability that is normally resolved with a reboot.

[2015-12-29 11:35] qrntz commented on #464
I had no luck with typo3_console last when I was updating this, hence twill.

However, it's likely better now. I will take a look.

[2015-12-29 14:51] sgrossberndt commented on #464
You're very welcome to join us on Slack: https://forger.typo3.org/slack and ask in channels #typo3-cms or #typo3-composer

[2015-12-30 16:59] qrntz commented on #485
Sounds sensible; doing this right now.

[2016-01-03 10:31] qrntz commented on #531
I'm looking into this.

[2016-01-03 14:42] alonswartz opened #536 "26ec2-resizerootfs should handle resizing partition if relevant"
Since rewriting buildtasks/ec2 to support HVM, the block_device_mapping's have changed to support a boot partition and rootfs partition on the same device.

The default image "rootfs" block device is 10GB, but it is possible to increase the size on launch by manipulating the rootfs block device mapping. In the past this was enough to let 26ec2-resizerootfs resize the filesystem to include the unal

[2016-01-03 16:14] LinforPros commented on #531
Hi qrntz,
I really appreciate if you start working on it. I can offer to run the updated code since little can I do with programming.... I actually have vested interest to use the software which was the primary reason for me to report the bug.
LinforPros

[2016-01-04 04:30] JedMeister commented on #531
FWIW SuiteCRM is a fork of SugarCRM so once this is fixed then the same fix should also apply to SugarCRM.

[2016-01-04 04:57] JedMeister commented on #473
Let's close for now and reopen if/when we need to.

[2016-01-04 04:57] #473 closed

[2016-01-04 07:23] JedMeister commented on #516
Workaround (as noted in the [forums](https://www.turnkeylinux.org/forum/support/20151207/canvas-14-not-sending-email#comment-24576)):
[code]

[2016-01-04 07:24] JedMeister commented on #516
@qrntz - Seeing as work on this is blocked by #525 I am reassigning this to you. I hope that's ok.

[2016-01-04 12:34] pdipietro commented on #489
I just downloaded today the appliance and the bug is still there.

I tried to apply the cmd as above, but the error persists.

[2016-01-04 21:49] RHeartfeldt commented on #488
This appliance download should probably include a link to known problems. Full disclosure is super important if the marketed product is intended for people who don't have the time to put on bug hunting gear.

[2016-01-04 23:56] JedMeister commented on #488
@RHeartfeldt - fair comment. My inclination would be to provide a link on the appliance page (e.g. [Observium](https://www.turnkeylinux.org/observium)). Does that sound reasonable to you? Or do you have a different idea?

[2016-01-05 00:50] JedMeister opened #537 "Enable auto minor updates for WordPress"
I think that it may be the default for WordPress but we need to double check (and adjust if neccessary). We want minor updates to auto install; but not major ones...

[2016-01-05 04:55] jstruebel opened #538 "Fixes/Improvements to Owncloud appliance"
I needed to use owncloud for a project this weekend and found a bug and an improvement so I added them to the appliance.

The bug is fixed in the last commit, when running it as a container it would have two domains configured because of the preseeded init. The preseeded init value took precedence since it ended up later in the file. The fix deletes any existing domains that were configured by the

[2016-01-05 05:56] #529 closed

[2016-01-05 05:57] JedMeister commented on #500
closed by https://github.com/turnkeylinux-apps/redmine/pull/8

[2016-01-05 05:57] #500 closed

[2016-01-05 07:03] JedMeister commented on #489
Unfortunately you are right... We hope to (finally) have this resolved (properly) for the v14.1 release. In the meantime one of our community members has posted a work around on our forums: https://www.turnkeylinux.org/forum/support/20131121/wordpress-ftp-and-update-issues#comment-24662

[2016-01-06 04:38] JedMeister commented on #538
Great work; thanks Jonathan! :+1:

[2016-01-06 15:04] l-arnold opened #539 "Joomla3 configuration.php ownership"
In order to make basic and needed changes to any Joomla set up the
configuration.php file needs to be owned by Apache rather than Root.

When one is in Joomla Admin, config changes need to write to this file and cannot.

Easy enough to change but would be best if the last inithook set this (IMHO).

[2016-01-07 00:55] l-arnold opened #540 "Magento (Jessie) Difficulties with any TKLBAM Restores"
I was able to easily migrate a Joomla Install with TKLBAM.  I have tried about 6 variations of the same with Magento and have not been able to get a good TKLBAM Migration, particularly to a Hub Install.

Typically get:

Server error

500
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29654347-magento-jessie-difficulties-with-any-tklb

[2016-01-07 19:16] qrntz opened #541 "We should probably show a message on root login attempt to a TKL EC2 instance like Debian does"
From my experience, the Debian AMIs accept your SSH key for root, show a message that the «admin» account is to be used instead and then terminate the connection.

TurnKey does not do that (yet). I think it would make sense to implement that as part of the fence policy for EC2.

[2016-01-07 19:34] qrntz commented on #538
@jstruebel, if you link to the issue in the description of your PR preceded by something like «solves», «resolves» or «closes», then merging it will [automatically close the issue](https://github.com/blog/1506-closing-issues-via-pull-requests). I use this all the time.

Thanks for the contribution!

[2016-01-08 03:53] jstruebel commented on #538
You're welcome! And thank you for the tip

[2016-01-08 15:53] lirazsiri commented on #541
Sounds like a good idea. I bet lots of people have root hardcoded in their SSH configs and will appreciate this.

[2016-01-08 21:55] OnePressTech opened #542 "Upgrade Webmin to 1.78 and pre-install / configure mon"
I think it is mandatory that an appliance be able to notify the administrator that a server is up / down and if disk is getting low.

Unless the TKLX team has a simpler alternative, what I have been doing is updating Webmin to 1.78 and installing the mon component. I then install monitors for SSH Server, Postfix Server, Apache Web Server, MySQL database server, and Diskspace.

Thanks for listening

[2016-01-08 22:01] OnePressTech commented on #496
I have added a new issue requesting upgrade to webmin 1.78 unless there is a reason not to and to install mon pre-configured to monitor the system. If accepted, this new issue would supercede this issue.

[2016-01-08 22:03] OnePressTech commented on #358
I have added an issue to upgrade webmin to 1.78 and install / pre-configure mon to monitor the server. If accepted the new issue would supercede this issue.

[2016-01-09 15:58] qrntz commented on #542
We kind of have [Monit](https://github.com/turnkeylinux/common/tree/master/overlays/turnkey.d/monit/etc/monit) for that. There's a policy for CPU/RAM/swap/disk (space/inode) notifications and we've been planning to extend it.

@JedMeister, perhaps for 14.1?

[2016-01-09 20:38] OnePressTech commented on #542
I saw the statement that monit was pre-installed on the appliances (https://www.turnkeylinux.org/blog/turnkey-14-0-release) but saw no sign of it in the Webmin console nor are there any instructions that I could find to indicate monit was directly accessible via server port or what that port number would be. The appliance pages provide a quick blurb for webmin and shellinabox but not Monit.

When

[2016-01-09 20:48] OnePressTech opened #543 "Update appliance documents to reference Admin rather than Root for login"
On the TKLX Core page (https://www.turnkeylinux.org/core) it is correctly stated that:

"Login as root except on AWS marketplace which uses username admin."

The appliance pages though (e.g. LAMP) incorrectly state that:

"Webmin, SSH, MySQL, Adminer: username root"

It should read:

"Webmin, SSH, MySQL, Adminer: Login as root except on AWS marketplace which uses username admin."

[2016-01-09 21:15] OnePressTech opened #544 "Configuration Console does not support cut & paste required for complex password initialisation"
For security I use 32 character random usernames and 64 character random passwords. If you have looked at the power of modern hash-table based password crackers (e.g. https://crackstation.net/) the days of simple usernames and semi-long random passwords is dead.

It is painful to try to enter a very long random password one character at a time via the Configuration Console in a LAMP stack initiali

[2016-01-09 21:21] OnePressTech opened #545 "WordPress appliance should disable WP-cron and enable Linux cron"
WP-Cron adds a latency delay in most site accesses since it triggers all the scheduled actions from a user access. Switching from wp-cron to cron provides a better result.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29735565-wordpress-appliance-should-disable-wp-cron-and-enable-linux-cron?utm_campaign=plugin&utm_content=tracker%2

[2016-01-09 21:29] OnePressTech commented on #544
I see that part of this has been discussed in issue #444

[2016-01-09 21:33] OnePressTech commented on #537
Just an (obvious) observation that this issue is related to issue #489 . The web server needs full control of the WordPress sub-directory to update the WordPress software.

[2016-01-09 21:41] OnePressTech opened #546 "Simplified SSL cert configuration"
[this issues is (somewhat) covered by #382]

It would be nice if the configuration console supported a SSL certificate installation and that this installation extended to the O/S and the utilities like Webmin. I made the mistake of attempting to adjust the cert.pem as per an old TKLX blog post suggestion and ended up in systemd no-man's land for a while (can't find d-bus...ahhh....bloody systemd!!

[2016-01-12 23:19] JedMeister commented on #516
I'll give this back to Stefan to work on (build a patch for v14.1). I hope that doesn't interfere with where you were up to...

[2016-01-12 23:20] JedMeister commented on #525
Repegging to v14.2 for now...

[2016-01-12 23:26] JedMeister commented on #537
@OnePressTech - Yep! :smile: See the PR; specifically here: https://github.com/OnGle/wordpress/blob/update-fix/conf.d/main#L130

Although I note that we could tidy up a little and get rid of L125

[2016-01-12 23:50] JedMeister commented on #546
I agree. For v14.1 we're hoping to implement #382 which sort of ties in with this; but not quite...

[2016-01-13 14:16] luciusf opened #547 "Mantis fresh EC2 install not working - ajax.turnkeylinux.org Host Error"
A fresh install of Mantis (v14) as EC2, does not bring up Mantis.
Fails to start with php error message

row 33 refers to https://ajax.turnkeylinux.org

which itself cannot be reached (cloudflare 520 error)

It works fine if you take the ISO and do a fresh local install (vmware in my case).

*posted yesterday also to the [forum](https://www.turnkeylinux.org/forum/support/20160112/ajaxturnkeylinuxo

[2016-01-13 18:08] jakesilly commented on #489
Oh my, what a disaster... finally got it working after JedMeister's link. I thought I'd try Turnkey Linux because of all the configuration yadayadas in Ubuntu. This really isn't much better. You should get this sorted out with highest priority and not let these typical problems linger. People turn to Turnkey for an easy and secure way to setup their wordpress. Moving heaven and earth to get the up

[2016-01-13 22:59] JedMeister commented on #489
Thanks for your feedback @jakesilly .

FWIW the problem isn't getting it to work. The problem is balancing security against user friendliness. Because from feedback we receive TurnKey users also look to us for security.

So we have tried to improve usability incrementally so that we can keep the install as locked down as possible. Unfortunately (as you can see) that hasn't really panned out quite

[2016-01-13 23:02] JedMeister commented on #547
Hi @luciusf, Thanks for your post. We'll need to look into why you are getting that error.

However; the page that should be being displayed shows how to initialise your instance. Essentially you need to log in via SSH and run the inithooks (as you would have done after reboot when installing from ISO).

PS apologies on delayed response; I wa sidetracked on other stuff...

[2016-01-13 23:07] JedMeister commented on #47
Auto updates no longer run prior to interactive initialisation so closing this...

[2016-01-13 23:07] #47 closed

[2016-01-13 23:21] JedMeister commented on #547
How are you launching this instance to EC2? Is this via the Hub?

[2016-01-13 23:32] JedMeister commented on #545
Sounds liek a great idea. I did a similar thing for the Drupal appliance for v14.0. THis might be a good candidate for v14.1 if it's easy enough.

Do you have any links or specific code snippets? Or are you interested in taking this on?

[2016-01-13 23:36] JedMeister commented on #543
Thanks for spotting that. :+1:

Liraz has automated this detail (rather than having to copy paste it into every appliance page) so I suspect when you noted this the fix was already in progress (IIRC he manually did Core before automating the other pages).

So I'm closing this for now but if you spot any that got missed, please feel free to reopen.

[2016-01-13 23:36] #543 closed

[2016-01-13 23:38] luciusf commented on #547
Hi @JedMeister, thanks for your response!!

Exactly, I'm launching it via the hub, following the documented standard procedure. So no manual additions or so. I noticed that when adding the port :80 to the IP I can access it normally. After doing that, it would als resolve the IP to the x.tklapp.com page.

... I just wanted to double check, but I guess you already fixed it? Booted the EC2 machine,

[2016-01-14 00:26] JedMeister commented on #547
Hmm, no I haven't done anything...

So did you just reboot your original instance, or did you destroy the old one and launch a new one?

I'm guessing that this was caused by a race condition (i.e. things not happening in quite the right order so something fails).

[2016-01-14 00:30] JedMeister commented on #496
None at all; just that when I posted this 1.770 was the latest...

[2016-01-14 00:40] luciusf commented on #547
I just booted the original instance. I tried that before without success
though.
The only thing which did change is my location. I'm at home now. The error
occurred at work. Will check again tomorrow.

Am Donnerstag, 14. Januar 2016 schrieb Jeremy Davis :

--
Maximilian Lucius Fischer
0175 / 17 12 166
lucius.fischer@gmail.com

[2016-01-14 01:00] jakesilly commented on #489
I do get the picture... but with these trade-offs, I think you also have to keep in mind that people need the updates to come in to stay secure with the wordpress-bit. If people don't get it out of the box, they WILL manually make their server-side less secure to keep the updates coming in.
People who care THAT much about server security will probably start off with a stable debian distro and buil

[2016-01-14 01:09] JedMeister commented on #547
Thanks very much :smile:

[2016-01-14 01:16] OnePressTech commented on #496
Just thought I would do my bit in the issue tracker :-) I just updated my VM to 1.78 because it is required to load the webmin monit plug-in. Just an FYI, the 1.78 Webmin defaults to a new web-based file manager. The good news...we no longer have to rely on Java being installed in the browser and it now works on Chrome (where Java add-ons have ben disallowed for some time). The bad news is that I

[2016-01-14 01:18] OnePressTech commented on #543
Yup...all looks good now. Thanks guys :-)

[2016-01-14 02:07] OnePressTech commented on #545
Technically it is quite straight-forward.

One line cron job to poll the wp-cron link on the WordPress site

`lynx -source "<mydomain>/wp-cron.php" >/dev/null 2>&1`

and one line in the wp-config.php file to disable the default mechanism.

`/* Disable wp-cron, we run linux cron */`
`define('DISABLE_WP_CRON', true);`

lynx would need to be installed. It has some advantages over wget, and curl since

[2016-01-14 02:19] JedMeister commented on #542
The Webmin-Mon package is available for install via apt-get as per usual (we package all the standard Webmin modules). I'v never used it (or even installed it) though so I have no idea about it.
[code]
As @qrntz notes though, we added Monit for v14.0 but only configured it for minimal monitoring (CPU, RAM & HDD space). It is configured to email you via the secalerts inithook when resources exceed

[2016-01-14 02:24] JedMeister commented on #545
Awesome thanks Tim. :+1:

Re v14.1 "cut off", I still haven't finalised the timeframe; (I hope to by the end of this week) but we have made significant progress on fixing the bugs. The bigger ticket items (that I just mentioned in another post) might take a little while though. If I were to guess I suggest 3 weeks. Bottom line is though, if I know that you are working on something and have a rough

[2016-01-14 02:27] JedMeister commented on #496
THanks for the feedback on the filemanager. I had read that in many ways it was superior however it sounds like there are also some deficits. It's very handy to know about those as no doubt we will get questions; and it's saves me the time of having to test it myself! :smile:

[2016-01-14 02:30] #489 closed

[2016-01-14 02:30] #537 closed

[2016-01-14 02:33] JedMeister commented on #489
Of course you're not a "nobody"! You're a TurnKey user and that makes you a somebody; in my eyes at least! :smile:

The points you raise are totally valid! And I totally agree (especially in light of the time and energy that has previously gone into this - all to no avail). Hence why I've just merged the code to close this issue (hopefully) once and for all.

The new improved TurnKey WordPress app

[2016-01-14 02:37] OnePressTech commented on #542
Thanks Jed. Useful additional info.

My point was that System & Server Status Webmin module is dead simple for your low tech DIY crowd. I'm not sure what Monit would offer that I can't already do from AWS Cloudwatch.

Using monit to handle OOM killer could be handled by a cron job. I'm not sure that learning Monit conventions moves the yardsticks sufficiently for the TKLX community to learn it.

H

[2016-01-14 02:41] OnePressTech commented on #545
3 weeks would be tight. I would be doing this as a sideline to client work and I have a full load for the next month. I'm also getting too old for deadlines...too much stress is a killer :-)

[2016-01-14 02:41] JedMeister commented on #358
I answered this on your other post/issue (hopefully sufficiently).

However one point I didn't address was the AWS monitoring angle. I think that it's a great thing and we certainly encourage users to make use of it. However not all users use Amazon (although I suppose you could argue that for the Hub and TKLBAM too; which currently do rely on AWS).

Ideally we want to make the user experience as

[2016-01-14 02:46] #519 closed

[2016-01-14 02:48] OnePressTech commented on #358
A fair comment regarding consistency across hosting infrastructures...sold :-)

[2016-01-14 02:59] JedMeister commented on #545
No worries! :smile: TBH 3 weeks is probably tight for me too!

Your info and links is invaluable though. I'm going to target this to v14.1 anyway and we'll see what happens. If you (or anyone) decides to have a crack at this then just post a comment so we don;t have multiple people on the same thing! :smile:

[2016-01-14 03:15] JedMeister commented on #540
Have you checked the logs for errors post TKLBAM restore? Given the error I would suggest checking the Apache errors `/var/log/apache2/error.log`. Please feel free to post your logs here if you want a hand debugging.

[2016-01-14 03:28] JedMeister opened #548 "Moodle file perms don't support plugin install OOTB"
As per report via the forums:
https://www.turnkeylinux.org/forum/support/20160106/impossible-install-any-plugins

[2016-01-14 04:52] JedMeister opened #549 "Moodle v3.x is out now; request to update TKL app"
As requested in the [forums](https://www.turnkeylinux.org/forum/support/20110531/moodle-version#comment-24744)

Updating everything for v14.1 is not likely (nor feasible) but I have added this one as a "low priority" feature request.

It is possible that it may get nudged to v14.2 though...

[2016-01-14 06:51] qrntz commented on #516
@JedMeister, sure. My changes only pertain to building.

[2016-01-14 07:37] qrntz commented on #542
Monit is **not** a cron replacement and handling OOM states from a cron job is **not** a valid approach. Reliability should never be sacrificed in favor of ease of use. Besides, anyone learning how Monit works is not the primary point — it just doing its job is, which means:

1) having a small footprint and being self-contained to avoid being killed or hindered in emergency states
2) being able to

[2016-01-14 08:07] OnePressTech commented on #542
I have been in the computing business for 36 years. Anyone who thinks they can configure software to "just work" (trademark...really!) is kidding themselves. Anyone on any of my teams over the years who has said that to me and attempted to do so has ended with catastrophic failure...machine control and auto-correction has its limits...be careful. Regarding OOM Killer correction I expect any propos

[2016-01-14 08:46] qrntz commented on #531
Turns out it can be installed in CLI mode! I'll be porting this over to SugarCRM as well.

[2016-01-14 08:54] JedMeister commented on #531
Great work mate! :+1: That's a win for longer term maintenence! :smile:

[2016-01-14 09:20] JedMeister commented on #542
Just to clarify Anton's comments for you Tim. The intention has never been to "hide" Monit; it was to keep it out of the way. Especially prior to it being configured in a more useful way. As I think I touched on earlier (but probably didn't elaborate enough) the rational for disabling the web UI is that as it only measures CPU, RAM and HDD space it didn't seem like a good use of a port. IIRC it's

[2016-01-14 09:26] qrntz commented on #531
@JedMeister, since there is no separate issue, I linked my changes to SugarCRM here.

[2016-01-14 09:48] qrntz commented on #542
@OnePressTech, the trademark symbol was there precisely to signal ironic intent. :-)

First of all, I have no intent nor authority to challenge your credentials and I apologize if my reply came off as confrontational, condescending, misunderstood or illuminating the Ultimate Truth, which it was not meant to be. Your concern and your feedback are most welcome.

As Jeremy confirms, there is no inten

[2016-01-14 09:48] OnePressTech commented on #542
No worries Jed :-)

I'm just flagging that the inclusion of Monit as an auto-management tool, if that is the intention, is actually a significant QA decision....possibly unprecedented in TKLX history (possibly not...but I am not aware of another example I would put in this category). For the most part my perception of TKLX technically is as a slimmed down Debian release with some convenience tools

[2016-01-14 09:58] OnePressTech commented on #542
Getting back to the original issue submitted...System & Server Status Webmin is what I manually configure to provide me with RAM, Disk, Server up / down email notifications. You guys have waxed poetically about the wonders of Monit...but I am not getting duplicate status emails on these key system issues so I am assuming Monit is not providing them.

So I ask again...why not enable System & Server

[2016-01-14 11:16] jakesilly commented on #489
Really great to see things can move fast and there's actual development on the product.
I have my (private) site up and running now, tinkering with content but when I need a break, I'll definitely check it out and give positive feedback where due ;)

[2016-01-14 13:47] luciusf commented on #547
I'm an idiot. There was a manual change I forget to revoke when testing for the cause yesterday. I uncommented those two additional lines at the bottom in /var/www/mantis/index.php.

[code]
So my initial report is still valid. I also tested it "successfully" with another freshly created mantis ec2 instance. Same faulty behaviour again.

[2016-01-14 16:09] DocCyblade commented on #522
If I remember correctly we did see this condition in testing. I thought we had fixed it by just doing a restart. But we may have taken that out so that we were using systemV calls. I'll have to browse the code to be sure. I'll have a closer look this weekend

[2016-01-14 16:10] DocCyblade commented on #521
Checking in quick. Work has taken a lot of my time. I am waiting on some parts for my Proxmox setup so I don't have a Proxmox setup yet. Should be next week.

[2016-01-14 22:52] JedMeister commented on #547
Thanks for the update. I'll have to have a closer look when I get a chance...

[2016-01-14 23:12] JedMeister commented on #522
Ok cool, thanks Ken

[2016-01-14 23:14] JedMeister commented on #521
No worries Ken. Thanks for the update! :smile:

[2016-01-14 23:42] JedMeister commented on #542
Monit is configured to only email if/when the preset thresholds are reached. So it won't give you status emails; only when there are issues.

This should be working as of v14.0. Although we have had ongoing issues with email delivery.

For background, as of v14.0 all TKL servers include postfix and are configured to forward emails (that are sent to root@localhost) to whatever email address is subm

[2016-01-15 00:03] JedMeister commented on #531
Good thinking. That's fine, but I might add sugarcrm as a tag to this issue for completeness.

[2016-01-15 00:05] JedMeister commented on #539
Re-reading this I think that it's actually a bug, so I've retagged it...

[2016-01-15 00:06] JedMeister commented on #538
Clsoing as the code has been merged. Thanks again @jstruebel

[2016-01-15 00:06] #538 closed

[2016-01-15 00:08] OnePressTech commented on #542
Thanks for that Jeremy. The more we talk the more I think you guys need to take a pause  and write a blog post as to how Monit is configured, the default settings, how we can change the default configurations and how you would like to move towards a self-correcting VM. Stop any actions aimed at auto-correcting server issues without opening it up to the community for consideration. None of us can a

[2016-01-15 00:22] JedMeister commented on #542
Beautiful! :+1: I'll add the "documentation" tag too! :smile:

[2016-01-15 00:32] OnePressTech commented on #542
Cool :-)

[2016-01-15 12:47] luciusf commented on #547
one more note,
I created a new machine, and the result was the same.
After a while (few hours) the url was still not working, but I added the port

With this i reached the mantis installation under the URL I would have expected it.
From that point, the x.tklapp.com also redirected me to mantis without adding the port.
Not sure if this has to do with some local DNS caching. But I tested the URL wit

[2016-01-15 16:55] qrntz commented on #549
@JedMeister, is the priority for this and #548 still higher than feature requests? Then I could take this on.

[2016-01-15 17:11] qrntz commented on #539
Was a regression accidentally missed in review.

[2016-01-16 13:59] JedMeister commented on #539
TBH I haven't actually tested so maybe something else is going on; but I guessed that it was a regression.

[2016-01-16 14:01] qrntz commented on #541
Turns out this is a feature of cloud-init: http://serverfault.com/questions/216174/how-ubuntu-cloud-version-enforces-the-no-root-login-over-ssh which makes it related to https://github.com/turnkeylinux/tracker/issues/172

We can replicate it but then including cloud-init is on the roadmap anyway.

[2016-01-16 15:38] qrntz commented on #549
This was pretty trivial so I took the liberty.

[2016-01-17 04:21] JedMeister commented on #541
Ok good to know... Certainly adds weight to adding CloudInit to the images.

[2016-01-17 04:26] JedMeister commented on #549
Sry I didn't reply. I recall writing a response, but must have forgotten to hit "post"... Anway, all good! :smile:

[2016-01-17 04:26] #549 closed

[2016-01-17 04:26] #548 closed

[2016-01-17 04:39] #13 closed

[2016-01-17 04:47] #531 closed

[2016-01-17 04:51] JedMeister commented on #531
@LinforPros - We have closed this as the code has now been merged. We still don't have a firm release date for v14.1 but you can build it yourself using TKLDev and it should all work. Please let us know ASAP if you encounter any issues...

[2016-01-17 04:51] LinforPros commented on #531
Big thanks for the work done.
LinforPros

[2016-01-17 04:59] JedMeister opened #550 "OOTB TKL Ansible support for Windows clients"
Feature requested via email  from Jon Hawkesworth:

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29945555-ootb-tkl-ansible-support-for-windows-clients?utm_campaign=plugin&utm_content=tracker%2F539522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_co

[2016-01-17 05:25] l-arnold commented on #522
I need to test some system start and stops.  Have not had trouble running system on
Vmwar, Linode and TurnkeyHub but I have not done a lot of service start/stops.

[2016-01-17 05:26] l-arnold commented on #521
I am using XEN on Linode.  Is that a container.  Somewhat a Hack to get it to work but it works pretty easily being a hack.

[2016-01-17 08:49] #539 closed

[2016-01-17 09:02] JedMeister commented on #325
this should be fixed by https://github.com/turnkeylinux-apps/bugzilla/pull/6

[2016-01-17 09:02] #325 closed

[2016-01-17 09:03] JedMeister commented on #454
closed by https://github.com/turnkeylinux-apps/bugzilla/pull/6

[2016-01-17 09:03] #454 closed

[2016-01-17 09:16] JedMeister commented on #521
No, Xen is similar type virtualisation to VMware, VirtualBox or KVM. Amazon use Xen too; although apparently their's is a little customised

[2016-01-17 09:20] JedMeister commented on #298
closed by https://github.com/turnkeylinux-apps/gitlab/pull/13

[2016-01-17 09:20] #298 closed

[2016-01-17 09:21] JedMeister commented on #510
closed by https://github.com/turnkeylinux-apps/gitlab/pull/13

[2016-01-17 09:21] #510 closed

[2016-01-17 17:51] lirazsiri commented on #547
Yikes. This isn't an initialization fence bug, but it is a bug in the inithook package. firstboot.d/29tagid naively assumes it can just tack on html to PHP files.

My bad, I'll fix this and we'll have to rebuild all the apps that may have been affected.

FWIW, the purpose of this code is to allow us to update content on that first page when issues occur without having to rebuild the app.

[2016-01-17 19:57] #472 closed

[2016-01-17 21:30] #477 closed

[2016-01-17 22:24] lirazsiri commented on #547
I committed a fix to inithooks that should squash this as soon as we refresh the builds.

[2016-01-17 22:24] #547 closed

[2016-01-18 01:00] JedMeister commented on #528
Closed by https://github.com/turnkeylinux-apps/etherpad/pull/5

[2016-01-18 01:00] #528 closed

[2016-01-18 02:26] JedMeister commented on #540
@l-arnold - Also it would be useful to know if this was a migration between v14.0 servers; or from v13.0 to v14.0. If the latter then it is probably some Apache config that has changed. There were significant config changes in Apache 2.2 (v13.0) and 2.4 (v14.0).

Although it doesn't explain why your Joomla migration worked ok though...

[2016-01-18 06:47] #485 closed

[2016-01-19 09:53] #155 closed

[2016-01-19 10:48] #536 closed

[2016-01-20 22:44] Dude4Linux opened #551 "Enable SSL on CouchDB appliance"
In version 14.0 of the CouchDB appliance, ssl is not enabled on port 443.  This was detected during Ansible/LXC testing.  The solution is to modify the file, /etc/nginx/sites-available/couchdb and add 'ssl' to  the listen statement.  It should read:

    listen 0.0.0.0:443 ssl;

[2016-01-20 23:21] JedMeister commented on #551
Thanks for reporting John. Ever since you mentioned it, testing the CouchDB appliance has been on my todo list. :+1:

[2016-01-21 00:15] Dude4Linux opened #552 "Web Console on database appliances listening on port 8888"
The default lighttpd.conf on the mysql and postgresql appliances is misconfigured.

     server.document-root        = "/var/www/html"
     server.upload-dirs          = ( "/var/cache/lighttpd/uploads" )
     server.errorlog             = "/var/log/lighttpd/error.log"
     server.pid-file             = "/var/run/lighttpd.pid"
     server.username             = "www-data"
     server.groupname

[2016-01-21 00:45] Dude4Linux commented on #382
I was thinking along these lines when I added the --csr option to turnkey-make-ssl-cert.  My thought was to make it easier for the admin to generate a certificate request in a standard format accepted by providers like StartCom.  The problem I see with acquiring a certificate during firstboot is that a fair amount of information about the certificate owner needs to be collected for the certificate

[2016-01-21 00:48] Dude4Linux commented on #546
We do need to do a better job of documenting and updating documentation.  Relying on old blog posts is a recipe for disaster.

[2016-01-21 00:57] OnePressTech commented on #546
Thanks John...couldn't agree more :-)

Jed...any possibility you and the TKLX boys could choose a collaborative document model (Googledocs shared doc, slack area, wiki, github) for us to work together on a install guide, admin guide, user guide combo? I can commit time to documentation immediately and on an ongoing basis...though I would not be expecting to write them alone.

[2016-01-21 01:13] Dude4Linux commented on #546
@OnePressTech  FWIW, v14.0 includes a new utility turnkey-make-ssl-cert.

    turnkey-make-ssl-cert ver. 1.2
    "Make server cert for TurnKey GNU/Linux appliance"

    Usage: turnkey-make-ssl-cert [-o|--out file] [-t|--template file] [-i|--ip] [-v|--verbose] [-f|--force-overwrite] FQDN .. [FQDN]
      Generate a certificate/key pair using the list of FQDNs.

    Usage: turnkey-make-ssl-cert [-d|-

[2016-01-21 01:29] OnePressTech commented on #546
Thanks John.

The issue (feature enhancement is for simpler support for commercial SSL certs for both the site and the tools including VM initialisation time and yearly renewal time. A suggested initial focus would be on the [Let's Encrypt](https://letsencrypt.org/) initiative that offers a free SSL certificate that does not pop up with the Browser warning that a self-signed certificate gets.

Apo

[2016-01-21 01:42] Dude4Linux commented on #546
@OnePressTech I haven't had a chance to talk to Jeremy and the other principles yet but I think using Read The Docs or the software it's based on, Sphinx, is the way to go. Just yesterday I was reading an article recommending Sphinx for documentation over a Wiki. ReadTheDocs is a cloud solution that has some advantages (better search engine) than a pure Sphinx application.  The decision to move in

[2016-01-21 01:52] OnePressTech commented on #546
Thanks John..that looks interesting..much appreciated :-)

[2016-01-21 02:19] Dude4Linux commented on #450
There is another open issue for confconsole.  https://github.com/turnkeylinux/tracker/issues/148
I also noticed that it can't manage the network configuration for the lxc appliance.  It would be nice to be able to select static addressing for lxc.

[2016-01-22 06:51] JedMeister commented on #382
Moving this to v14.2 as we'd like to push the v14.1 out soon. Obviously feature requests that have already been included will stay; but otherwise focus for v14.1 is now shifting to bugfixing and maintenance.

@Dude4Linux - Very good points.

I must admit that that's why I was thinking doing it via the Hub (obviously supported on the free plan) might be the best way to go. Although obviously suppor

[2016-01-22 06:56] JedMeister opened #553 "Provide repository for Ansible scripts"
@jstruebel suggested that now we have an Ansible appliance (thanks @Dude4Linux for that! :smile: ) that we should consider using a repo of Ansible scripts (developed by the TurnKey community) as a way to easily share tweaks and customisations.

Currently the easiest way is to use TKLPatch, but as Jonathan rightly points out; it's targeted for use on ISOs rather than installed systems. If you wish

[2016-01-22 07:02] JedMeister commented on #450
I have discussed this with Alon and essentially confconsole needs a rewrite.

As part of that the idea would be to support some sort of "plugin" type system so additional "advanced" options could be really easily developed and added.

It'd also be nice to separate the backend and the UI (so we could even have a web UI for it if we wanted).

[2016-01-22 14:32] JedMeister opened #554 "Plone doesn't have inithook (to set password)"
Henry reported on the [forums](https://www.turnkeylinux.org/forum/support/20160121/potential-security-breach-prior-webserver-password-change) that the Plone appliance uses a default password...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30116221-plone-doesn-t-have-inithook-to-set-password?utm_campaign=plugin&utm_content=tracker%

[2016-01-23 00:36] JedMeister opened #555 "improved and streamlined documentation e.g. "Read The Docs""
We currently have a documentation wiki on the main website (https://www.turnkeylinux.org/docs) and it works ok...

However, as discussed elsewhere (numerous occasions, in numerous places, but most recently bought up by @OnePressTech here: https://github.com/turnkeylinux/tracker/issues/546#issuecomment-173416524) TurnKey should have a better model. I think that versioning support would also be real

[2016-01-23 00:42] JedMeister commented on #546
I agree as well. Documentation has always been the weakest part of TurnKey IMO. Over the years (at times) I have made significant effort to improve that situation, however it has never been that great.

The website docs section (https://www.turnkeylinux.org/docs) is a wiki. So that may be a good place to start for the moment. However I agree with John that Read The Docs is a great potential option

[2016-01-23 01:09] JedMeister commented on #554
FWIW I have spent some time looking into this and it appears that whilst it is easy to create a new user with a password; it is currently not possible to reset the password of a current user via the commandline. This means that our current infrastructure would not be able to support this OOTB (we currently require a specific username).

With further/deeper investigation there is probably a way to

[2016-01-23 01:17] JedMeister commented on #482
FWIW the original issue from the AWS Marketplace is actually a specific bugzilla issue. It has been resolved for v14.1 (see #454 ).

However a superior general solution to the issue of reliable email delivery is still required. However, unfortunately it won't make it into v14.1...

[2016-01-23 01:20] JedMeister commented on #527
Moving this to v14.2 as we'd like to push the v14.1 out soon. The focus for v14.1 is now shifting to bugfixing and maintenance. The code to support this will be added to common, but we will postpone implementation of this (into the appliances) at least until v14.2

[2016-01-25 05:54] JedMeister opened #556 "Root password complexity requirements should be explicitly stated"
The password complexity requirements have been boosted in v14.0.

That's a good thing, however they are not explicit. If you type in a short password, you get told it must be at least 8 chars; but it you use a poor (8+ char) password (twice) you get an error. IMO the min password requirements should be explicitly stated right at the start.

We probably should have a url (that points to our docs) w

[2016-01-25 17:43] Dude4Linux opened #557 "Update Ansible for v14.1 release"
A pull request for the v14.1 updates has been issued.
https://github.com/Dude4Linux/ansible/pull/1

[2016-01-25 22:16] JedMeister commented on #557
Awesome John, thanks for that! :+1: I have merged your changes into the TurnKey repo ready for v14.1. I also made a slight tweak to the changelog.

FYI your PR was against the master branch of your own repo. That happens because GitHub defaults to doing pull requests against the "original" repo (i.e. yours). The TurnKey repo is the fork of yours. If you wanted to do a PR against TurnKey Ansible re

[2016-01-25 22:16] #557 closed

[2016-01-26 10:19] Taylorjoy1 opened #558 "spam removed"
spam removed

[2016-01-26 23:19] #558 closed

[2016-01-27 00:08] #495 closed

[2016-01-27 03:57] #551 closed

[2016-01-27 04:36] JedMeister opened #559 "Drupal cron needs fixing"
As noted here https://github.com/dashohoxha/drupal8/issues/4 the cron was not properly configured for v14.0.

[2016-01-27 05:11] JedMeister opened #560 "TKLBAM crashing MySQL for some users"
Some users have reported that MySQL is crashing when doing a backup of a LAMP (based) appliance. Not quite clear what the circumstances of this are.

https://www.turnkeylinux.org/forum/support/20160109/tklbam-backup-stalling-mysql
https://www.turnkeylinux.org/forum/support/20151116/tklbam-backup-mysql-error
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bou

[2016-01-28 02:53] #516 closed

[2016-01-28 05:57] JedMeister commented on #559
This applies to drupal7 too so have added the relevant tag.

[2016-01-30 02:57] l-arnold opened #561 "Magento TKLBAM"
[update by @jedmeister]
- Need to check that Magento has suitable garbage collection set up.
- check that exclusion of `/var/www/magento/var/cache` from backup doesn't cause issues; and add to profile if not
- exclude `/var/www/magento/var/session` from backups

----

Totally Blank Site built.  Sat for a Week.

Sessions being Backed up.
Takes forever.

Sessions and CACHE should NOT be backed up on

[2016-02-01 19:46] Dude4Linux opened #562 "TomatoCart v14.0 LXC guest (on TKL LXC app) fails with 500 error"
My recent testing with Ansible and LXC shows consistent failures of the v14.0 TomatoCart image. The web browser indicates an http 500 error was received and the apache error.log shows:

    [Mon Feb 01 19:29:39.353439 2016] [:error] [pid 690] [client 192.168.121.1:57892] PHP Warning:  include(includes/modules/services/MODULE_SERVICES_INSTALLED.php): failed to open stream: No such file or directory

[2016-02-02 22:54] JedMeister opened #563 "v14.0/v14.1 fileserver appliance WebUI login mechanism sub-optimal"
The SSH-based authentication (for the Web UI) uses Linux user passwords. Generally this shouldn't be an issue as the fileserver should auto sync passwords between Samba and Linux users. However there is a risk that this may be a point of failure. And on face value it would not be obvious why authentication wasn't working.

Also it may become problematic in the future if/when the Fileserver moves t

[2016-02-02 23:17] JedMeister commented on #464
@qrntz has reported ongoing issues getting the "introduction package" to activate as it should. He mentioned that he has heard (on the slack channel) that the package is corrupted!?

Anyway this has sucked up a fair bit of time and energy with little result. At this point we'll need to postpone this until v14.2 now... :disappointed:

[2016-02-02 23:27] JedMeister commented on #562
Thanks for reporting John. However, it's weird. I was pretty sure that I had tested it (manually) previously and that it had worked ok.

To be sure I downloaded the template and fired it up on my Proxmox server. It all works fine for me...?!

Here is my Apache logs after starting:
[code]

I also tested Admin login (https://<ip-or-fqdn>/admin) and that worked fine too...

I wonder what is causing t

[2016-02-03 00:16] JedMeister commented on #552
Closed as per above merged commits

[2016-02-03 00:16] #552 closed

[2016-02-03 14:42] Dude4Linux commented on #562
@JedMeister Thanks for checking.  If you're not seeing the problem on Proxmox 4, then it must be an issue with the LXC container config.  I've been expecting that we will need to provide some custom handling for certain appliances.  Certainly, the LXC image will need special handling to run in nested mode.  I think the best way to handle customization is to follow LXC's lead and use files named so

[2016-02-04 02:51] JedMeister opened #564 "TKLPatch not working with v14.x ISOs"
The title says it all...

[2016-02-04 23:32] Dude4Linux opened #565 "LXC appliance: Patch needed for /etc/init.d/lxc"
I need to apply a patch to replace the workaround for Ansible can't run lxc_container I reported previously.  I'd like to use git to apply the patch during the tkldev build, i.e. conf.d/main, but I can't figure out where to put the patch file.  At times I miss TKLpatch.  Does anyone have any suggestions?
This is a bug-fix for v14.1.
[code]

[2016-02-05 16:57] Dude4Linux commented on #565
A more complete patch for the problem is:
[code]

In addition to applying the patch, the systemd configuration needs to be re-generated in order to make the change effective.

[2016-02-05 17:17] Dude4Linux commented on #565
I should have included some background in the initial posting.  In studying why the '/var/lock/subsys/lxc' lock always seems to be set while the lxc service is running, I discovered what I think is a bug in the Debian packaging for Jessie and later versions.

In all the versions of LXC that I've examined, in lxc/config/init/common/lxc-containers.in
[code]
the lock is applied just before the contai

[2016-02-05 19:26] Dude4Linux commented on #565
Bug#813838: Acknowledgement (lxc: init scripts apply & remove lock at inappropriate times) has been reported to Debian.

[2016-02-05 23:11] Dude4Linux commented on #565
After scratching my head a good deal and reviewing TKLpatch, I can't see any good way to accomplish this.  I've decided to punt and just use an overlay.  Will just have to remember to remove it when it's no longer necessary.

[2016-02-06 14:42] Dude4Linux commented on #565
Issued a pull request to close this issue.  See: https://github.com/turnkeylinux-apps/lxc/pull/6

[2016-02-08 04:46] #451 closed

[2016-02-08 04:46] #559 closed

[2016-02-08 22:38] JedMeister commented on #565
Thanks heaps John. I'll make sure that this makes it into v14.1. Sorry on my radio silence. I've been working offline to try to get v14.1 out the door. It's still not done but getting close! :smile:

Also I'm going to reopen this issue until the fix is merged. That will make sure that it doesn't get forgotten!

FWIW many of the appliances will just have updates applied via TKLPatch for v14.1. So I

[2016-02-09 01:22] JedMeister commented on #562
Thanks John. Anton has tidied up GitLab and some others so I think all the major issues are fixed. As you say though we may need to provide some additional config for some specific appliances.

[2016-02-09 01:55] JedMeister commented on #523
It looks like this does not apply to Domain Controller as it uses Samba4 config which does not rely on Samba users being mapped to Linux users.

[2016-02-09 01:56] JedMeister commented on #493
The resolution to this issue will be to add `dselect` as a dendency of the `webmin-software` package.

[2016-02-09 01:56] JedMeister commented on #419
Repinning to v14.2 for now.

[2016-02-09 02:50] #409 closed

[2016-02-09 03:19] JedMeister commented on #254
Retargetting to v14.2

[2016-02-09 03:34] JedMeister commented on #478
Sorry running out of time for v14.1. Retargeting to v14.2.

[2016-02-09 03:35] JedMeister commented on #376
I assume that this won't be ready for v14.1 so retargeting to v14.2.

[2016-02-09 03:38] JedMeister commented on #248
Running out of time for v14.1. Retargeting to v14.2.

[2016-02-09 03:43] bormanst commented on #478
Thanks again for even looking at it, I hope it's worth while.

[2016-02-09 04:57] l-arnold opened #566 "PCI Tests failing"
Just ran a PCI Security test and get the following "failure".
This one is (redacted) 14, but likely consistent across systems.
(any way to fix?)

22/tcp
OpenSSH 6.7p1 is vulnerable
High (3)

12321/tcp
server is susceptible to POODLE attack over TLS
High (3)

[2016-02-09 11:53] JedMeister commented on #566
Is this an old appliance or a v14.x one? If it's v14.x then has it been restored from an old backup (i.e. migrated from an earlier version server)?

The reason why I ask is that I'm almost certain that stunnel as configured in v14.x is not susceptible to the POODLE vulnerability. By default we turned off SSLv3. See [here](https://github.com/turnkeylinux/common/blob/master/overlays/turnkey.d/stunne

[2016-02-09 15:37] DocCyblade commented on #376
You may want to mark it v15 :-P

But seriously v14.2 yes sir

[2016-02-10 03:27] JedMeister commented on #541
Reopening as a separate issue. Cloud-init inclusion won't happen for v14.1, but we may still be able to rob some code from it to add this functionality...

[2016-02-10 19:05] bormanst commented on #478
Didn't mean to close issue. Thanks.

[2016-02-10 19:25] Dude4Linux commented on #562
The cgroup: error is not unique to the TomatoCart appliance.  I checked several other appliances and found it was occurring there as well.  I tried several suggestions regarding the use of cgroups within containers, but none were effective in eliminating this error.  According to this bug report, https://bugs.launchpad.net/ubuntu/+source/libcgroup/+bug/1455358, the problem is likely caused by an u

[2016-02-10 22:42] #521 closed

[2016-02-10 23:23] JedMeister commented on #522
Closed by https://github.com/turnkeylinux-apps/odoo/issues/5

[2016-02-10 23:23] #522 closed

[2016-02-11 07:08] JedMeister commented on #565
Closed by https://github.com/turnkeylinux-apps/lxc/pull/6

FWIW @Dude4Linux if in the initial PR comment, instead of putting

you put:

then this issue would auto close when I merge the code! No biggie but streamlines things a little! :smile:

[2016-02-11 07:08] #565 closed

[2016-02-11 16:51] Dude4Linux commented on #562
In my testing, I was mistakenly led to believe that the changes I made to handle cgroups within containers fixed the issue with TomatoCart.  The regression tests I ran last night showed that this was not the case, but they gave me a clue about where to look.  The Ansible playbook I use for testing has three parts, create a container, test the container, and destroy the container.  In normal testin

[2016-02-11 16:51] #562 closed

[2016-02-12 10:01] lirazsiri commented on #509
I'm reopening this. I ran into this issue myself when upgrading a Wheezy instance to Jessie on AWS. Everyone upgrading TurnKey 13 to TurnKey 14 in place (via Debian apt-get dist-upgrade) is going to run into this eventually. From what I gather it's not a bug in TurnKey or even Debian but rather a consequence of how PV instances work on AWS.

In a nutshell, the old version of pv-grub we were using

[2016-02-14 08:13] #512 closed

[2016-02-14 08:41] #564 closed

[2016-02-14 08:47] #205 closed

[2016-02-14 08:47] #498 closed

[2016-02-14 22:36] JedMeister opened #567 "Yii framework update"
New version of Yii framework released. Upstream helping out to keep it up to date.

[2016-02-14 22:36] JedMeister commented on #567
closed by https://github.com/turnkeylinux-apps/yiiframework/pull/8