[2016-11-18 00:42] DocCyblade commented on #732
@JedMeister - I know that was something that was talked about last year this time when working on Odoo, to allow further tweaking of packages and such, this to me awesome, I'll be sure to install and break it, I mean test it! So much TurnKey so little time!

[2016-11-18 00:45] JedMeister opened #733 "Problems enabling Mediawiki extensions"
As reported Bryan in the [forums](https://www.turnkeylinux.org/forum/support/20161109/enabling-mediawiki-extensions), he's having issues enabling Mediawiki extensions in the mediawiki appliance.

It hasn't been confirmed yet but he has given clear instructions on how to produce.

This is somewhat related to #730

[2016-11-18 00:49] JedMeister commented on #732
Hehe! :smile: Looking forward to hear how your testing goes!

FWIW it's been designed so that additional appliance specific plugins can be added to the appliance's overlay dir (just like we do with inithooks). Hopefully it's fairly clear how you add your own plugins... See the [example.py](https://github.com/turnkeylinux/confconsole/blob/master/plugins.d/example.py)

[2016-11-18 08:19] JedMeister opened #734 "Include new Adminer version in LAMP/LAPP (and derivative) appliances"
Apologies on the wordiness of this but I wanted to provide some background and context.

Adminer's MySQL functionality is quite good. However, as some users have noted, it's support of PostgreSQL is pretty minimal. The version that we have been including ([3.3.3](https://packages.debian.org/jessie/adminer)) is very dated and apparently newer versions provide vastly improved PostgreSQL support/feat

[2016-11-18 08:24] JedMeister commented on #369
Most of the work for this has been done and the new confconsole package is in our `jessie-testing` repo. Assigning @DocCyblade as lead battle tester! :smile:

[2016-11-18 08:24] JedMeister commented on #180
Added @DocCyblade for testing for v14.2

[2016-11-18 08:25] JedMeister commented on #450
As per https://github.com/turnkeylinux/tracker/issues/369#issuecomment-261474743 I am assigning @DocCyblade as lead battle tester! ￼:smile:

[2016-11-18 08:26] JedMeister commented on #546
As per https://github.com/turnkeylinux/tracker/issues/369#issuecomment-261474743 I am assigning @DocCyblade as lead battle tester! ￼:smile:

[2016-11-18 08:27] lamby commented on #734
(No problem!) Let me know if the Debian integratio could be better. in places.

[2016-11-18 18:27] DocCyblade commented on #180
@qrntz - Let me know how you would like me to test this. I could create a mock build from say core or lamp and inject the test version in, and test it that way, or just install it on a existing install and try to break it! I also want to build my own "plug-in" to test that functionality as well. I have not really looked too much into the code yet, how does it keep track that a run once function ha

[2016-11-18 18:40] DocCyblade commented on #734
@lamby - Thanks for your contribution! At some point in the future I want to dig into and learn debian package creation/maintenance. Do you know if any paths have changed from the version we are using to the new version you packaged?

[2016-11-18 18:42] DocCyblade commented on #450
Did not realize, I opened this request :-) will be fun to test the feature I requested and see it through to production.

[2016-11-18 19:23] whampt commented on #722
Not working

[2016-11-18 19:30] whampt commented on #722
[1]
https://www.turnkeylinux.org/forum/support/20100208/turnkey-lamp-and-cgi#comment-26727
[2] https://github.com/turnkeylinux/tracker/issues/722
[3] https://github.com/turnkeylinux/tracker/issues/722#issuecomment-257510083

Done all. Can work with as my mac shows the page correctly, but not my linux box. This is only a test server, so its kind of ok. Would really like to know what I need to do he

[2016-11-18 22:04] lamby commented on #734
Not that I am aware of..

Ken Robinson wrote:

--
Chris Lamb
chris-lamb.co.uk / @lolamby

[2016-11-20 12:29] DocCyblade commented on #369
Since this issue is with "extending" the confconsole for making your own. Thats what I will test. Create a simple extension and a more complex one, and test the integration. I'll post my testing code and methodology here in this issue.

[2016-11-20 12:43] DocCyblade commented on #734
My plan of attack:

- [ ] Pre-test: download and have go with it on a new install of LAMP/LAPP
   - [ ] LAMP
   - [ ] LAPP
- [ ] Clone and work off new branch from common, for the common bits
   - [ ] Conf scripts
   - [ ] Overlays
- [ ] Test builds using updated common:
   - [ ] LAMP
   - [ ] LAPP

Example Pins:
https://github.com/turnkeylinux-apps/asp-net-apache/blob/master/conf.d/main

[2016-11-20 13:00] DocCyblade commented on #546
I'll post my testing methodology and testing list here in this post. For now I am adding some info for my self, as I am new to Let's Encrypt looks nice. This will be tested with the new confconsole that needs to be tested as a plug-in that was written.

For my Info:

How LE works:
https://letsencrypt.org/how-it-works/

LE Stage/Testing:
https://letsencrypt.org/docs/staging-environment/

[2016-11-20 13:02] MPTMG opened #735 "New Appliance: ZoneMinder"
Completed work on the ZoneMinder Application (no artwork yet). Repo is here https://github.com/MPTMG/ZoneMinder. Ready to be built and tested. Got a question for the experts here though.

Question 1:
Application requires timezone to be set in  /etc/php5/apache2/php.ini
During the initial setup (inithooks phase) will cat /etc/timezone reflect the timezone of the installation? If so I can script it

[2016-11-20 13:03] DocCyblade commented on #450
As this is part of the confconsole re-write testing, a plug in was created within the new confconole that will do this. Thats what I'll be testing :-)

[2016-11-20 13:14] DocCyblade commented on #735
@MPTMG - I am not "an expert" but I'll put in my 2 cents:  Leaving it to UTC at build time, then a first boot inithook would work. You could to ensure correct format use a python script to make a pretty list to select from then call it from bash script. I am pretty certain that the time zone is not set on the system, as thats one of the things I do when I install a TKL server.

I am testing a new

[2016-11-20 13:50] MPTMG commented on #735
@DocCyblade is there any objection to simply using tzselect command? It would not have the UI as it is just simply a command line tool, but I could call it on firstboot inside my own script and then make the necessary changes to /etc/php5/apache2/php.ini. I could always prompt with ui and "hit enter to run tzselect to set timezone" so users would not be suddenly surprised by a prompt. Naturally th

[2016-11-20 14:19] DocCyblade commented on #735
I am thinking that during headless deployments like the hub, the initscripts look for a preseed file since it's not interactive, so initscipts need to look for this file and add its variables, then the script would not prompt and use the preseeded variables.

Look at any of the python scripts in common that change a password like for the root user in MySQL as an example.

I would say as long as a

[2016-11-20 14:30] DocCyblade commented on #735
Also if I remember correctly, I think they use a [wrapper for dialog. ](
https://github.com/turnkeylinux/pythondialog) that allows you to create custom dialogs pretty easy.

[2016-11-20 20:15] qrntz commented on #180
Sorry, I missed this one in the recent bout of notifications (GH doesn't seem to distinguish mentions from watched issue notifications… at least for me).

@DocCyblade, I think both ways should work equally well. I just purged the confconsole package and launched confconsole from the Git repo when I was testing because it doesn't seem to affect anything outside its own directory.

AFAIK confconsole

[2016-11-20 21:44] JedMeister opened #736 "Hub to provide "proper" invoices"
Currently the Hub provides a receipt (via Stripe) when charges are successfully applied. A few users have reported that they would like a "proper" invoice. I.e. which includes our name and address, their name and address and the sales tax (e.g. VAT/GST/etc).

[2016-11-20 21:52] JedMeister commented on #722
When I posted my fix instructions above, I had tested this on TKL LAMP v14.1 and confirmed that it worked. So I'm not sure why it's not working for you?! Unfortunately I don't have a running server handy, but I'll try to double check

I did noticed that I had set the paths of `OLD` and `NEW` as relative (to root - `/`) rather than absolute. I updated my previous post to use absolute paths, then re

[2016-11-21 00:07] MPTMG commented on #735
I have been using wrapper for dialog for Mumble, but did not have a good example for yes/no dialog. I basically have been adapting previous implementations by others for my own purposes. I got a little creative and created a yes/no dialog (adapting from documentation making it work for TKL) for selecting timezone via tzselect or proceeding with default of UTC. I am still including the try catch bl

[2016-11-24 06:00] joebitcoinorg opened #737 "SSH Configuration issues"
I'm trying to get SSH reachable from the Internet.
Docker image  turnkey-joomla3-14.1-jessie-amd64

When people try to ssh to the machine this happens

Permission denied (publickey).

This hasn't changed even since modifying /etc/ssh/sshd_config  to enable:

PermitRootLogin yes
PasswordAuthentication yes
StrictModes yes

...by using this configuration line.

SSHD_OPTS="-f /etc/ssh/sshd_config -o S

[2016-11-24 12:29] lirazsiri opened #738 "Replace n with nvm in common nodejs configuration"
common/conf/node-install installs the 'n' node version manager from https://github.com/tj/n

We should be using https://github.com/creationix/nvm instead

[2016-11-24 12:32] lirazsiri commented on #610
Stratalux makes a Managed ELK Stack on the AWS Marketplace we could learn from.

[2016-11-25 00:56] JedMeister commented on #737
That's really weird. When I tested the v14.1 builds (prior to release) I just used the same instructions as per the [original blog post announcement](https://www.turnkeylinux.org/blog/announcing-docker-builds) (obviously adjusting for v14.1 where necessary). I only tested Core thoroughly but password SSH login definitely worked (I rarely ever bother setting up keys for my tests). As all appliances

[2016-11-25 01:04] JedMeister commented on #735
Firstly apologies on my radio silence. I really need to put some time aside to look over all your code properly. I had hoped to do that this week, but I'm almost out of week now and not sure if I'll get time today. Please be assured that I haven't forgotten about you nor am ignoring you...

Anyway, directly relevant to this thread. Here's another thought (not sure if it's a good one) but you could

[2016-11-25 04:27] joebitcoinorg commented on #737
In this case the docker instance is connected to the same bridge the
Ethernet is.  So the docker instance gets a real ip address from our
external network.  All the other services work from the Turnkey Build.

I'll check on the main host's ssh daemon to be sure that it isn't
competing for the same port and ip.

Thanks for listening to my experience.

Regards,
Joe Baker

On 11/24/2016 04:56 PM, Jer

[2016-11-25 15:45] MPTMG commented on #735
I will take a look at bugzilla appliance for preseed info after the holiday. No rush on looking the code over I am just trying to contribute a bit as I think turnkey is useful for the masses. Hopefully when these are finished  and commensurate with your standards your group contacts the projects and gets a link posted to drive some traffic your way.

[2016-11-26 15:12] qrntz commented on #737
As it is, I can't really tell what is wrong. The connection is going to the right place if there are new entries showing up in the logs of the corresponding sshd host, though.

@joebitcoinorg, could you please try to get some more verbose logs for both the server and the client? This should be a matter of adding
[code]

to `/etc/ssh/sshd_config` and using
[code]
as your client-side command. Note t

[2016-11-27 04:24] joebitcoinorg commented on #737
Forgive me.
This issue is closed.  Operator error - IE. My mistake.

The ssh port docker was using was 1022 .  I was trying to use port 22
which was controlled by a LXC container which contained the docker
container.

On 11/26/2016 07:12 AM, Anton Pyrogovskyi wrote:

[2016-11-27 04:29] joebitcoinorg commented on #737
I had an Ah ha moment when I looked at this report of the docker ps command below.  Docker somehow chose to use port 1022 instead of 22  so I was trying the wrong port.  I tested it by turning off the ssh daemon and tried the client connection attempt and to my astonishment, there was still an ssh daemon responding - this was from not the host, but the LXC container from which I was running docker

[2016-11-27 17:01] MPTMG commented on #735
I took a look at the code for outmail in the bugzilla appliance. I think this use case is a bit different, but I have taken your advice on using dpkg-reconfigure tzdata which does bypass the yes/no requirement nicely. Essentially pre-seed will always default to UTC (chose to do this in conf.d/main as it is just a php config setting) which incidentally is also what default system timezone is. Perha

[2016-11-28 00:03] JedMeister opened #739 "[Hub] Support log in / sign up using AWS credentials"
The Hub currently supports log in with lots of different providers e.g. Google, Yahoo, Verisign, etc.

However, Amazon is not one of them...!? Despite the fact that all Hub users have an AWS account (or need one).

It appears that it's possible: https://login.amazon.com/

[2016-11-28 00:10] JedMeister opened #740 "[website] image verification docs need updating"
The existing website [docs on image verification](https://www.turnkeylinux.org/docs/release-verification) are out of date and need updating. Ideally this should be done ASAP, but at least by the v14.2 release...

[2016-11-28 01:45] JedMeister opened #741 "Create Docker build specific documentation"
FWIW this probably applies to most of our different build type docs (and other docs too); but this issue specifically refers to documentation for Docker builds.

A lot of TurnKey documentation is within blog posts. Although when first written this is ok, ideally these docs should be extracted and included in our [docs](https://www.turnkeylinux.org/docs) area. The blog post should then be updated t

[2016-11-28 09:13] vondrt4 commented on #412
Bump on this. I don't want to open a new issue, but di-live does not support UEFI. I just spent several hours trying to install TKL LAMP for a customer on a physical HP Proliant gen9 server and failed.
UEFI mode: ISO does not boot at all.
BIOS mode: Installer goes through, installs grub-legacy, but system does not boot. Forced boot from HDD loops back to boot menu.
I solved it by installing Debian

[2016-12-01 00:10] JedMeister opened #742 "Use httpredir.debian.org as primary Debian mirror (not http.debian.net)"
According to https://wiki.debian.org/DebianGeoMirror:

So even though what we use works, it's probably sub-optimal.

[2016-12-02 04:08] JedMeister opened #743 "Trac appliance: internal server error"
As reported by [kipahei170 in our forums](https://www.turnkeylinux.org/forum/support/20161128/trac-invalid-indexhtml), Trac has an invalid `index.html` which causes it to throw and internal server error when first launched.

kipahei170 reports that removing the last 2 lines from the `index html` works around the issue.

[2016-12-02 04:35] JedMeister opened #744 "Inithooks docs need updating to include all current appliances..."
As noted in the [forums](https://www.turnkeylinux.org/forum/support/20161128/turnkey-docker-non-interactive-problem) recently, the inithooks docs are out of date.

I have updated them to include secalerts, but I noticed that there are some inithooks that are no longer relevant (e.g. `40mldonkey`) plus the newer appliances are missing (e.g. ghost, mediaserver, etc).

Also, the original docs are in

[2016-12-05 14:12] prassaschr commented on #630
One vote for fail2ban.
I use it for many years successfully and I thing it is a must!

[2016-12-05 14:16] prassaschr opened #745 "TCP port 10000"
Hi,
If I use TCP port 10000 for any service , like for example openvpn, after that, I can't access the 12321 main control (webmin). I believe that you must restrict the use of the 10000 tcp port.

[2016-12-06 03:31] DocCyblade commented on #546
@qrntz - Was having a go with the Lets Encrypt plug in, and not sure if it's a bug or how I am running it.

So on a fresh install of core, stopped the service,  I removed the `/usr/lib/confconsole` directory and cloned the confconsole repo right to it `/usr/lib/confconsole` then started the service.

I can see the new menu items :-)

I tried the Lets Encrypt -> Letsencrypt menu item, and it won't

[2016-12-06 03:37] DocCyblade commented on #180
@qrntz - I had a go with the hostname setting. I selected the option, and tried to cancel. Said it was updated (I did not put anything in the box!)

I used the same setup as https://github.com/turnkeylinux/tracker/issues/546#issuecomment-265051242

Do you want me to open up new issues to keep track or just post my findings in the issues that are related such as the Let's Encrypt and the Hostname i

[2016-12-06 03:42] DocCyblade commented on #180
@qrntz - When I do put a hostname in, it does indeed change the name, but confconsole it's self needed to be restarted. Not sure if you can re-read the host name on the menu so it's an immediate on the confconsole.

[2016-12-06 03:50] DocCyblade opened #746 "New ConfConsole Testing: Error in Region Config"
@qrntz

Getting an error on each of the three menu options. I think there is system variable I am missing. I posted a new issue as this does not fit any existing issue I know of.

<img width="504" alt="screen shot 2016-12-05 at 10 47 19 pm" src="https://cloud.githubusercontent.com/assets/9731860/20912392/fff02b72-bb3c-11e6-8cd3-6cc0e975968c.png">

[2016-12-07 23:18] JedMeister opened #747 "Investigate and consider using 'unattended-upgrades' to handle 'secupdates'"
As pointed out by @Dude4Linux and highlighted by the relatively recent [Dirty COW](https://www.turnkeylinux.org/blog/dirty-cow-kernel-privilege-escalation-vulnerability) vulnerability, it would be ideal if auto security updates could also ensure server reboots.

As noted by John, the Debian package [unattended-upgrades](https://packages.debian.org/jessie/unattended-upgrades) appears to support tha

[2016-12-09 07:11] JedMeister commented on #488
I'm reopening this, as I just noticed that it still hasn';t been fixed in the documentation. So to avoid it getting forgotten again I've pinned it to v14.2...

[2016-12-11 23:12] qrntz commented on #723
Sorry this took me a while! Please review/comment PR above.

Did anyone else witness 30rootpass not being executed properly (root password remains «turnkey»)? If not, must be something broken in my system.

[2016-12-12 01:54] JedMeister opened #748 "Buildtasks: bt-container throwing error during build"
As reported by Christian in the [forums](https://www.turnkeylinux.org/forum/support/20161117/drupal-8-announced-not-available-proxmox#comment-27007) when using `bt-container`:

[code]

[2016-12-12 04:32] qrntz commented on #746
https://github.com/turnkeylinux/confconsole/commit/f7de5ddb08ccd509cc5f021ebf5f894312c2617f broke it by making `pluginManager` an instance variable.

Local state is good, but I don't think in this particular case it's a good idea. `TurnkeyConsole` is inherently interactive. It doesn't make sense to initialize a Dialog instance in the constructor then. However that is where the `pluginManager` is n

[2016-12-12 12:20] MPTMG commented on #723
No issues for 30rootpass for me. I merged your changes/improvements rebuilt the iso and everything works as expected @qrntz.

[2016-12-12 13:48] qrntz commented on #723
Must be something on my side. Thanks for testing & merging.

[2016-12-12 23:34] JedMeister commented on #745
Hi apologies for delayed response.

Your experience is expected behaviour. That is because Webmin uses both port 10000 (internally) and port 12321 (externally via stunnel).

To avoid the issue you are experiencing, either don't use port 10000 or reassign Webmin to listen on an alternate port internally and adjust the stunnel configuration link the internal port to the external port.

[2016-12-12 23:34] #745 closed

[2016-12-12 23:37] JedMeister commented on #746
Thanks for the report @DocCyblade and thanks for the followup @qrntz.

@OnGle is a bit busy ATM, but I'll get him to look into this as soon as he's able (hopefully this week?).

[2016-12-13 00:55] JedMeister commented on #180
@DocCyblade - your recent post suggests to me like the confconsole plugin system itself may benefit from some tweaking?!

Re flagging issues - in some ways it'd be nice (and neater) to keep stuff together (in a single issue). However seeing as the work was split - between Anton (some plugins) and Stefan (the plugin system itself) it would probably makes it easier to direct to the right person if a

[2016-12-13 01:04] JedMeister commented on #369
FWIW the new confconsole package is in turnkey's `jessie-testing` repo. So you can install the new version like this:
[code]

FWIW to disable that you can just rename the list file (I use a `disabled` suffix but any file extension other than `.list` should do the trick):
[code]

[2016-12-13 01:05] JedMeister commented on #546
Not sure if this is an issue with Anton's plugin or the plugin system itself?

[2016-12-13 01:06] JedMeister commented on #737
Thanks for posting back with the updated info.

[2016-12-13 01:06] JedMeister commented on #737
Oops, didn't mean to reopen...

[2016-12-13 01:06] #737 closed

[2016-12-13 01:08] JedMeister commented on #630
I'll add this to the v14.2 milestone. That's no a guarantee it'll make it in, but it is a possibility...

[2016-12-13 01:27] JedMeister commented on #412
Hi @vondrt4,

Ah, that sucks!

FWIW I have had some discussions with a Debian insider and he recommended that if we wish to continue providing the "live" functionality, that we not rebase on the standard Debian installer just yet. Apparently the 'live' stuff in the default `di` is somewhat in a state of flux. He recommends that we wait until that has settled down before we proceed. I haven't doubl

[2016-12-14 23:23] JedMeister opened #749 "Website forum posting guidelines explicitly posted somewhere"
We already have info about our community guidelines and expectations, but IMO it would make life easier for those trying to help, if some guidelines were given to those seeking help. Something like this perhaps?:

[2016-12-15 14:49] varnav opened #750 "Script for easy Observium upgrade"
I don't see any tool to upgrade Observium. But this can be easily done according to [manual](http://www.observium.org/docs/updating/).

It may be worth to add this script for easy upgrade:

[code]

[2016-12-19 05:59] qrntz commented on #738
@lirazsiri why?

[2016-12-20 01:19] OnGle commented on #746
Sorry for the long period of being dark on the azure stuff. So first of all my mind's diverged a bit from the confconsole stuff so I'll have to have a look at the code to properly understand what you're saying. I think I got a bit overzealous in the plugin system's creation, making a lot of decisions that probably should of been better thought out.

Also, what's the status of this, I'm happy to fi

[2016-12-20 01:49] OnGle commented on #746
So after having a bit of a look, first of all I've got to apologize for the lack of granularity in my commits, second of all. I'm still a little unclear as to the cause of this issue, I can't for the life of me find where interactive was being set, or if it was being set at all.

While I don't doubt you, I'm struggling to see the correlation between the lack of "interactive" in plugins and pluginM

[2016-12-20 04:34] JedMeister commented on #706
Pretty much done, just need to update the website...

[2016-12-22 05:30] JedMeister commented on #735
More apologies on my lack of input lately... I haven't gotten as far as fast with stuff as i might have hoped...

That all sounds reasonable to me. However I think that there is some misunderstanding. Apologies that it's not explicitly noted very well.

The non-interactive inithooks variable names need to remain consistent with the ones noted in the pre-seeding process (included in your last post)

[2016-12-22 13:41] MPTMG commented on #735
I have edited the Mumble Appliance to ensure that all non-standard inithooks pass APP_PASS as the parameter thus ensuring that they can be pre-seeded via the standard variable set outlined here:

cat>/etc/inithooks.conf<<EOF
export ROOT_PASS=supersecretrootpass
export DB_PASS=supersecretmysqlpass
export APP_EMAIL=admin@example.com
export APP_PASS=webappadminpassword
export SEC_ALERTS=admin@example

[2016-12-22 14:00] JedMeister commented on #735
You rock! :+1:

Preseeding timezone is a really good question. I wonder if we could somehow use geolocation to guess it by default when preseeding?

[2016-12-22 15:07] MPTMG commented on #735
We can use geolocation via IP address. Quite simply we can query via curl http://ip-api.com/json to get a json which will include current timezone based off IP. grep and sed could reduce the json to just the timezone and voila use this value for setting the time. Let me know if this is acceptable to you and I will implement as part of the inithooks. Given this option do you want to setup a non-int

[2016-12-22 18:16] MPTMG commented on #735
Went ahead and changed the init scripts for ZoneMinder to make align them with the changes @qrntx made to my Mumble init scripts (everything in python no additional calls from python). Made the whole process non-interactive with timezone auto detected as explained above. Will commit the code later today after I can thoroughly test it. FYI to @qrntz I saw you pulled the ZoneMinder code and don't wa

[2016-12-22 18:27] qrntz commented on #735
@MPTMG I faced a strange bug which won't let me build ZoneMinder with my changes so I held off pushing for now. I will try to take another look at it soon.

[2016-12-22 21:06] MPTMG commented on #735
@qrntz I had a problem when I added the back ports repo and tried to install from the repo. I ended up downloading the ZoneMinder package directly and installing it (Would Not Build Installed From Backports). I then added the repo in conf.d main. With the back ports repo added the user would be able to update ZoneMinder via apt. Your problem arise in a similar situation?

[2016-12-22 23:46] MPTMG commented on #735
Take another look when the opportunity presents itself. I have committed changes a dn texted and everything is functional. I will get the artwork finished tomorrow and clean up the readme.

[2016-12-25 23:20] cpugenesis commented on #680
In setup it started to work then started to see this issue:

 "Torrent list not yet available, connection to rTorrent not established."

For me, even when I ran rtorrent itself, I could see the rtorrent console but still saw the above error in rutorrent.

The below has got it up and running for me, allthough need to do some extensive testing now:

* Edit rutorrent config
 nano /var/www/rutorrent/c

[2017-01-03 01:43] OnGle commented on #748
I'm not 100% sure but if memory serves me correctly, BT_CONFIG needs to be reset after installing pfff and cmake.

[2017-01-05 00:54] #742 closed

[2017-01-05 01:57] OnGle commented on #743
I was unable to reproduce this issue in fresh built chroot, on iso or in the current available container build. Without further information I cannot confirm this bug.

[2017-01-06 01:46] DocCyblade commented on #734
@JedMeister - Testing is going well, the new version looks good. Will need to make some changes as they added new database types and changed the version checking script. How much do you want me to do? I can update the common bits, and update the lamp/lapp code too so that the back ports gets added. I'll have to see if that can be done in common. It's been too long since I have been mucking about i

[2017-01-06 04:48] JedMeister commented on #734
Hey @DocCyblade - Great work mate! I would love you to do as much as you are happy to do! :smile:

I really liked the way that you pre-configured the theme and DB type for the different appliances last time. I think that'd be worth doing again if you have the time and energy!?

FWIW, here's where you put the theme overlay (in common): https://github.com/turnkeylinux/common/tree/master/overlays/adm

[2017-01-06 12:09] lirazsiri commented on #616
I'm looking into fixes as this vastly increases the length of the development cycle, which is not a good thing. Starting from scratch each time is a major drag. There's an easy workaround that doesn't involve reverting the Anton's file spillage fix to deck. If I can't fix deck directly I'll commit a fix to that.

[2017-01-06 13:57] lirazsiri commented on #616
I haven't found an easy fix yet for the deck regression. In the meantime, I'll document the test case for reproducing this in a way that also tests whether the file spillage issue is resolved. If orig/ is newer than orig.timestamp and we have a build process that assumes the orig/ timestamp is fixed that is going to trigger a target rebuild:
``
mkdir -p orig/
touch orig/deletethis
touch orig/file

[2017-01-06 14:19] lirazsiri commented on #616
I committed a simple workaround which can easily be applied by hand to existing versions of TKLDev:

https://github.com/turnkeylinux/fab/commit/852238033637e6b1034332938f4c6d7aa0c00ef3

[2017-01-06 14:19] #616 closed

[2017-01-06 22:11] DocCyblade commented on #734
@JedMeister thanks for the links! The current theme works with 4.x and we can set local host and server type like we do now!

[2017-01-08 12:07] DocCyblade commented on #734
I'll be working on getting pull requests submitted in the coming week

[2017-01-09 01:27] JedMeister opened #751 "TKLBAM on ownCloud appliance not backing up user data"
A user has reported that their backup of the ownCloud appliance is not including all the data (i.e. the files that ownCloud has stored). It looks that the TKLBAM profile doesn't include the default data location: /usr/share/owncloud/data

[2017-01-10 23:52] JedMeister commented on #743
closing for now as we couldn't reproduce this issue. Please comment and/or reopen if new info etc comes to light.

[2017-01-10 23:52] #743 closed

[2017-01-12 21:23] chariga opened #752 "OpenVPN server restart"
Hi,

our OpenVPN server restart every hour :(
I runned apt-get update and nothing changed.

Please help.

Best regards,

Chris HARIGA

[2017-01-13 01:39] JedMeister opened #753 "TKLBAM failing to backup - duplicity 'AssertionError'"
I have noted this as a bug, although it's likely that this is something of an edge case, so perhaps this is actually a feature request for better error handling rather than actually a bug? I'll let you decide which it really is! :smile:

The workaround is tacked on the bottom.

Ronan0 reported in the [forums](https://www.turnkeylinux.org/forum/support/20161212/aborted-back-sessions) that his TKLBA

[2017-01-13 02:17] JedMeister commented on #752
Hi @chariga,

Firstly, this is our issue tracker for bugs and feature requests. Whilst your issue may be caused by some sort of bug; to be honest, it sounds more like something specific to your scenario. In my experience, unrequested automatic Linux reboots are usually caused by hardware issues, driver incompatibility or some other unexpected hardware/software misbehaviour.

I.e. it seems like som

[2017-01-13 02:17] #752 closed

[2017-01-15 17:34] qrntz commented on #746
Sorry, took me a (long) while.

@OnGle, basically, I implemented interactive by adding it to the globals dict to be passed to `PluginManager` (and made available to plugin code). This method no longer works because `TurnkeyConsole` [initializes its own PluginManager](https://github.com/turnkeylinux/confconsole/commit/f7de5ddb08ccd509cc5f021ebf5f894312c2617f?diff=unified#diff-e4f0afceac2ccbebaea20b

[2017-01-15 17:49] qrntz commented on #748
I wonder if we even need pfff (and conversely, cmake) anymore… does anything still use the signatures?

[2017-01-16 02:44] JedMeister commented on #748
@qrntz - I totally agree. FWIW @OnGle has removed all the OpenNode build stuff as it's a deprecated platform. FWIW OpenNode was/is quite similar to Proxmox, but based on CentOS. They have now moved to a container based model which TKLX will probably integrate with quite nicely once we get there...

[2017-01-16 05:28] #731 closed

[2017-01-17 00:04] OnGle commented on #746
First of all I really appreciate you giving me all that info mate :)

Now, I see the two plugin manager instances, the global pm and the turnkey console instance variable, however in between the 2 commits you've noted I don't see any difference too how they're setup, both commits error for me giving "global name interactive not defined".

As far as the plugin manager instance, I agree absolutely,

[2017-01-17 03:21] #722 closed

[2017-01-17 04:33] #724 closed

[2017-01-17 04:57] JedMeister commented on #493
This issue has been [fixed upstream in Webmin](https://sourceforge.net/p/webadmin/bugs/4676/#fcae) so will get included when we update Webmin.

[2017-01-17 05:01] JedMeister commented on #369
As discussed elsewhere, the new improved confconsole is a bit buggy and is in the process of being tweaked. Once we have an updated version I will let you know.

[2017-01-17 05:17] JedMeister commented on #685
I have just double checked and this issue can be closed as the fixes are either included in Debian (Apache, PHP, LigHTTPd - i.e. the LAMP/LAPP/Lighty appliances themselves, plus all derived appliances; see above links for details) or have workarounds implemented by TurnKey (Nginx & Mattermost - as noted in previous post).

[2017-01-17 05:17] #685 closed

[2017-01-17 07:16] #748 closed

[2017-01-18 01:06] JedMeister commented on #732
I removed Core yesterday, thinking that this was a phplist specific thing to consider. However, in discussion with @qrntz he raised a really good point: As postfix is installed in all appliances, it probably should be easily adjustable in all appliances. The postfix config should also probably be auto set by the tool we are using for setting the hostname (which qrntz worked on, hence why he's been

[2017-01-18 01:39] JedMeister opened #754 "Support "out of band" appliance updates"
**[update]** I have had a lengthy discussion with Alon and Liraz. We have decided that the easiest way to implement the spirit of this feature without risk of breaking stuff (and this the least amount of work) is to just allow the appliance version to get out of sync. I.e. Core might be v14.2, but other appliances might be v14.3 or v14.4.

----

As noted elsewhere, currently TurnKey requires that

[2017-01-18 04:26] OnGle opened #755 "Confconsole leaves terminal dirty on crash"
since confconsole utilizes the dialog library (wrapper for dialog which uses ncurses). When confconsole crashes, is killed or interrupted it usually leaves the terminal in a state not suitable for commandline usage.

As a workaround typing `stty sane` into the terminal should fix it.

[2017-01-18 04:31] OnGle opened #756 "confconsole interactive plugins response to "back" or "cancel" inconsistent"
When confconsole is run directly with plugins (`--plugin=name`), after it exits it either re-runs the same window or goes back to the confconsole main screen. This should probably be consistent across plugins.

[2017-01-18 04:58] l-arnold commented on #732
Good directions guys.  Postfix would be great to thresh out and make functional.

[2017-01-18 05:51] JedMeister commented on #540
Hey @l-arnold is this still an ongoing issue for you?

Do we need to look into this further or are things all good now?

[2017-01-18 07:37] JavaMachine commented on #686
Hello fellow developers ( @qrntz @JedMeister @XaviTorello ),

After completing "Workaround",
I am facing another problem:

`remote: Internal server error
fatal: unable to access 'http://git.paynet.local/java/vas_service.git/': The requested URL returned error: 500
Pushing to http://git.paynet.local/java/vas_service.git
`
from access.log I could see that git is trying to access:

`http://git.paynet

[2017-01-18 10:18] JavaMachine commented on #686
UPD: Googling above last errors gave me folowing solutions for this ([Here](https://gitlab.com/gitlab-org/gitlab-ce/issues/22484) and [Here](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1595))

But I could not find file '/opt/gitlab/embedded/cookbooks/gitlab/templates/default/sv-gitlab-workhorse-run.erb'

Also no success searching "-proxyHeadersTimeout" in all files :(

[2017-01-18 10:54] qrntz commented on #755
`reset` also works. I don't think we can do much with the underlying issue because it's just what dialog itself does on interrupt (at least in my experience).

Perhaps we can just use a simple wrapper around confconsole.py which would call it, check exit status and issue `reset`/`stty sane` if the status is non-zero. And if the TTY is in default mode it's basically a no-op so shouldn't hurt.

[2017-01-18 23:55] JedMeister opened #757 "TKLBAM - email notification on failed backup"
A long term TurnKey/TKLBAM user asked

I forwarded the question to @lirazsiri (the TKLBAM Daddy), here's his response:

[code]

[code]

[2017-01-19 00:31] JedMeister commented on #686
I am no GitLab expert, but my guess is that the path `/opt/gitlab/embedded/cookbooks/gitlab/templates/default/sv-gitlab-workhorse-run.erb` relates to installs done with the "omnibus" installer. The TurnKey appliance uses a "source" install so IIRC instead of `/opt/gitlab` the base installation path is `/home/git/gitlab`.

Having said that I haven't checked or tested, just working from assumptions/

[2017-01-19 00:35] JedMeister opened #758 "GitLab: Error 500 using https access to repo"
In another thread - https://github.com/turnkeylinux/tracker/issues/686#issuecomment-273404640 - @JavaMachine reports an additional issue when working with repos on GitLab (after implementing GitLab workhorse inclusion workaround).

[2017-01-19 00:38] OnGle commented on #755
Agreed.

We could wrap it 2 ways, externally with `confconsole || stty sane` (not reset to preserve traceback) or we could wrap confconsole's `main()` in a catch-all try-except, run `reset` and print the traceback.

The first way would be obviously  quicker and not very messy to implement. The second is a bit dirty but it allows preserving of tracebacks too long to fit in a single screen (probably

[2017-01-19 05:14] JavaMachine commented on #686
I resolved issue by following below instruction:

[https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/update/8.2-to-8.3.md](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/update/8.2-to-8.3.md)

NOTE: there is no update info about updating straight from 8.8 to 8.16

So in the above instruction `treat 8.2 as 8.8` and `treat 8.3 as 8.16`

checkout to:
GitLab:  `8-16-stable`
GitLab-shell

[2017-01-19 05:34] JedMeister commented on #686
Awesome, thanks for the update! :smile:

[2017-01-19 05:40] JedMeister commented on #758
@JavaMachine has kindly noted the fix/workaround for this issue: https://github.com/turnkeylinux/tracker/issues/686#issuecomment-273684081

[2017-01-20 00:15] JedMeister commented on #706
Just realised I had saved the new logo to the wrong place/name. So just fixed that and (finally) updated the website... There are still some third party places where the old logo still exists and I will aim to tidy those up as we go, however I am closing this issue now.

[2017-01-20 00:15] #706 closed

[2017-01-22 18:56] spyrule opened #759 "Please, update package to Magento 2.1+"
a Package like this is badly required to allow for fast development for Magento 2.1+. Please consider upgrading/offering a new package that is Magento 2.1+ compatible (php 7, either nginx or apache)

[2017-01-23 03:12] JedMeister commented on #751
The user in question has got back to me and noted that the path to the data is a symlink and it appears that TKLBAM isn't following the symlink, just backing it up. With the correct path (that the symlink points to) added, it works as expected.

[2017-01-23 22:41] DocCyblade commented on #734
@JedMeister - Checking in, found some time to work on this. It looks like however the new version requires the MySQL drive (not sure why) so I can limit the drivers to MySQL for LAMP for sure but PostgreSQL. Looking into maybe overriding one of the Drive variable using and include file to statically set the driver list.

[2017-01-23 22:56] DocCyblade commented on #734
@JedMeister - After I just submitted the above comment, I found the below on the plug ins for Adminer should allow us to extend it just the way would like. I am working on implementing these on my test server (https://krajr.tklapp.com:12322)

From https://www.adminer.org/en/plugins/ :

Enable Plug-ins
https://raw.githubusercontent.com/vrana/adminer/master/plugins/plugin.php

Show only localhost
ht

[2017-01-23 23:00] DocCyblade commented on #734
@JedMeister - While mucking around the file system I found (not sure if this is because of the new packager or if it was there all along) the themes are already install by the package as well as the plugins. We may need to just copy them from one directory to another.

[2017-01-23 23:53] JedMeister commented on #734
@DocCyblade - nice work mate! :smile:

That sounds awesome. It may well have been how Chris did the package (better than the previous one - he's an expert Debian Developer!). Or it could just be that because it's a (much) newer version, so all that stuff is now bundled? So it sounds like we'll be able to do a nicer job of the integration for v14.2 AND with a newer, better version!

Regardless, you

[2017-01-24 00:30] DocCyblade commented on #734
@JedMeister - Ok I need your guidance:

After more mucking around, I think we can achieve modifying the login screen and disable the auto checking by [creating a custom plugins](https://www.adminer.org/en/plugins/#create):

After [looking at the API](https://www.adminer.org/en/extension/#api) the login form is all inclusive and I would need to some how hook global variables to do these as separate

[2017-01-24 01:59] DocCyblade commented on #734
@JedMeister - Another option would be to just create a plugin for turnkey use so we could also TurnKey brand the login page

[2017-01-24 02:40] JedMeister commented on #734
As you point out, all 3 options have pros and cons. And regardless, it actually this sounds like tons more work than I had originally anticipated... That makes you even more of a legend IMO! :smile:

Your option 1 (or 3) sounds ideal, as it will allow us to configure it how we want, but also ensure it doesn't break with an update. Having said that, I'm not sure if you'd noticed, but for the life o

[2017-01-24 02:43] DocCyblade commented on #734
@JedMeister - Last update tonight I promise!

So looks like we can use the two existing [plugins](https://www.adminer.org/en/plugins/) as follows:

1. [login-servers](https://raw.github.com/vrana/adminer/master/plugins/login-servers.php) - Hardcode Server name (localhost) and Driver
2. [version-noverify](https://raw.github.com/vrana/adminer/master/plugins/version-noverify.php) - To disable the ver

[2017-01-24 02:57] DocCyblade commented on #734
Post some example scripts

Base File
---
[code]

MySQL
---
[code]

PostgreSQL
---
[code]

TurnKeyed Login Servers File
---
Usage would be the same as the above implementations above except we would have `use TKLAdminerLoginServers`

[code]

[2017-01-24 02:59] DocCyblade commented on #734
Just need to know what tag line you want at the bottom of the login screen. I can have the PR by this weekend.

Speaking of PR, since most of this is all one change should it be one PR? it will affect multi files in common

[2017-01-24 03:33] JedMeister commented on #734
I know I keep saying this, but only because it's true and you keep blowing me away by how awesome you are! :smile: You rock!

As for tagline. Currently we tag the bottom of most appliances with "XYZ appliance - powered by TurnKey Linux" ("XYZ appliance" links to appliance page; "TurnKey Linux" links to website front page). But I guess that's hardly relevant because it's not an Adminer appliance! S

[2017-01-24 04:16] DocCyblade commented on #734
Ok so I decided I would work on this a little more tonight...

I was looking through common and saw that in the plans there are a lot of places lamp/lapp admin is in the plan. I think you said in order to use back ports we should ["pin it like this"](https://github.com/turnkeylinux-apps/asp-net-apache/blob/master/conf.d/main)  If that is the case:

1. Remove the theme overlay not needed with new v

[2017-01-24 04:56] JedMeister commented on #734
Yep that's a good pinning example. When testing and troubleshooting pinning, using `apt-cache policy <packagename>` is invaluable. It shows all available version of a package and what the relevant pinning values are. Keep in mind that values below 100 are irrelevant (an installed program will have a value of 100 so something with a value of 99 will never get updated). Values above 1000 are usable,

[2017-01-26 20:09] nabilashraf opened #760 "Amazon ec2 Magento TurnkeyLinux instance"
Hi,

I have an issue with my instance. I have added the CNAME record and A record for Elastic IP of my amazon ec2 instance to the custom domain I purchased from godaddy.

The dns settings are being configured in cloudflare.

Now I installed the let's encrypt certificate for my domain and when I browse it manually, it says it is secure.

The problem I have  is that when I reach out to my admin back

[2017-01-27 09:26] JedMeister commented on #746
To make things easier for everyone and to speed up the development cycle I have created a "dev-testing" repo (hosted on AWS S3). So now rather than needing Alon to update the packages in the TurnKey "jessie-testing" repo, I can just rebuild and upload.

It's now up and running. I haven't tested it thoroughly, but it appears to be working as it should. It currently has a new version of confconsole,

[2017-01-27 16:41] pmryanibm opened #761 "AWS security group settings seemingly ignored in Ruby image"
I provisioned the Turnkey image for Ruby on Rails into AWS (EC2 m1.medium).  I got the system initialized successfully.  I am able to ssh into the image as well as bring up the webmin interface.  In AWS, I assigned a security group that includes TCP port 3000 in addition to the other ports needed by Turnkey (22,12320, 12321,80,443). As of now, connections are allowed to those ports from anywhere.

[2017-01-30 04:07] JedMeister commented on #754
As noted above in my update to the OP, we're looking at implementing the spirit of this in  slightly different way...

[2017-01-30 04:08] JedMeister opened #762 "remove core Debian package from all appliances (except Core itself)"
Related to #754.

Seeing as appliances may not be sharing the same version as Core, the point of having a TurnKey Core Debian package will become irrelevant/redundant. So from v14.2 onwards, only Core itself should have the core debian package.

[2017-01-31 04:03] DocCyblade commented on #734
@JedMeister

Always nice to chat with ya mate :-) Just a run down about what we talked about regarding adminer and how to best put the new version in to use.

I am going to try and do one overlay, and one conf script that will detect pin the new version and update/install adminer then figure out what databases are installed and enable them in the drop down via the tcl-plugin file from the overlay.

[2017-01-31 04:30] DocCyblade commented on #754
@JedMeister - Per our conversation thought I would post it here so that it's documented.

As you said that common would be a problem as it could be out of sync (updated with fixes for a single appliance or new appliance) that we would need a way to pin a version of the applicant with a commit hash from common.

So I purpose that the build tools be able to handle see how either in a file with a com

[2017-01-31 04:43] DocCyblade commented on #734
I have started a new branch https://github.com/DocCyblade/tkl-common/tree/adminer-4.2-update to track my changes

[2017-01-31 22:01] JedMeister commented on #746
@DocCyblade:

This particular issue (and some others) should now be resolved in the latest test package - which I just uploaded (as noted [here](https://github.com/turnkeylinux/confconsole/pull/8#issuecomment-276503627)).

When you get a chance, please feel free to <s>break</s> test it! :smile: If you can confirm this issue is resolved, please close it. Please open new issues if/as you find them.

[2017-02-01 01:21] JedMeister opened #763 "Provide improved vim-tiny default config"
Currently the appliances all include vim-tiny. That's cool, but the default config is pretty painful IMO. THe obvious answer is to upgrade to "proper" vim, but seeing as the size difference is significant, a preferable way to go is to just improve the default config.

My biggest bugbear is that tabs remain as tabs and expand to a width of 8. IMO tabs should expand to be 4 space characters (except

[2017-02-01 01:45] DocCyblade commented on #746
@JedMeister sounds good. I'll have to find your post regarding the test repo.

[2017-02-01 02:01] JedMeister commented on #746
Testing repo (and set up instructions) and here: http://tkl-dev-test.s3-website-us-east-1.amazonaws.com/

[2017-02-01 02:02] DocCyblade commented on #746
Perfect! After I commit some work on adminer I'll have a go with this tonight

[2017-02-01 02:04] JedMeister commented on #746
I double checked the set up instructions for the testing repo yesterday and confirmed they work (after I fixed them that is...!). As per always though, please give feedback if you think they could be improved for clarity etc.

[2017-02-01 02:44] JedMeister opened #764 "Include all inithooks in Debian packages rather than in appliance overlays"
Currently the generic/common base inithooks are packaged in the [inithooks debian package](https://github.com/turnkeylinux/inithooks). However, it would be better if the inithooks were all packaged rather than just being overlayed. This would allow us to vastly reduce the amount of duplicate code in appliances.

Whilst it might take a little more work, probably the best way to do that IMO would be

[2017-02-01 02:48] OnGle opened #765 "Confconsole invalid hostname accepted"
[code]

In the confconsole plugin System_Settings/hostname.py, when given a hostname it will respond successfully even with certain erroneous hostnames such as `...`, whitespace or even an empty hostname.

[2017-02-01 02:51] OnGle opened #766 "Confconsole - Letsencrypt WIP"
[code]
The letsencrypt plugin for confconsole requires `/usr/local/bin/letsencrypt.sh` which currently causes an error due to it not being present.

[2017-02-01 02:53] JedMeister commented on #759
Hi,

Apologies on my slow response. I am currently working on the v14.2 release so your request is timely...

FWIW Magento [2.0+ depends](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements-tech.html) on MySQL 5.6 and Jessie only has [5.5.54](https://packages.debian.org/jessie/mysql-server). However I do note that it says it's compatible with MariaDB. Jessie has MariaDB [10.0.29

[2017-02-01 02:58] OnGle opened #767 "Confconsole letsencrypt invalid field verification"
[code]

Confconsole letsencrypt will error when the `Common Name` field is not specified with the following message:

[code]

[2017-02-01 03:07] JedMeister commented on #180
Following recent discussions with Alon & Stefan, we are currently thinking it may be best to defer non-interactive confconsole functionality for 14.2. We may have time to squeeze it in, but it's not currently working as it should and we don't want to block v14.2 release unless we really have to...

[2017-02-01 03:09] JedMeister commented on #767
related to #546 & #369

[2017-02-01 03:09] JedMeister commented on #766
related to #546 & #369

[2017-02-01 03:11] JedMeister commented on #180
Actually, I'm closing this now, as it's essentially a duplicate of #450

[2017-02-01 03:11] #180 closed

[2017-02-01 03:12] JedMeister commented on #765
related to #546 & #450 (& possibly #369?)

[2017-02-01 03:20] JedMeister commented on #754
@DocCyblade  - thanks tons for that. That sounds like a really sensible way to go! I like it! :+1:

[2017-02-01 03:30] OnGle commented on #763
I think the MVP would look something like

[code]

Essentially, tabs expand to 4 spaces except in makefiles where they're tabs

[2017-02-01 04:28] JedMeister commented on #746
I'm going to close this as I don't think it's an issue anymore. If I'm wrong, please feel free to reopen.

[2017-02-01 04:28] #746 closed

[2017-02-01 04:34] JedMeister opened #768 "Allow conconsole plugins to be non-interactively pre-seeded"
I just realised that now I've updated and closed #180 we no longer have an open issue tracking the implementation of pre-seeding confconsole plugins. This issue resolves that!

We were hoping to include that functionality in the new version of confconsole for v14.2. However there are currently some bugs and rather than resolve them, it's quicker and easier to remove the functionality (although the

[2017-02-01 04:48] JedMeister commented on #760
Hi,

Firstly apologies on the delayed response. Secondly, this is our "issue tracker" and is intended for tracking bugs and feature requests. For support, our [forums](https://www.turnkeylinux.org/forum) are the preferred medium.

But seeing as you're here already, I suspect that what you are experiencing is because when you did the initialization, you used your AWS DNS name (rather than your cust

[2017-02-01 04:50] #760 closed

[2017-02-01 04:54] JedMeister commented on #761
Hi Patrick,

Please note that this is our issue tracker, ideally used to track bugs and feature requests. I can guess that in this instance you weren't sure whether it was a bug or you just needed insight and understanding on what might be going on.

FWIW I replied to your [forum post](https://www.turnkeylinux.org/forum/support/20170125/image-ignoring-aws-security-group-settings) on this same issu

[2017-02-01 04:54] #761 closed

[2017-02-01 23:19] JedMeister commented on #766
@qrntz - where does the `/usr/local/bin/letsencrypt.sh` come from? Is it included in another repo somewhere or something? I vaguely recall you saying that you were using a thrid party acme/LE client from GH, but I don't recall what it was called.

[2017-02-01 23:20] JedMeister commented on #767
Should be fixed in the latest dev-test package. More details here:
https://github.com/turnkeylinux/confconsole/pull/8#issuecomment-276803287

[2017-02-01 23:21] JedMeister commented on #765
Should be fixed in the latest dev-test package. More details here:
turnkeylinux/confconsole#8 (comment)

[2017-02-02 01:55] JedMeister opened #769 "Include email in Odoo inithook"
I have been playing with the Odoo appliance and have noticed that it has the default email auto configured to `admin@example.com`. That's fine as a default, but ideally it'd be nice if that was set by the inithook.

@DocCyblade - I hope you don't mind I have assigned you as you're the Odoo man! :smile: Please feel free to unassign yourself.

Note this is just a "wishlist" item, certainly not a pri

[2017-02-02 02:02] DocCyblade commented on #769
Sounds good :-)

[2017-02-02 03:28] DocCyblade commented on #765
I have tested this and got no errors

1. Tried null
2. white spaces
3. dots
4. All known bad

Confirmed it did change the host name!

Version tested
[code]

[2017-02-02 03:30] DocCyblade commented on #746
Confirming this is good

[2017-02-02 03:33] DocCyblade commented on #450
Testing the confconsole version below this works as I asked for. This feature works as asked above.

[code]

[2017-02-02 03:40] DocCyblade opened #770 "Confconsole: Region Config -> Keyboard: Message Bug"
In Region Config -> Keyboard: When selected strange message pops up and can't read all of it.

When selecting Yes or No does not seem to do anything.

<img width="279" alt="screen shot 2017-02-01 at 10 34 54 pm" src="https://cloud.githubusercontent.com/assets/9731860/22536357/3cc149ea-e8cf-11e6-825e-3e54d0730617.png">

Test was with
[code]

[2017-02-02 03:46] DocCyblade opened #771 "Confconsole: Region Config -> Locals: Message goes too fast"
When selecting Region Config -> Locals a message flashes up so fast I had to do 3-4 screen shots to catch it (Maybe my laptop is way to fast!)

Clip of the message that flashed up so fast

<img width="235" alt="screen shot 2017-02-01 at 10 38 45 pm" src="https://cloud.githubusercontent.com/assets/9731860/22536480/0a0f57a2-e8d0-11e6-8b15-c9ef19d01d39.png">

Test was with
[code]

[2017-02-02 03:53] JedMeister commented on #765
Thanks Ken. Great work mate. I'll close this one then.

[2017-02-02 03:53] #765 closed

[2017-02-02 03:54] JedMeister commented on #450
Closing as per above comment from Ken.

[2017-02-02 03:54] #450 closed

[2017-02-02 06:15] JedMeister commented on #766
@qrntz - After having a dig around, I found one explicitly called [letsencrypt.sh](https://github.com/gheift/letsencrypt.sh). However there is another (that is marginally older - by 2 days; 5th Dec 2015 vs 7th Dec 2015) called [dehydrated](https://github.com/lukas2511/dehydrated). It was originally known as "[letsencrypt.sh](https://github.com/lukas2511/dehydrated/commit/61f0b7ed7a2e805e08aa1f2412

[2017-02-02 14:33] qrntz commented on #766
@JedMeister, "dehydrated" is the proper one. It used to be called "letsencrypt.sh" when I wrote the plugin. The other one was not mentioned in any comparisons I have researched at the time so I guess it was already abandoned back then.

[2017-02-02 17:01] swamilad opened #772 "addclient private subnet problem"
When using "openvpn-addclient client client@client.net 1.2.3.4", the file /etc/openvpn/server.ccd/client is created, but due to the chroot in server.conf, the system actually looks for /etc/openvpn/easy-rsa/keys/crl.jail/etc/openvpn/server.ccd/client

The result is 1.2.3.4 being inaccessible and a nearly impossible to google (to any avail...) "GET INST BY VIRT: 1.2.3.4 [failed]" in the log.

I res

[2017-02-02 20:12] JedMeister commented on #766
@qrntz - Awesome thanks mate. :+1:

[2017-02-02 20:24] JedMeister commented on #772
Thanks for your bug report and workaround.

[2017-02-02 21:57] JedMeister opened #773 "Add BitKey to Debian Census"
As per [TurnKey's listing](https://wiki.debian.org/Derivatives/Census/TurnKeyLinux) on the [Debian Derivatives Census](https://wiki.debian.org/Derivatives/Census), BitKey needs a separate listing.

See invitation [here](https://lists.debian.org/debian-derivatives/2017/01/msg00010.html).

[2017-02-03 00:26] JedMeister commented on #766
In discussions with @OnGle - we're thinking that we should make 'dehydrated' a "Recommends" in the Confconsole package.

To assist users who upgrade Confconsole on earlier versions of TurnKey, Confconsole should give a meaningful error (pointing to a doc page on the TurnKey site, e.g. www.turnkeylinux.org/docs/lets-encrypt) if the binary is not available. Once we rebase on Stretch, then we can mak

[2017-02-03 00:54] OnGle commented on #770
This should be fixed here
https://github.com/OnGle/confconsole/commit/786733885840fb47aa06d9d91fea5ec78ca189fa
(added option to auto size yesno/msgbox dialogs)

[2017-02-03 00:56] OnGle commented on #771
This also should be fixed here
https://github.com/OnGle/confconsole/commit/786733885840fb47aa06d9d91fea5ec78ca189fa

[2017-02-03 01:35] OnGle commented on #766
These 2 commits should replace the error with a cleaner message including a link to the not-yet-created docs page JedMeister mentions above.

https://github.com/OnGle/confconsole/commit/03968123299e2e9a88656d000ae33e403c61f222
https://github.com/OnGle/confconsole/commit/f610e0fa2a6b29ed737327002cc12536d1b01be8

[2017-02-03 02:20] JedMeister commented on #766
This issue should be (sort of) resolved in the latest dev-test package (`confconsole_0.9.4+101+gf610e0f_all.deb`). If it can't find dehydrated it should give a meaningful error that points to (currently non-existent) TKL doc page (explaining that dehydrated needs to be installed).

We'll ship v14.2 with dehydrated pre-installed (from Jessie backports) but don't want to (re)package it ourselves. Fo

[2017-02-03 02:51] DocCyblade commented on #770
@OnGle

Looks like the window is fixed, however it does not do anything. I think I saw it flashed some text messages too quickly for me to see. I can select YES and it just takes me back to the menu

[2017-02-03 02:54] DocCyblade commented on #771
This bug is fixed, works on the latest build

[code]

[2017-02-03 02:54] #771 closed

[2017-02-03 03:16] JedMeister commented on #771
Awesome thanks @DocCyblade

[2017-02-03 04:32] DocCyblade commented on #734
@JedMeister I have changed most of the files I think that need changed.  I need to do the pinning now. Thinking I would do that in the database specific scripts or create a adminer-common and move the theme and pinning there.

[2017-02-03 06:38] JedMeister opened #774 "OpenVPN appliance - resolve non-compliance with OpenVPN's Trademark terms of use"
We have been alerted by Gary McCloud of OpenVPN Technologies Inc, that we are currently in contravention of the [OpenVPN Terms of Use](https://openvpn.net/index.php/terms-of-use.html) - section 31.OpenVPN Trade Mark, Copyrights, and Logo Use. Namely on our AWS Marketplace OpenVPN appliance listing, but most likely elsewhere too.

We are currently working to resolve this.

Thanks to Gary for person

[2017-02-03 10:19] JedMeister commented on #734
@DocCyblade - As you see fit. Although it's an extra file, perhaps having a "adminer-common" is a good idea?! I suspect that it would make what is going on more apparent to the unintiated. But bottom line mate, I know you well enough by now to know that whichever direction you go, you'll make sure it works. And obviously I'll do a double check over it as well.

[2017-02-03 14:09] TheStormbringer opened #775 "LDAP sync for customer user"
Hey guys, I've managed to enable the LDAP authentication for customer users successfully. Well... Almost.

The customers user can login using their AD-username and their AD-password - but I have to set a customer user with the exact username in the OTRS-Webinterface first.
So it appears that authentication is working, but my turnkey OTRS does not sync the users (they are all members of a specific

[2017-02-03 15:05] l-arnold opened #776 "OpenCart appears worthy!"
Looking at OpenCart just now.  It looks like a worthy addition to the TKL Library.

Not really ready to take this on myself but I can see a few rationale for sure.

https://www.opencart.com/

Something to consider anyway.
Landis

[2017-02-05 21:25] JedMeister commented on #776
Hey Landis. Thanks for the suggestion. We're not currently in a position to be creating new appliances, but hopefully at some point in the near future... In hte meantime if yourself or someone else wants to take it on, you're more than welcome.

[2017-02-06 03:59] OnGle commented on #770
It appears this issue was caused by the package `keyboard-configuration` not being installed by default on turnkey systems. It should (as of https://github.com/OnGle/confconsole/commit/7f385f8e7375c01b12b001472dbc09cc74149750) now give a clean error message rather than silently going back to the menu

[2017-02-06 07:30] JedMeister commented on #770
New package `confconsole_0.9.4+102+g7f385f8_all.deb` which should close this bug has been uploaded to dev-test repo.

[2017-02-07 03:20] DocCyblade commented on #734
I am posting this here so other and my self need to pin something, have a good explanation documented. First off reading the manual is some times the best medicine, however you better be in a good frame of mind when reading `man apt_preferences` !

For this case I will be doing the following:

1. Create file at `/etc/apt/sources.list.d/backports.sources.list`
[code]

2. Create file at `/etc/apt/pr

[2017-02-07 04:05] DocCyblade commented on #770
Confirmed bug is fixed

[2017-02-07 04:05] #770 closed

[2017-02-07 07:37] JedMeister commented on #775
Hi,

This is actually our Issue tracker. I.e. for reporting bugs and feature requests. Your problem sounds more like something you need support with, which is probably a better candidate for our [forums](https://www.turnkeylinux.org/forum/) (that is unless there is actually a bug causing your issue).

As for your question; I'm almost sure that there is a way, but TBH I have no idea. LDAP is someth

[2017-02-07 07:37] #775 closed

[2017-02-08 01:40] JedMeister opened #777 "TKLBAM to more easily support split backups (i.e. multiple backups per machine)"
Rick has suggested on the [forums](https://www.turnkeylinux.org/forum/general/20170206/tklbam-volume-size#comment-27310) that we provide better support for multiple backup sets per machine. He explicitly suggested better support for this within the TKLBAM Webmin module.

Somewhat related to (or at least would have implications for) #190.

[2017-02-08 01:56] spyrule commented on #759
php 5.6.29 is fine, however most major M2 deployments are quickly moving to php7 for the speed performance (something like ~30% increase!)  I'm more curious why turnkey hasn't made a major upgrade for all "primary" services (php7, mysql 5.6+) ?

[2017-02-08 03:03] JedMeister commented on #759
It's because we're based on Debian and leverage all the great work they do (standing on the shoulders of giants and all that...). They (and us too) value stability and security over performance. That why TurnKey is based on Debian stable.

To provide rock solid stability, Debian freeze the software versions in the lead up to stable release. To provide post-release security, they have a team who ba

[2017-02-08 03:09] spyrule commented on #759
Thanks for the update, supposedly Magento 2 is working on official support for MariaDB (but is reported to be completely compatible with MariaDB with no intervention... just not "officially"), but until that happens I'm not worried.

Keep up the awesome work you do!

[2017-02-08 03:22] JedMeister commented on #759
Yeah I have read a post by one of the Magento devs on the Magento site (perhaps in the forums?) that the only reason why Magento don't "officially" support MariaDB is because they don't want to spend the resources to exhaustively test it.

All reports that I have read say that Magento works flawlessly with MariaDB. And that isn't a great surprise as MariaDB devs appear to be really committed to pr

[2017-02-08 03:57] JedMeister commented on #734
I have just been mucking around with backports myself and have a suggestion. You are currently explicitly using the main US Debian mirror. Obviously that isn't really an issue, however, it's probably superior to use the [redirection service](http://httpredir.debian.org/) as that will locate the best global mirror to use regardless of server location. I.e. use this line in the sources.list file:
[c

[2017-02-08 06:11] JedMeister commented on #767
I'm closing this now as I can't reproduce it anymore so I assume it's been fixed.

[2017-02-08 06:11] #767 closed

[2017-02-08 06:13] #755 closed

[2017-02-08 06:13] #756 closed

[2017-02-08 14:43] l-arnold opened #778 "Magento 2"
I have not dived into this nut feel I should.

I respect Yireo very much and think this coukd be a good reference for the next generation of the TKL Magento ap, particularly in terms of structures for updates moving forward.

https://www.yireo.com/blog/1835-proper-magento-2-deployment

[2017-02-08 22:31] DocCyblade commented on #734
@JedMeister - sounds good! I'll make the change and start testing later tonight after We get back home

[2017-02-08 22:54] DocCyblade commented on #734
@JedMeister - Went ahead and updated the code, FWIW I got that line from https://backports.debian.org/Instructions/

TBH I don't really know what exactly is going on in that line (I have an idea) but I think I'll read the man page on it :-)

[2017-02-09 02:00] JedMeister commented on #734
My understanding is that the space separated entries after the URL are known as the "component" of the repo. I guess they are sort of like the individual "sub repos".

It is totally legitimate to have them all on the one line (e.g. `jessie-backports main`) but IMO it is clearer to have each entry on separate line. It also allows for specific "components" to be commented out as per the default [Tur

[2017-02-09 03:34] DocCyblade commented on #734
@JedMeister - Well without main being there it failed to build.

[2017-02-09 03:44] JedMeister commented on #734
Hmm ok, so maybe it does need to be there?! Sry for that. Perhaps I'm missing something...

[2017-02-10 00:32] DocCyblade commented on #734
@JedMeister

Just batch built the following from build code using commit [df0f1d22c84b8976c4653eaf56da4d0b9ebc6b4f](https://github.com/DocCyblade/tkl-common/tree/df0f1d22c84b8976c4653eaf56da4d0b9ebc6b4f)

(Checked = Installed and Tested)
- [x] MySQL
- [x] Postgresql
- [x] LAMP
- [x] LAPP
- [x] Lighttpd-php-fastcgi
- [ ] Wordpress
- [ ] Odoo
- [ ] CakePHP
- [ ] Symphony
- [ ] Larvel
- [ ] Django

F

[2017-02-10 01:39] l-arnold commented on #734
Looks like a piece of Art to me Ken!
I assume it all worked out too.

Adminer has been working well for me as a point of note.

[2017-02-10 03:36] JedMeister commented on #734
Awesome work @DocCyblade!

And I agree @l-arnold! The work Ken has done on the integration is superb!

BTW I'm glad to hear that you are settling in to Adminer. I recall a few grumblings when we first switched... :smile: FWIW this newer version apparently has much better Postgres support and is better overall generally. I'll look forward to your feedback when we get our next release out the door..

[2017-02-13 00:29] JedMeister opened #779 "TKLBAM website docs need update"
I have just noticed that the TKLBAM docs on the website are out of date. E.g. compare the `tklbam-init` docs on GH [here](https://github.com/turnkeylinux/tklbam/blob/master/docs/tklbam-init.txt) vs the tklbam-init docs on the website [here](https://www.turnkeylinux.org/docs/tklbam/man/tklbam-init).

[2017-02-15 00:03] JedMeister commented on #222
Just realised that this issue was still open. We should have closed it when we released the Ghost appliance (quite some time ago now...)

[2017-02-15 00:03] #222 closed

[2017-02-15 21:22] JedMeister opened #780 "[Hub] Support for Canadaian region(s)"
Request received via email.

Due to [Canadian Privacy requirements](http://www.servercloudcanada.com/2015/09/canadian-privacy-laws-canadian-cloud-primer-canadian-businesses/), many cloud users are unable to use TurnKey Hub currently - due to lack of availability of AWS Canada region(s).

[2017-02-16 20:54] JedMeister opened #781 "Change default TurnKey Webmin theme to official Webmin default?!"
Scorance noted in the [forums](https://www.turnkeylinux.org/forum/support/20170216/gears) that Webmin still suggests installing Google Gears. Google Gears has been defunct for years now so shouldn't really be included!

[2017-02-17 01:13] OnGle commented on #663
I've updated the appliance to nextcloud 11.0.1 ready for next release. Now since nextcloud is a fork of owncloud and owncloud already has a turnkey appliance and github doesn't support multiple projects forked from a common origin in a single user (and I assume the same goes for organisations), we cannot directly fork this repo. I've cloned the repo and pushed it's history (plus the update) to a n

[2017-02-17 23:27] JedMeister opened #782 "v14.1 Install with LVM not upgrading to latest kernel - 2 /boot dirs"
**[update]**: still don't understand the cause, but it seems that di-live is where the bug occurs.

The result is that there are 2 /boot directories. One is a separate partition, the other is simply a directory within the LVM. It seems that all the important files are in the LVM's /boot, so initial boot uses those. But then the (separate) /boot partition gets loaded over the top of it. Any updates

[2017-02-21 00:34] JedMeister opened #783 "Webmin and Webshell: redirect http to https"
As of v14.0+ both Webmin and Webshell are hidden behind stunnel. That's all well and good, but ideally, it'd be nice if a user inadvertently tried to connect to them via http you would be auto-redirected to https. E.g.:

http://xxx.xxx.xxx.xxx:12321 --> https://xxx.xxx.xxx.xxx:12321

AFAIK stunnel **only** supports HTTPS (no support for vanilla HTTP at all) so to support this feature, we would nee

[2017-02-22 20:47] JedMeister opened #784 "[Hub] Referral program"
A new Hub user asked about our Hub referral program (we don't currently have one). When I asked specifically what he'd like to see, he replied:

Great idea IMO.

[2017-02-24 04:57] JedMeister commented on #766
Ok, after another week... We have something that I think (read **really hope**) is pretty much good to go... Testing is welcome (actually it's encouraged!).

The latest package `confconsole_0.9.4+122+ga395036_all.deb` is available from my [dev-test repo](http://tkl-dev-test.s3-website-us-east-1.amazonaws.com/).

Dependencies: [dehydrated](https://packages.debian.org/jessie-backports/dehydrated) (n

[2017-02-24 05:00] JedMeister commented on #766
^^^ @DocCyblade ^^^

If you get a chance to see how it works for you (and see if you can break it) within the next few days that would be absolutely incredible! No pressure, but it'd be super awesome if you have time! :smile:

[2017-02-24 18:31] DocCyblade commented on #766
I'll have some time this weekend! If it can break I'll break it!

I'll be testing it mostly on a hub server, but if I can I'll test it on a server inside my network.

[2017-02-26 21:04] JedMeister opened #785 "Can't login to AWS Marketplace server after local VM TKLBAM backup is restored"
A user has reported that after restoring a local TKLBAM backup to an AWS Marketplace instance he can't log in.

I'm not 100% sure, but my suspicion is that it's because of sudoadmin. I.e. restoring a backup from a server with sudoadmin off, to a backup with sudoadmin on.

The workaround would be to either reset the admin password on the server prior to reboot:
[code]

Or to disable sudoadmin:
[cod

[2017-02-27 03:20] JedMeister opened #786 "HubDNS does not support basic root level domains"
I just tried to associate my root domain `jeremydavis.org` with a TurnKey appliance. Here's what happened:
[code]

Note: mapping a root domain to a server **is** supported by AWS Route53 (I just tested it).

[2017-02-27 03:27] JedMeister opened #787 "hubdns-init should imply hubdns-update"
I just realised that to associate a domain with a server using HubDNS, it's not enough to just initialise it with your API and the desired domain. You then also have to run `hubdns-update`. IMO `hubdns-init` *should* imply `hubdns-update`.

Also I'd potentially take this even further to suggest that initialising HubDNS, also implies that you would want it to auto update on IP change (and/or on boo

[2017-02-27 03:28] JedMeister opened #788 "Default HubDNS job should run (much) more often, but check it's IP and only update the Hub if it needs to"
Further to #787 I would argue that the default cron job only runs hourly. I'd suggest that the cron job should run more often (like probably every minute). Although rather than hitting hte Hub, perhaps it should cache it's IP address and check it's external IP address against what it has cached. If they don't match, then run a `hubdns-update`...

[2017-02-27 03:45] JedMeister opened #789 "confconsole crashes if window is resized to be smaller than it's contents"
I'm not 100% sure, but I suspect that we'll just have to live with this bug for now.

To recreate it, open confconsole within a terminal session. resize the window so it is smaller than it's contents and you'll see an error.

Workaround: Don't resize windows too dramatically when using confconsole.

[2017-02-27 03:46] JedMeister commented on #766
Oops, I just realised that there is a missing dependency. I'm still having issues getting it working myself but that was a show stopper!

[2017-02-27 04:27] JedMeister commented on #766
Hmm, still not working for me on a clean install... :( I wonder what is going wrong?! It was wokring fine during my previous testing. There must be something I tweaked on my old server which I forgot to note.

I discovered my previous issue, but actually, there are still some other bugs. And also I want to tidy up the logging a little. Currently, it writes to 4 different log files. Whilst that's o

[2017-02-27 05:23] qrntz commented on #726
@JedMeister https://github.com/turnkeylinux-apps/mediawiki/pull/8 resolved this (?)

[2017-02-27 06:42] JedMeister commented on #726
Mostly. We still need to document the migration from the existing appliance to the upstream install. Should be fairly straight forward I imagine?

[2017-02-27 06:43] qrntz commented on #726
Yep. I'll do that.

[2017-02-27 06:44] JedMeister commented on #726
Awesome :)

[2017-02-27 06:45] #763 closed

[2017-02-27 10:50] DocCyblade commented on #766
Well good news was I did get to it, very busy weekend. I have a server ready however to test it, just let me know

[2017-02-27 13:52] oparoz commented on #663
@OnGle  - The best thing to do is to just create PRs against the main repo, that way we all work on the same image and make it better. I've already created one to upgrade to 11.0.2.

@JedMeister - What's missing here to push this forward? It's been over 6 months since the ticket was created.

[2017-03-01 06:04] JedMeister commented on #766
Ok, finally have an updated version of confconsole which should now include a working instance of the Let's Encrypt plugin. Here's the proof!:

![screenshot from 2017-03-01 16 25 03](https://cloud.githubusercontent.com/assets/818633/23446979/be2452fc-fe9b-11e6-863f-ccf1f7f4376b.png)
![screenshot from 2017-03-01 16 25 06](https://cloud.githubusercontent.com/assets/818633/23446980/be2c20b8-fe9b-11e6

[2017-03-01 09:20] JedMeister commented on #663
Hey @oparoz - apologies on the delayed response.

Whilst generally you're absolutely right, in this instance I suggested that @OnGle do it that way. I'll be bringing it into the turnkeylinux-apps org soon, but as it's a fork of our ownCloud appliance I won't be able to fork it here on GitHub. So it's easier for me if I just have to clone and push a single repo rather than do it twice (once from th

[2017-03-01 11:22] DocCyblade commented on #766
Sounds good, I guess to proper test it we will need to wait to make sure it gets updated in 30 Days? I'll do a quick build on a hub server and then one that I a hosting in house and we shall see. :-)

If it will break I'll break it!

[2017-03-01 11:49] JedMeister commented on #766
Cool mate, please let me know how you go. :+1:

Unfortunately the time frame isn't quite as simple as that. The certificate is valid for 90 days from issue and dehydrated won't update it (other than via `--force`) unless it expires within the next 30 days. So to wait for it to "naturally" occur will take ~60 days... I guess we could temporarily leave the `--force` switch enabled and tweak the cron

[2017-03-01 23:45] JedMeister opened #790 "Add firstboot option so Domain Controller can join existing domain (currently creates new domain)"
It'd be awesome if the Domain Controller appliance supported being added as a member server rather than just creating a new domain.

Taylor has worked out what needs to be done and has documented in on the [forums](https://www.turnkeylinux.org/comment/27425#comment-27425). Big thanks Taylor! :+1:

[2017-03-02 21:18] #782 closed

[2017-03-02 21:20] JedMeister opened #791 "Make ISO installer default to LVM install"
Subject says it all...

Currently when installing from ISO, the default partitioning is "use whole disk (no LVM)", ideally it should default to "use whole disk, with LVM"...

[2017-03-03 00:33] JedMeister commented on #766
FWIW, during our brief chat yesterday, I was prompted to double check the file permissions of all the files that dehydrated (and the wrapper and hook script we provide) use. And they all look good:
[code]

[2017-03-03 03:08] JedMeister commented on #766
Also I thought it'd be worth writing up a doc regarding how to best test cron jobs. Have a look here: https://github.com/turnkeylinux/tracker/wiki/How-to-test-a-cron-job

During the process of researching and writing that up I learned something new! I was not previously aware that all cron jobs run under `/bin/sh` regardless of what the shebang is!

[2017-03-03 07:44] JedMeister commented on #766
After writing this up, I have discovered a bug in the cron script (lucky I checked!). It uses the `service` command to restart services in the `dehydrated` `confconsole.hook.sh` file. But the full path for the service command is `/usr/sbin/service`. As you may notice (below) when `root` cron jobs are executed `/usr/sbin` isn't in the path!

I worked around it in the cron job (/etc/cron.weekly/conf

[2017-03-05 20:49] DocCyblade commented on #766
@JedMeister

Finally have some time to do some testing. Was able to get a test cert with out issue. I am testing the cron job.

Also Step 3 `chown +x turnkey-make-ssl-cert` I assume you meant `chmod`

All post my findings in a bit

[2017-03-05 21:01] JedMeister commented on #766
@DocCyblade - Awesome mate. :+1: I haven't tested anything other than LAMP apps yet, so I'll be doing that as soon as I've tidied a few other things up.

And thanks for catching my typo (brain on auto pilot obviously). I've fixed it above! :smile:

[2017-03-05 21:10] DocCyblade commented on #766
So I did a quick run at it.

So I started with a Hub Server running LAMP

1. Updated the server
2. Added back ports and installed  dehydrated
3. Installed authbind, python-bottle deps
4. Added dev-test repo
5. upgraded confconsol
6. Copy the test config for LE
7. Fired of confconsole and tried the lets encrypt options.
8. Successfully got a test cert
9. Added the cron testing stuff above
10. Follo

[2017-03-05 21:12] DocCyblade commented on #766
I'll say that was the easiest real SSL cert deployment!

[2017-03-05 21:14] DocCyblade commented on #766
I did catch one thing, the wording on the dialog box, you can't see all the text:

<img width="491" alt="screen shot 2017-03-05 at 4 13 37 pm" src="https://cloud.githubusercontent.com/assets/9731860/23591455/bff112d4-01be-11e7-968e-be5a33a81596.png">

[2017-03-05 21:19] JedMeister commented on #766
Awesome, thanks mate! Whilst I had already tested this version a bit myself, I'm relieved that it appears to be working ok for you too! :smile:

I'll have a look at the wording and perhaps tweak it a bit so you can read it better.

[2017-03-06 00:44] JedMeister commented on #766
New version of confconsole: `confconsole_0.9.4+126+g176ed89_all.deb`:
 - fixed cron job (to include `/usr/sbin` in `PATH`)
 - changed cron job to daily (was weekly)
 - tweaked `dehyrdrated-wrapper` to support `-f|--force` switch (and hand it to `dehydrated` - no more messy sed commands when testing)

[2017-03-06 01:21] DocCyblade commented on #766
Ohh something to test again! I'll spin up another another one and test lamp lighty and nginx as well

[2017-03-06 02:29] DocCyblade commented on #766
I spun up three servers (LAMP/Nginx/Lighty) and will do the following:

1. Setup back ports and testing repo (for Dehydrated)
[code]

2. Install Deps
[code]

3. Upgrade confconsole
[code]

4. Make sure self signed cert is showing for each  server

5. Fired up confconsole and requested a new cert

6. Verified cert in browser

7. Using tweaked version turnkey-make-ssl-cert to make self signed cert

[2017-03-06 03:00] DocCyblade commented on #766
Found some errors:

On both lighty and lamp:
<img width="688" alt="screen shot 2017-03-05 at 9 54 29 pm" src="https://cloud.githubusercontent.com/assets/9731860/23595252/6ee728c6-01ee-11e7-8e9b-9a0531d783b5.png">

I assume it's with the --force option maybe? Or a type in the arguments
`/usr/lib/confconsole/plugins.d/Lets_Encrypt/dehydrated-wrapper`
[code]

[2017-03-06 03:04] DocCyblade commented on #766
Another bug:

Issue on nginx

[code]

<img width="688" alt="screen shot 2017-03-05 at 9 54 37 pm" src="https://cloud.githubusercontent.com/assets/9731860/23595416/aec3cb92-01ef-11e7-9d14-7853a8840633.png">

[2017-03-06 04:15] JedMeister commented on #766
Thanks for testing and for the update.

I must have made a typo somewhere... I'll have a look.

Also I hadn't tested on Lighty or Nginx yet so goog to know there is an issue. I'll also need to test the Tomcat appliance.

[2017-03-06 22:03] JedMeister commented on #766
Wrote this yesterday, but forgot to click "Comment" - Doh!

New version of confconsole: `confconsole_0.9.4+126+g70a3b4e_all.deb`. I've only fixed the bug I introduced when adding support for `--force`

[2017-03-07 00:53] JedMeister commented on #766
New version of confconsole: `confconsole_0.9.4+129+g174a2a7_all.deb`.

Fixes included:
- `dehydrated-wrapper` now passes `--force` switch (or not) cleanly to `dehydrated`
- works on servers with Nginx
- implemented a clean error message if you try to enable the cron job before configuring the cert (was erroring with a stacktrace)
- reduced name and description of Let's Encrypt plugins so they disp

[2017-03-07 01:00] DocCyblade commented on #766
Ohhh I'll fire up the test servers

[2017-03-07 01:09] JedMeister commented on #734
While testing and bugfixing the LE confconsole plugin (over [here](https://github.com/turnkeylinux/tracker/issues/766#issuecomment-284548224)) I thought I'd kill 2 birds with one stone and built an Nginx server with the new Adminer included too.

It all seems to work fine (as I expected) however I did notice that on Nginx, it doesn't look quite the same as your screenshots @DocCyblade?! It seems t

[2017-03-07 02:14] DocCyblade commented on #766
Ok so I did test three servers lighty/apache/nginx I got. Going to generate a self signed cert and check it in 24 hours to see if we have a new cert.

<img width="538" alt="screen shot 2017-03-06 at 9 07 59 pm" src="https://cloud.githubusercontent.com/assets/9731860/23638809/d3d60b12-02b1-11e7-9a16-d088cf4d4c19.png">
<img width="537" alt="screen shot 2017-03-06 at 9 08 16 pm" src="https://cloud.gi

[2017-03-07 02:45] DocCyblade commented on #789
I tried this on my Mac and tried to resize a few windows with confconsole and it did not crash. Maybe dynamic fonts on your end?

[2017-03-07 03:17] JedMeister commented on #789
Good to know. Are you using a terminal window and SSH to connect? When you resize does it scale the text as well?

FWIW I'm using a Debian terminal window and connecting via SSH. When I resize the terminal window it resizes the contents, but the text size remains the same.

I found that some resizing works ok, but reducing the size of the window beyond a certain point it will crash. But actually d

[2017-03-07 07:46] #791 closed

[2017-03-07 22:18] qrntz commented on #726
@JedMeister, doc published at https://www.turnkeylinux.org/node/19649

[2017-03-08 01:21] JedMeister commented on #726
Great work, thanks mate! You rock! :smile:

BTW I gave it a pretty url alias: https://www.turnkeylinux.org/docs/mediawiki/migrate-to-v14.2

[2017-03-08 01:21] #726 closed

[2017-03-08 01:36] #758 closed

[2017-03-08 02:52] JedMeister commented on #766
Ok, I think this is pretty much done now. Looking forward to hearing how your cron job went...

FWIW I have another build of confconsole: `confconsole_0.9.4+134+g90c1a74_all.deb`

This one includes a minor update to the cron job (added `--force` as per discussions).

It also has another plugin now too; `Mail relay` which provides a way to easily configure a third party SMTP relay (for sending emai

[2017-03-08 03:02] DocCyblade commented on #766
I'll update my test servers and let them update over the next 24 hrs

[2017-03-08 03:31] JedMeister commented on #766
No worries.

Please note though, that if you update confconsole on a server which has an existing dev install it won't update the existing cron job (in `/etc/cron.daily`). The easiest way to do that (other than purging the package, manually removing all the extra files and re-configuring everything from scratch) would be to just copy the cron job across. I.e.
[code]

Don't forget to make it execut

[2017-03-08 03:36] DocCyblade commented on #766
Thanks for the heads up, I ran your commands to copy it over. We shall see if it works

[2017-03-08 03:40] JedMeister commented on #766
No worries. I look forward to hearing how it goes.

[2017-03-08 08:58] JedMeister commented on #766
Another new version of confconsole: `confconsole_0.9.4+140+g0b038ce_all.deb`

This one includes the email stuff as mentioned previously, but it also has some significant changes to the SLL bits, so worth posting here... The changes made include:
- fixed support for Tomcat appliance (didn't work previously) ([commit](https://github.com/JedMeister/confconsole/commit/cba67ae14faa3ba438592732499e9f830

[2017-03-13 01:42] DocCyblade commented on #766
So it seems that the cron job did not work. I checked the logs all I get is the below:
<img width="1310" alt="screen shot 2017-03-12 at 9 38 29 pm" src="https://cloud.githubusercontent.com/assets/9731860/23838460/6b4e9842-076c-11e7-971c-259578db38d6.png">

I also noted the server very very sluggish so I ran htop and see this...
<img width="1429" alt="screen shot 2017-03-12 at 9 35 05 pm" src="http

[2017-03-13 01:57] DocCyblade commented on #766
So I had a go at manually calling `/usr/lib/confconsole/plugins.d/Lets_Encrypt/dehydrated-wrapper` and it ran just fine. I then called it with `--force` and that when things went left.

My screen filled up with this:
<img width="1425" alt="screen shot 2017-03-12 at 9 54 06 pm" src="https://cloud.githubusercontent.com/assets/9731860/23838687/aa59d66c-076e-11e7-9dcd-280518e84b95.png">

I quickly can

[2017-03-13 02:29] DocCyblade commented on #766
After mucking around I found the issue. I found the source for confconsole and the wrapper looks different than the one I am using. I am going to wipe and reload see whats what.

[2017-03-13 03:04] DocCyblade commented on #766
So it seems my test servers were mucked up and was using old files. In the process of spinning them all up (nginx/lighty/lamp) and will test again

[2017-03-13 03:24] DocCyblade commented on #766
I spun up three new servers and [did all the step here](https://github.com/turnkeylinux/tracker/issues/766#issuecomment-284288008).

I changed the name, worked great
Tried getting a cert and all three did not seem to work.

[code]

[code]

[code]

[2017-03-13 09:57] MitchMaris commented on #166
Would also enjoy/support this upgrade

[2017-03-13 21:17] JedMeister commented on #766
Thanks for your testing Ken.

I t looks like your initial issues were because of the buggy wrapper. As you discovered I had inadvertently caused a loop. I fixed that in the most recent version. FWIW [this](https://github.com/JedMeister/confconsole/commit/dafc14f7f8aa5308d7f27dbe86d48d1834640f5f) was the fix).

As to your more recent issues, it looks like the refactoring I did has introduced a new

[2017-03-14 11:06] JedMeister commented on #766
Didn't get a chance to look at it today :cry:

Hopefully I'll get to it tomorrow. Also Alon suggested to remove the variable check and just rely on the exit code of Dehydrated, so I'll test that that works as it should and we'll do that...

[2017-03-15 07:43] JedMeister commented on #766
Ok, I have built and uploaded a new version of confconsole: `confconsole_0.9.4+141+g1280550_all.deb`

I have removed the variable from the hook script and the wrapper. It now just relies on the `dehydrated` exit code. I checked that it still trapped the errors and even when I did Ctrl-C during the `dehydrated` bit (not the wrapper) it still finished cleanly (restored the backup certs and restarted

[2017-03-15 22:24] JedMeister opened #792 "Provide "TKLBAM storage appliance" so users can use local storage for Hub managed backups"
Currently either users must use AWS S3 storage with the Hub, or manage their own backups completely independent of the Hub.

This feature request is for a standalone appliance which can be used for local backup storage whilst still have backups managed by the Hub.

[2017-03-16 00:24] JedMeister commented on #766
I just checked in on my server and the cron job still hadn't run yet. So to expedite testing I rolled the clock forward like this:
[code]
By default `cron.daily` jobs are configured to run at 06:25:00. And it ran and successfully updated the cert! Yay!

FYI here's the log entry:
[code]

[2017-03-16 00:53] JedMeister commented on #766
My only concern is that that is a pretty big log entry, for just updating 3 certs (well actually only 1 cert with 2 alternate subdomains).

Previously I had the cron job writing to a separate log file (`/var/log/confconsole/dehydrated-wrapper-cron.log`) with the `dehydrated` part still writing to the default log (`/var/log/confconsole/letsencrypt.log`).

I do have logrotate set up (see [here](http

[2017-03-17 02:56] DocCyblade commented on #766
Spun up three more test servers, followed the same steps as before. Manuel certs worked with out a problem. I am waiting to see if the cert will renew in the morning

[2017-03-17 08:27] JedMeister commented on #766
Ok last testing release (I hope): `confconsole_0.9.4+146+gbf0dfd6_all.deb`

This version should contain everything that will be in the final v1.0.0 release (which v14.2 will ship with).

Info re this version:
- updated/added assorted docs: https://github.com/JedMeister/confconsole/tree/version1.0/docs
- removed a superfluous file: https://github.com/JedMeister/confconsole/commit/64c95e0ade78397399

[2017-03-17 15:31] CCOC-Rick commented on #792
I would like to see this as well.  It would be good to have a local backup for large backup jobs.

[2017-03-17 15:38] CCOC-Rick opened #793 "Color Coded Backup Listings"
Occasionally, I have a backup job that may have missed it's normal execution and then the time says something like "1 Day, 6 Hours"  When you have more than ten backups listed it sometimes looks like an endless list.  If the background color of the backups could be changed to yellow at > 25 hours, red at > 48 hours, etc. it would be an easy way to spot an issue at first glance when you login.

Als

[2017-03-17 16:51] DocCyblade commented on #766
I'll give this one a test this weekend

[2017-03-19 21:09] JedMeister commented on #793
Hi :smile:

I'm guessing you mean the backups displayed in the Hub?

[2017-03-19 22:29] CCOC-Rick commented on #793
Yes.  Sorry.

[2017-03-19 22:37] JedMeister commented on #793
No problem.

[2017-03-19 23:13] JedMeister opened #794 "mattermost - can't log in after first boot"
**[update]** It seems the issue is that Mattermost asks for 'email address" when logging in, but actually you need to supply the username (`admin`). This issue needs to be resolved upstream. In the meantime, we need to provide better documented to assist users.

----

A user reported that after doing firstboot initialisation they weren't able to log in to Mattermost using their username and passwo

[2017-03-20 06:52] JedMeister commented on #766
Ok another build: `confconsole_0.9.4+150+g1aff37b_all.deb`. It's in the test repo. Only changes since previous version are:

- reduced the logging of the cron job to one line: either nothing to do, or running update (note will log additional line if it tries to update and fails).
- adjusted the logrotate config to only keep 6 mths of logs (was 18).

I will be putting this forward to Alon for code

[2017-03-20 07:45] #556 closed

[2017-03-20 09:36] DocCyblade commented on #766
I'll give this a good testing this evening.

[2017-03-20 09:40] JedMeister commented on #766
Thanks mate. Always appreciate your vigilant testing! :+1:

[2017-03-21 01:29] DocCyblade opened #795 "Confconsole: System Settings->Hostname"
Testing the following version
[code]

When trying to change the host name, the `/etc/hostname` file is updated but the entry for 127.0.1.1 is not in `/etc/hosts`

[2017-03-21 07:00] JedMeister commented on #795
resolved in https://github.com/turnkeylinux/confconsole/commit/55463b041e78935cc104020a4a9d88913e0c0b8f

[2017-03-21 07:00] #795 closed

[2017-03-21 07:09] JedMeister commented on #766
Ok, another version released. Now hopefully THIS one will be the last! :crossed_fingers: :smile:

`confconsole_0.9.4+153+g9d48e77_all.deb`

in this version:
- sets hostname in /etc/hosts now too (see https://github.com/turnkeylinux/tracker/issues/795)
- dehydrated hook script, now double check vars (thanks Ken for your assistance with that)
- dehydrated hook script, improved logging
  - the bottom

[2017-03-21 07:10] JedMeister commented on #766
Unless you have anything further to add, or can find any new bugs within the next day or 2, it'll be v1.0.0!

[2017-03-21 10:27] DocCyblade commented on #766
I had a quick test of the new version, hostname was fixed and logging seemed to be working as well. My three test servers (light/nginx/apache) all updated correctly this morning and got a new cert.

my only concern would be the below, I know you had to make it a warning to make it log, but maybe add something to it like `[2017-03-21 10:20:30] confconsole.hook.sh: WARNING: Cert request successful.

[2017-03-21 23:38] JedMeister commented on #766
Great feedback, thanks Ken (as per always really, but I never get tired of it!)

Ok, so here's what I've done. I've changed "warning" to "success" in the hook_log function. It didn't actually need to be a "warning" to be picked up by the wrapper script (and written to the log) it just had to output to stderr. I also added your suggested message. So a new (successful) log entry should look like thi

[2017-03-23 06:01] JedMeister opened #796 "vTiger: issues editing workflow rules"
As reported by Shay in [the forums](https://www.turnkeylinux.org/forum/support/tue-20170314-0928/vtiger-trunky-problem), when editing some workflow rules, it's loading in a loop and nothing is showing.

Apache logs shows:
[code]

We should investigate this when doing dev for th v14.2 release.

[2017-03-24 01:11] JedMeister opened #797 "Use AWS CloudFront Debian repos for AWS AMIs"
AWS provide [Debian repos via CloudFront](https://cloudfront.debian.net/). As CloudFront data transfers are [free of charge](https://aws.amazon.com/blogs/aws/aws-data-transfer-price-reduction/), it seems like a good idea to use them by default (only for TurnKey running on AWS of course)!

[2017-03-27 07:13] JedMeister opened #798 "Server SSH fingerprint displayed in the Hub should support multiple formats (at least SHA256 but possibly others)"
The Hub currently displays the SSH fingerprint as a hexed md5 hash. E.g.:
[code]
As of OpenSSH 6.8, the default is now base64 SHA256. To support newer SSH clients, and the upcoming release of Debian Stretch, we should also support SHA256 (plus perhaps others).

[2017-03-29 02:02] JedMeister commented on #766
Closing now. Should be all good as of the latest confconsole commit: https://github.com/turnkeylinux/confconsole/tree/18aa7e6d082667522ebecdf6777990b1bbed81cf

[2017-03-29 02:02] #766 closed

[2017-03-29 02:03] JedMeister commented on #369
Closing as this is now supported in Confconsole v1.0.0+ (not yet released, but should be any day now).

[2017-03-29 02:03] #369 closed

[2017-03-29 02:04] JedMeister commented on #482
This functionality has now been included in confconsole as of v1.0.0+ It should be released any day now...

[2017-03-29 02:04] #482 closed

[2017-03-29 02:06] JedMeister commented on #546
Functionality included as of Confconsole v1.0.0+ (which will be released any day now). See https://github.com/turnkeylinux/tracker/issues/766#issuecomment-289959532

[2017-03-29 02:06] #546 closed

[2017-03-29 02:09] JedMeister commented on #493
closed with the release of v1.831 packages (and day now...)

[2017-03-29 02:09] #493 closed

[2017-03-29 02:29] JedMeister commented on #38
This functionality is included in confconsole as of v1.0.0+ (to be released any day now). Whilst it doesn't do it at firstboot, it is pretty straight forward and easy to access. So I'm closing this for now.

Once we resolve #768 then the firstboot aspect will also be sort of covered (albeit only for preseeded installs). Once we implement some way of interactively accessing Confconsole during first

[2017-03-29 02:29] #38 closed

[2017-03-29 02:31] JedMeister commented on #14
This functionality is now provided via a confconsole plugin as of v1.0.0+. This will be released within days...

[2017-03-29 02:31] #14 closed

[2017-03-29 02:33] JedMeister commented on #14
As per https://github.com/turnkeylinux/tracker/issues/38#issuecomment-289963394 this functionality will be supported via a confconsole plugin as of v1.0.0+ (to be released any day).

[2017-03-29 02:50] JedMeister commented on #203
I have updated the subject and tags for this issue. This functionality is provided as of confconsole v1.0.0+ (to be released any day now). It's still not ideal as it can't be accessed until after firstboot inithooks, but it's progress. Hopefully once we implement #768 this will be completely resolved. I'm closing this now regardless...

[2017-03-29 02:50] #203 closed

[2017-03-29 03:17] JedMeister commented on #762
closed by https://github.com/turnkeylinux/common/pull/80

[2017-03-29 03:17] #762 closed

[2017-04-07 03:49] JedMeister opened #799 "Inithooks/Confconsole display garbled content with PuTTY"
It is not likely that we will be able to provide a proper "fix" for this, but ideally we should at least document workarounds.

The issue appears to be related to the way that SSH server sets the character encoding and the way that Windows & PuTTY interpret that.

It can in theory be worked around server side, but initial testing has suggested that applying any of those workarounds server side (i.

[2017-04-07 16:39] ainkinen opened #800 "OpenVPN: Cronjob /etc/cron.hourly/openvpn-profiles-delexpired fails with "This account is currently not available.""
When trying to manually trigger the deletion of expired download URLs, the script fails and output is `This account is currently not available.`

Reason:
The cron job tries to execute the actual script as the user `www-data`. That user has the shell set to `/usr/sbin/nologin` in `/etc/passwd/` so the `su` command fails.

Fix:
Add `-s /bin/bash` to the `su` command to override the shell.

Issue and

[2017-04-07 17:29] ainkinen opened #801 "OpenVPN: Revoking client certificates fails"
Revoking client certificates fails while using the instructed commands. The instructions are online (https://www.turnkeylinux.org/screenshots/openvpn-turnkey-quick-ref) and on the appliance web server default page.

Original instructions:
Revoke client certificate
`source /etc/openvpn/easy-rsa/vars`
`/etc/openvpn/easy-rsa/revoke-full client-name`

Reason:
While running with the normal admin user,

[2017-04-07 17:32] ainkinen commented on #801
Other commands in the instructions also need `sudo`, but this is especially unclear because just using `sudo /etc/openvpn/easy-rsa/revoke-full client-name` fails with another error, because the environment variables are not loaded.

[2017-04-10 01:52] JedMeister opened #802 "turnkey-version could provide additional info"
Currently `turnkey-version` can be quite useful for determining the version of TurnKey which the system was originally installed with.

----

Proposed switches/info:

- `-f|--file=PATH/TO/FILE` - read turnkey-version info from PATH/TO/FILE (defaults to `/etc/turnkey_version` if not set)
- `-s|--string="TKL_VER_STR"` - use `TKL_VER_STR` as turnkey-version (rather than reading from file); bonus poin

[2017-04-10 03:31] JedMeister opened #803 "Hub should have a "logout" option during the signup process"
A Hub user has just reported that they used Google OpenID to log into the Hub, but as it turns out, their Google ID wasn't already associated with their account. So it created a new Hub account.

Normally that shouldn't be too much of an issue. However as there is no "logout" option, the only way to back out of the signup process is to clear all the cookies!

[2017-04-10 08:17] JedMeister opened #804 "By default auto generate random passwords, easily allow user to see/reset them"
Currently users are required to set all passwords at firstboot.

A [PR exists against common](https://github.com/turnkeylinux/common/pull/76) (@ongle - great work BTW :smile:) which I was intending to merge some time ago. However, during discussions with Alon (at the time), he requested that we hold off and think about it a bit more. Mainly this was around usage of Adminer (you need to know your r

[2017-04-10 08:22] JedMeister opened #805 "Option to paste public SSH key"
It'd be cool if you could (optionally) paste a public SSH key in during firstboot? Or perhaps better from Confconsole... This could work well with #804?!

[2017-04-10 08:24] JedMeister commented on #800
Thanks for your bug report. Bonus points for also publishing the workaround! :+1:

[2017-04-10 08:27] JedMeister commented on #801
Thanks again. You rock! :smile:

Not sure how far away it will be but I hope to updating our release really soon.

FWIW the OpenVPN appliance buildcode can be found here: https://github.com/turnkeylinux-apps/openvpn

[2017-04-10 17:44] ainkinen commented on #801
Thanks for the link. I'll look into making an actual pull request if I have the time.

[2017-04-11 00:51] JedMeister commented on #800
Thanks for the PR! :smile:

Closed by https://github.com/turnkeylinux-apps/openvpn/pull/16

[2017-04-11 00:51] #800 closed

[2017-04-11 05:51] JedMeister commented on #801
Looking at this in the light of day, I think perhaps the best place to adjust things to resolve this issue is in the [docs](https://github.com/turnkeylinux-apps/openvpn/tree/master/docs).

I say that because only the Amazon Marketplace instances have `root` disabled and use `admin`. None of our other instance types even have `sudo` installed. FWIW we use a tool called [turnkey-sudoadmin](https://g

[2017-04-13 06:56] JedMeister commented on #622
Not sure but perhaps https://github.com/glennmatthews/cot could be part of the solution? I.e. use that to tweak the OVF VBox spits out to make it VMware compatible? Obviously it all still needs to be tarred up, but that should be easy!

[2017-04-17 10:14] navadhino56 opened #806 "Cannot add device in via GUI & terminal"
I need help

Im unable to add device in via GUI & terminal... I'm able to ping the device from server and do " Snmpwalk -c string -v1 x.x.x.x "  its working ..but only cannot add device

[2017-04-17 22:59] JedMeister commented on #806
Which appliance? I'm guessing Observium considering your mention of snmpwalk?! If so, you can only add devices via hostname, not IP. So you'll need to set up DNS first...

[2017-04-18 06:43] navadhino56 commented on #806
Could you advice where should i add the dns ? In Obervium server ?

Thanks and Regards

Navanithan S/O Muniandy

Tel : +60173723745

________________________________
From: Jeremy Davis <notifications@github.com>
Sent: Tuesday, April 18, 2017 6:59 AM
To: turnkeylinux/tracker
Cc: navadhino56; Author
Subject: Re: [turnkeylinux/tracker] Cannot add device in via GUI & terminal (#806)

Which appliance?

[2017-04-18 09:16] JedMeister opened #807 "Pligg is now Kliqqi"
Appliance needs rename.

[2017-04-18 22:13] JedMeister commented on #806
Do you not have a DNS server in your LAN? If not, then yes you could install a DNS on the Observium server if you'd like. Or so long as all the systems you want to monitor have static IPs, hardcoded entries in your hosts file (/etc/hosts) should probably do the trick?!

[2017-04-19 00:53] #734 closed

[2017-04-19 02:46] JedMeister commented on #233
closed by https://github.com/turnkeylinux-apps/tomcat-apache/issues/5

[2017-04-19 02:46] #233 closed

[2017-04-19 22:48] JedMeister opened #808 "Hub should provide facility to remove credit card details (not just replace them)"
Currently the Hub allows you to update your credit card/payment method, but it doesn't allow you to just remove them.

We do have a strict policy of not charging people for things that they don't want or aren't using, and a 90 days "no questions asked" refund policy. However, I understand that being able to completely remove the credit card on record would be reassuring for users who don't know us

[2017-04-19 23:20] JedMeister opened #809 "On new Hub signup, the fact that the free trial auto migrates to a paying account should be really clear"
A recent new TurnKey user didn't understand that the free trial automatically converts to a paid plan (after the 14 days expires). He suggested that we should make that clearer, which I think is a good idea!

[2017-04-20 22:29] niarbeht opened #810 "git-lfs does not appear to work with TKL-Gitlab-14.1"
Really not sure what to test or where to go next with this.  This might be related to #686 and #758, but I'm not sure.  It's quitting time here, so I can't be more verbose today.

[code]

[2017-04-20 23:31] JedMeister opened #811 "MySQL views not restoring properly?!"
It has been [reported in the forums](https://www.turnkeylinux.org/comment/27521#comment-27521) that MySQL views are not (all?) restoring properly.

Needs investigation and confirmation (and fix if confirmed!)

[2017-04-21 00:24] JedMeister commented on #810
Thanks for the bug report.

I'm guessing you have, but can you please confirm that you've double checked the [GItLab git-lfs docs](https://docs.gitlab.com/ee/workflow/lfs/manage_large_binaries_with_git_lfs.html) and have configured everything as they suggest?

Regardless, we hope to be releasing our v14.2 version (which will include the latest GitLab stable release) sometime really soon.

[2017-04-24 08:13] niarbeht commented on #810
Yep.  Reading the manual would help.  That's what I get for trying to do stuff late in the day.

[2017-04-25 07:09] JedMeister opened #812 "Ghost: Fence not working by default in v14.2 test build"
I just discovered that the init-fence (blocks all connections until the initialisation has been done) is not working by default in v14.2 build. It seems that the access to services is blocked, but the fence page isn't showing.

[2017-04-25 07:37] JedMeister opened #813 "etherpad: admin config somewhat insecure; moving to commandline script (from inithook)"
During testing I couldn't log into the etherpad admin area with the password that I'd set during firstboot.

I also tried to restart etherpad (actually I restarted `pm2`) and that broke it completely?!

Needs a little bit of work...

[2017-04-27 22:40] #732 closed

[2017-04-27 22:45] JedMeister commented on #732
This should have been included in the confconsole hostname plugin! Doh! The confconsole code has been updated, but I'm not sure when we'll release the new confconsole package.

For now I'm also going to include it in the phplist app as an overlay, but I'll discuss it with Alon and see how we handle this on other appliances.

[2017-04-30 09:41] JedMeister opened #814 "Changing hostname in confconsole doesn't change postfix hostname"
As reported by @Dude4Linux:

[2017-04-30 09:47] JedMeister commented on #814
It was an oversight on my behalf... So not sure whether that counts as a feature, bug or what?! Regardless, I think we should resolve it..

The update has actually already been committed to confconsole, but we'll need to rebuild the confconsole package.

[2017-04-30 10:07] JedMeister opened #815 "code review on octohub PRs"
I just realised that there are 3 PRs against octhub:

https://github.com/turnkeylinux/octohub/pulls

It'd be great to do a review of those and at least comment on them.

[2017-05-01 08:42] #774 closed

[2017-05-01 10:02] JedMeister commented on #754
I'm closing this for now.

[2017-05-01 10:02] #754 closed

[2017-05-01 10:02] #703 closed

[2017-05-01 15:28] niarbeht commented on #810
Just popping in to note that following the instructions does not appear to have resulted in a working setup.  I don't have as much time to track the issue down as I'd like, so while I'll be leaving this closed, I'd encourage you guys to take the time to figure out how/why it doesn't seem to be working  I'm sure I'm missing something obvious, but it might make for a good entry into some sort of "Er

[2017-05-01 22:44] JedMeister commented on #810
Hmm, thanks for the feedback.

Considering that you can't get it working, let's reopen this.

[2017-05-03 00:54] OnGle commented on #723
@MPTMG Sorry for the long wait, I've had a look at the build code, everything looks good to me. We should be building this very soon! Thanks again for your work!

[2017-05-03 01:08] #772 closed

[2017-05-03 01:56] MPTMG commented on #723
Excellent. Let me know if you need anything additional. I built a Zoneminder appliance as well, take a look if you guys are interested. I have some free time, so if there are other appliances that you need someone to take a look at I can.

[2017-05-03 03:20] JedMeister commented on #751
closed by https://github.com/turnkeylinux/tklbam-profiles/pull/8 & https://github.com/turnkeylinux/tklbam-profiles/pull/9

[2017-05-03 03:20] #751 closed

[2017-05-03 07:07] JedMeister opened #816 "sahana-eden should ideally just do a shallow clone"
I just noticed that the [sahan-eden](https://www.turnkeylinux.org/sahana-eden) appliance currently [does a full clone](https://github.com/turnkeylinux-apps/sahana-eden/blob/master/conf.d/downloads#L13) of master. It would be preferable to just do a shallow clone...

[2017-05-03 07:29] JedMeister opened #817 "Fileserver: WebDAV CGI (proposed new webUI) not working"
I have tried to merge and build the fileserver appliance using @qrntz's code ([common](https://github.com/turnkeylinux/common/pull/65) & [fileserver](https://github.com/turnkeylinux-apps/fileserver/pull/3)).

After making some minor tweaks (as seen [here](https://github.com/qrntz/common/pull/2)) it builds successfully, however, it doesn't work... :cry:

It allows you to login (user 'root', root us

[2017-05-03 08:08] JedMeister opened #818 "OTRS build failing"
OTRS is failing to build. It looks to me like the package has changed and it's asking for interaction. We'll need to force it to install without interaction, then make adjustments so it will work...

[2017-05-03 23:30] JedMeister commented on #814
New confconsole package has been released and is in the repo. For v14.2 users, to upgrade simply:
[code]
That also applies to v14.0 & v14.1 users who **have already updated to confconsole v1.0.0**.

For v14.0/14.1 user who would like to update (from the old v0.9.4), please follow the upgrade instructions as noted in the [docs](https://www.turnkeylinux.org/docs/confconsole#instalation).

[2017-05-03 23:30] #814 closed

[2017-05-04 01:01] JedMeister opened #819 "Install Moodle with Composer"
Seeing as the popularity of composer continues to increase (and it's pretty easy to use) I think it woudl be a good idea to move to a composer install for the next release.

https://docs.moodle.org/dev/Composer

Also I accidentally ran across `moosh`, it's short for <strong>moo</strong>dle <strong>sh</strong>ell and appeasr to be to Moodle, what drush is to Drupal. I'm not sure if it's bunbled by

[2017-05-04 01:22] JedMeister commented on #819
Also, whilst it's probably irrelevant if we go with composer, but I also just noticed that Moodle do a "plus" release. I.e. a 3.2.2+ (as opposed to 3.2.2). The plus release is updated weekly and includes updates and fixes (so is essentially the latest release). It would make sense to use that if we don't go composer...

See here:
https://download.moodle.org/releases/latest/

[2017-05-04 13:58] Dude4Linux opened #820 "The LXC template lxc-turnkey needs to be updated"
The recent change of the MD5 signature file extension from .sig to .hash causes the download of v14.2 containers to fail. A patch or replacement of the lxc-turnkey template will be needed for version 14.0 and 14.1 LXC appliances and the new version needs to be included in LXC v14.2 release.
Error shown below.
`root@lxc ~# /usr/bin/lxc-create --name core-natbr0-container --config /etc/lxc/natbridge

[2017-05-04 14:21] Dude4Linux commented on #802
Excellent idea.  In addition to the '-v' option, I'd like to suggest a '-j' option to return the same information in a .json format.  This would make the turnkey_facts module in the Ansible appliance trivial.  Example of the current turnkey_facts output:
`ansible@ansible ~/$ ansible localhost -m turnkey_facts
localhost | SUCCESS => {
    "ansible_facts": {
        "turnkey": true,
        "turnkey

[2017-05-04 21:41] JedMeister commented on #820
Thanks John! :+1:

[2017-05-04 21:45] JedMeister opened #821 "Ansible update for v14.2"
@Dude4Linux has prepared an update for the upcoming v14.2 Ansible appliance:

https://github.com/Dude4Linux/ansible/pull/2

Thanks John, you rock! :+1:

(PS whilst this isn't strictly a bug, I tagged as such so it doesn't get missed!)

[2017-05-05 07:53] Dude4Linux commented on #820
FYI I'm working on the issue. Just discovered that the change involved more than just the file extension. The method of verifying the checksums also changed from sha1sum to sha256sum or sha512sum. That is a good thing.

[2017-05-05 08:01] JedMeister commented on #820
That'd be super cool! :smile:

Yeah sorry, should have mentioned that... We also need to update the docs.

[2017-05-05 10:14] cboulanger opened #822 "File Server Appliance: PHP Fatal error: Call to undefined function SambaDAV\ssh2_connect()"
Installed the fileserver appliance in a container on a ProxMox virtual host. This is the error I am getting in `/var/log/nginx/error.log`:

2017/05/04 14:45:39 [error] 11477#0: *16 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Call to undefined function SambaDAV\ssh2_connect() in /var/www/sambadav/lib/SambaDAV/Auth.php on line 176" while reading response header from upstream, client: XXX

[2017-05-08 22:43] JedMeister opened #823 "Confconsole - Let's Encrypt - should ask for email (and forward as part of cert request)"
The Let's Encrypt plugin should also ask for email. If given, that should be included in the cert request. That way if something goes wrong, the user will get a warning (about a cert about to expire).

[2017-05-08 22:47] JedMeister commented on #822
Thanks for reporting @cboulanger

I just answered [this thread](https://www.turnkeylinux.org/forum/support/thu-20170504-1658/file-server-appliance-php-fatal-error%C2%A0-call-undefined-function) in the forums. I'm guessing that was you?

As I noted there, we're moving to a different web UI for v14.2. Unfortunately though the code was written ages ago and just not merged. But now it doesn't work :cr

[2017-05-08 23:54] JedMeister opened #824 "secalerts inithook cron job failing"
As noted in the [forums](https://www.turnkeylinux.org/forum/support/fri-20170414-0956/newly-installed-wordpress-vm-generating-secalerts-emails) secalerts cron job (set up by the secalerts inithook) is failing:
[code]
We've tracked down the issue to the website (we recently updated the backend) but we need to fix it...

[2017-05-09 00:33] OnGle opened #825 "yiiframework has no inithook"
Just updated yiiframework and it seems to have a login page without an inithook. If yiiframework has default users we should probably be setting their passwords on firstboot.

[2017-05-09 00:42] OnGle opened #826 "composer installs in builds may ask for user input"
When the maximum number of un-authorized github-api requests is reached by composer it stops and asks for a github token from the user.

[2017-05-09 04:41] JedMeister commented on #826
Hmm, I recall hitting this issue previously. I forgot how we managed to work around it.

Perhaps something we could do is configure something in the buildtasks config to allow a GH auth token to be included, then in scenarios such as this, it could use that?!

[2017-05-09 21:56] abidrcastaneda commented on #106
I think the sfcoreautoload.class.php is missing from the lib/vendor/symfony/ .... in fact, the folders only go all the way up to ../lib/vendor/symfony/  and that's it, there are missing files .....................

[2017-05-09 22:48] JedMeister opened #827 "14.2 SugarCRM OVA file not importing into VMware (manifest invalid checksum)"
As reported in [the forums](https://www.turnkeylinux.org/forum/support/mon-20170508-2026/sugarcrm-business-social-crm-software) the v14.2 SugarCRM fails to import on VMware as the checksum is invalid in the manifest.

[2017-05-10 05:39] JedMeister commented on #827
FWIW I can't quite reproduce this.

The OVA imports without error in VIrtualBox (double click OVA, or manual import within VBox).

The OVA also manually imports fine into VMware's Workstation Player (12.5.5 build-5234757). However, if I just double click the OVA (with VMware assigned as the default app) I get an error:
[code]
However, TBH that doesn't make sense as the OVA doesn't even have a VMX?

[2017-05-10 23:09] gr9 opened #828 "Bugzilla aws marketplace instance; faulty bugzilla domain"
Steps:

1) install turnkey bugzilla from AWS market place version 14.1 (Linux/Unix, Debian 8 (Jessie) | 64-bit Amazon Machine Image (AMI) | Updated: 8/25/16) (not the other 2 versions that are available)
2) Select to run on t2.micro, with 10gb of hd space
3) SSH into the instance using the admin account and fill out all mandatory fields for the admin passwords etc that are required
4) enter a 'bug

[2017-05-10 23:17] JedMeister commented on #828
Thanks heaps for the bug report. I'll look into it ASAP.

Actually, your timing is impeccable as I'm currently working on v14.2 and haven't got to the Buzilla appliance yet.

[2017-05-10 23:58] JedMeister opened #829 "ASP.Net examples not working in asp-net-apache appliance"
The "samples" link on the appliance landing page (http://SERVER/samples) gives an error:

![screenshot from 2017-05-11 09 55 01](https://cloud.githubusercontent.com/assets/818633/25926100/4a4e2a16-3630-11e7-81ad-11fe46948e19.png)

[2017-05-11 00:37] JedMeister opened #830 "Django not working"
Just built Django v14.2 and it's failing with "Bad Request (400)":

![screenshot from 2017-05-11 10 37 05](https://cloud.githubusercontent.com/assets/818633/25926942/cb658ac2-3635-11e7-9152-be08803f74ae.png)

[2017-05-11 03:41] JedMeister opened #831 "Need to document response to PHP warning in Joomla"
In the Joomla3 appliance, it warns that the version of PHP bundled in TurnKey is only supported until 2018-12-31 - seeing as Debian LTS will support Jessie until April/May 2020, that probably doesn't actually apply and should probably be documented.

Screenshot:
![screenshot from 2017-05-11 13 38 41](https://cloud.githubusercontent.com/assets/818633/25931393/6ae13b32-364f-11e7-9b03-54ec843df88f.pn

[2017-05-11 06:17] JedMeister commented on #701
Moving this to v14.3...

[2017-05-11 06:45] JedMeister opened #832 "OTRS failing to build non-interactively"
OTRS is failing to build. It seems that the package gets upset that MySQL isn't running. It fails gracefully initially, but when we install Dehydrated (common conf) that is causing the OTRS install to be retried. That's when it fails (it's waiting for interactive input).

[2017-05-11 06:50] JedMeister commented on #832
Oops, looks like I should have prefixed `DEBIAN_FRONTEND=noninteractive` to the start of the [`apt-get install` line](https://github.com/turnkeylinux/common/blob/master/conf/turnkey.d/ssl-dehydrated#L4)... Oops...

[2017-05-12 01:44] JedMeister commented on #818
Oops, thanks for the heads up that I'd created this issue twice (and assigned one to you and self assigned the other...) Doh! Closing this one in favour of the other...

[2017-05-12 01:44] #818 closed

[2017-05-12 01:48] JedMeister commented on #798
Have unasigned @OnGle as we've decided to put this on hold for now. That is because it would not be fully backwards compatible.

[2017-05-14 08:41] jgillich commented on #670
See my comment at https://discuss.linuxcontainers.org/t/is-there-a-lxd-hub-in-the-pipleline-anywhere/103/7

Could this be of interest to the TurnKey project? I have no idea how you're currently building images and if you have ever considered Packer, but to me this sounds like a great fit for TurnKey as well.

[2017-05-14 22:30] Dude4Linux opened #833 "Stunnel causes failures when testing shellinabox and webmin"
The 14.1 configuration, /etc/stunnel/stunnel.conf, results in failures when testing the shellinabox and webmin ports using Ansible.  The solution is to set the parameter, TIMEOUTclose, to zero in both sections of stunnel.conf.  The resulting config should look like this.
[code]
Reference: RedHat Enterprise Linux 7 Security Guide, Section [4.9.2. Configuring stunnel as a TLS Wrapper](https://access

[2017-05-15 04:19] #829 closed

[2017-05-15 18:27] Dude4Linux opened #834 "ZurmoCRM: All queries are redirected to www.example.com"
When installing Zurmo as an LXC container, the application installation defaults to www.example.com, with the result that all queries to the webpage get redirected to www.example.com/...
I tried to override this behavior by setting the domain in inithooks.conf, but it had no effect. I believe the correct behavior would be to use the hostname "zurmo" and the domain from inithooks.conf, e.g. somethi

[2017-05-17 00:37] OnGle opened #835 "install concrete5 via composer"
Concrete5 should be installed via composer but is currently installed from upstream source

blocked by https://github.com/turnkeylinux/tracker/issues/826

[2017-05-17 00:52] JedMeister opened #836 "TKLBAM should keep track of free space on filesystem"
Ideally it'd be great if TKLBAM kept track of free space in the local filesystem. Once it starts getting close to a point where a TKLBAM restore would fail (due to lack of free space) it should alert the user. Otherwise a user may get stuck in a scenario where they need to restore to solve a problem, but they can't as they have insufficient free space on their server...

[2017-05-17 03:37] JedMeister opened #837 "OpenVPN - CloudFormation "recipe" needs update"
The OpenVPN [CloudFormation 'recipe'](https://github.com/turnkeylinux-apps/openvpn/blob/master/contrib/cloudformation_vpc_openvpn.template) is out of date and currently broken. It needs update ASAP, at the very least for the v14.2 release.

Also it was pointed out that the meaning of the docs when they say:

Is not completely clear. I'm assuming that they refer to the firstboot scripts (aka `inith

[2017-05-17 06:37] JedMeister commented on #833
Thanks for providing the link John.

It sounds like Ansible is acting like MSIE?! :frowning: According to the [stunnel docs](https://www.stunnel.org/static/stunnel.html):
[code]
Also, not sure if related or relevant; from the [stunnel FAQ](https://www.stunnel.org/faq.html):
[code]

Anyway, from my reading I didn't see anything that appeared alarming about using that setting, so I've merged it and

[2017-05-17 06:38] JedMeister commented on #833
As i've merged, I'll close this too...

[2017-05-17 06:38] #833 closed

[2017-05-17 07:15] JedMeister opened #838 "Piwik - can't log in as admin"
Piwik inithook doesn't seem to be setting password correctly. I tested both username 'admin' and used the email (I just kept the default 'admin@example.com'). Either way I get: "Error: Wrong Username and password combination."

[2017-05-17 07:37] JedMeister opened #839 "Plone - can't log in"
On the plone appliance the password set via inithook doesn't work. Actually, in it's current state the inithook isn't even running (i.e. the user is never asked to set their password).

I had a quick look myself to see if I could work out the issue. I thought I'd nailed it when I saw [this](https://github.com/turnkeylinux-apps/plone/blob/master/overlay/usr/lib/inithooks/bin/plone.py#L16-L17). Howe

[2017-05-17 07:47] JedMeister opened #840 "ZenCart - can't login"
It is not possible to log into ZenCart using the email and password set at firstboot. I get a message "Error: Sorry, there is no match for that email address and/or password."

I also tried to use just the username 'admin', but that failed due to not being a proper email addy.

[2017-05-17 09:24] JedMeister opened #841 "Prestashop inithooks require tweak"
It looks like the 20regen-prestashop-secrets needs tweaking.

It tries to edit the config file found at /var/www/prestashop/config/settings.inc.php, however, it appears that's been deprecated. The new location appears to be /var/www/prestashop/config/bootstrap.php

I tested that and it seems to work now. However, I still couldn't log in with the password and email I set, so it looks like that need

[2017-05-18 02:41] JedMeister opened #842 "EspoCRM curl install not working with latest upstream version"
It seems that the curl install method we use to achieve a non-interactive for tons of appliances, no longer works with the latest version of EspoCRM.

As we're way behind on version, obviously we've updated the curl strings to match the new installer. But even when we replay the exact communication that we capture (with a web browser doing it manually) it just gives an error message (whereas when

[2017-05-19 23:22] cebe commented on #826
you can configure composer with an oauth token so that it will not ask for input.
explained here:
- http://blog.simplytestable.com/creating-and-using-a-github-oauth-token-with-travis-and-composer/
- https://getcomposer.org/doc/06-config.md#github-oauth

[2017-05-20 01:36] Dude4Linux commented on #820
Just released [Updates for 14.2 release #10]( https://github.com/turnkeylinux-apps/lxc/pull/10) with a new version of lxc-turnkey template that addresses this issue along with a number of other fixes and enhancements.

[2017-05-20 01:36] #820 closed

[2017-05-20 01:46] DocCyblade commented on #826
We may be able to just set an ENV variable inside your TKLDev box before a build so that composer uses that to authenticate. I'll test this while I am working on the fileserver webdav build

https://getcomposer.org/doc/03-cli.md#composer-auth

[2017-05-21 15:07] qrntz commented on #842
Could be one of two things:
1) The installer uses JS;
2) The installer is picky about something like an actual browser being emulated (if so, we could probably use twill to script it but I did not try that).

[2017-05-21 18:03] DocCyblade commented on #817
I was able to pull in the code form qrntz from common and built the file server appliance. I too got the above issues.

To fix one of the issues, I installed `libcgi-pm-perl` I am not getting the below issue
[code]

Looks like there may have been some updates to the config since this build code was written. Sorting out the changes and will update the common code to fix it

[2017-05-21 18:19] DocCyblade commented on #817
Fixed the mime error by adding the below to the `webdav.conf` file

[code]

[2017-05-21 19:16] DocCyblade commented on #817
Not sure if its related but I ran the environment tester that comes with webdavetc. It showed required modules missing:
`IO::Compress::Brotli ---- NOT INSTALLED ----`

I tried to install it via CPAN and get the following
[code]
I fixed this by installing build tools and then running the CPAN install again. However the 500 error still was happening.

I then then changed the webdavcgi backend settin

[2017-05-21 20:43] DocCyblade commented on #817
Update, I found out how to enable debug mode and it seems that

`Can't locate object method "smbclient" via package "Backend::SMB::Driver" at /var/www/webdavcgi/lib/perl/Backend/SMB/Driver.pm line 147`

is whats causing the 500 error. The big question is why. I can confirm that SAMBA is working, and so is the webdavcgi interface (when changing the backend to FS). The issue is getting webdavcgi to

[2017-05-21 21:18] DocCyblade commented on #817
Ok, so I may be an idiot. I have been working with the [master branch of webdavcgi](https://github.com/DanRohde/webdavcgi/tree/master) I assumed that like most software master should be current version, it seems it's dev and there is a [v1.1.1 branch](https://github.com/DanRohde/webdavcgi/tree/release-1.1.1) that I probably should be using.

I am going to adjust the scripts and see whats what late

[2017-05-21 21:54] JedMeister commented on #842
Thanks @qrntz. I was under the impression that even javascript calls would be captured by the web browser (Chrome seems to not catch them all, Firefox appears to capture them, but perhaps not all?). Perhaps we should give twill a try?

Hopefully @AlexAv has some ideas or pointers for us...

[2017-05-21 22:04] JedMeister commented on #826
Hi @cebe - thanks for that. I was aware that we could work around it, but we need to ensure that it get's cleaned up after. I did consider creating a "throw-away" token just for the build, but it seemed pretty dirty to ship the image with a cancelled/invalid token. So I'd rather leave it for this release and design and implement a proper way of doing this for composer based installs in the future.

[2017-05-23 01:57] bormanst commented on #478
Congratulations on grinding out Core 14.2; your efforts are greatly appreciated!

No need to respond to any of this, at least in a timely fashion, as I know that you are extremely busy and there has been no commitment to my appliance nor do I expect any forthcoming.

That being said, I currently have some bandwidth available through the end of summer and would like to upgrade my appliance to inclu

[2017-05-23 04:43] JedMeister commented on #827
I've discovered the issue. We use the new version of OVFTool (v4.2). That now uses SHA256 for the file checksums (which is a good thing). However, older versions of VMware products only support SHA1.

I will test including both an SHA1 sum as well as an SHA256 sum and see how that goes. Hopefully we can build in backwards compatibility whilst maintaining that advantage of SHA256 checksums.

In the

[2017-05-23 08:30] vondrt4 opened #843 "Confconsole - Let's Encrypt - can't specify 2 domains on 1 line"
I tried to use Confconsole to generate a certificate for one site that runs on a .com and a .cz domain and it told me one is not a subdomain of the other. I had to use dehydrated-wrapper manually.

Suggestion - modify the form to allow to specify the lines in dehydrated config directly. Each line is one certificate. The domains need not be related. (Have a look at homeatcloud.com, for example)

[2017-05-23 08:35] vondrt4 opened #844 "Confconsole - Mail relaying - can't specify a local mail server without password"
...yes, I have one that services my whole local network without authentication. I had to edit postfix config manually.

[2017-05-23 08:36] vondrt4 opened #845 "Confconsole - Hostname - does not set FQDN and hostname at once"
It should seprate the part before the first dot and put that to /etc/hostname. The whole FQDN and the hostname should go to /etc/hosts

[2017-05-23 08:38] vondrt4 opened #846 "Confconsole - Network config should be disabled on cloud builds"
As per updated subject; all cloud builds should have networking disabled. - @jedmeister

----

In a cloud setting, leaving the user a menu to change the configuration of the first network card is a way to let him make the cloud instance inaccessible. There should probably be at least a warning.

[2017-05-23 19:42] microchipe opened #847 "PostgreSQL with LDAP authentication"
Hi, i tried to use the turnkey postgresql vm, and looks like ldap auth support was not built into that, can you guys include that?
I'm sure there  will be many use cases for that, and ldap is a very common  auth method to be left out.
Thanks in Advance.

[2017-05-24 20:05] chariga opened #848 "OpenVPN constant crash/restart"
Our AWS Turnkeylinux OpenVPN server restart constantly, few times a day.

Please help.

Best regards,

Chris HARIGA

[2017-05-24 22:35] JedMeister opened #849 "Ability to install from 3rd party repos on TKLBAM restore; or at least option to blacklist packages"
A user is currently wrestling with a TKLBAM restore that includes PostgreSQL from a third party repo.

He has got to a point where he has a process that works, but it's pretty dirty (involving installing, purging, then reinstalling - probably due to the failed initial install, and/or his existing config).

If TKLBAM could be configured to install packages from third parties, then this could be res

[2017-05-25 00:51] JedMeister opened #850 "AWS MP server MOTD reporting that TKLBAM is NOT INITIALIZED, but it is!"
A user has reported that when they log in via SSH to their brand new v14.1 Observium server (launched from AWS MP), the MOTD says that TKLBAM is NOT INITIALIZED. However, tklbam-init reports that it's already initialized and that is proven by `tklbam-backup` completing successfully!

Needs further investigation...

(note I have tagged both `core` and `observium` as I doubt it's an Observium specif

[2017-05-25 14:34] microchipe commented on #847
Sorry, my bad. Turns out that i've managed to make it work, was some typo on my config that caused the issue. My problem now is just the version , and I'll need pgsql 9.6, and the turnkey version now is 9.4. Thanks.

[2017-05-26 01:20] JedMeister commented on #847
Ok cool. I'll close this then. Unless you want to leave it open as a feature request ("add LDAP authentication option to appliances" or something similar)?! TBH, I know of at least one other community member that would potentially agree (and possibly even be interested in implementing it). If so, please feel free to reopen.

WRT to PostrgreSQL version, yes the current version in Debian is [9.4](ht

[2017-05-26 01:20] #847 closed

[2017-05-27 06:30] JedMeister commented on #478
Hi @bormanst

Thanks for your kind words and your easily accommodated attitude. If only everyone were as kind, polite and patient as you! :smile:

To explicitly answer your questions:

1. I'm using v14.2 TKLDev to build v14.2, so you'll be fine using that for your purposes. We do plan to do some work on TKLDev for v14.2, which is part of the reason why it hasn't been built yet. Even though you wil

[2017-05-27 06:34] JedMeister commented on #843
Hey @vondrt4

Thanks for having a look. You are correct, currently that is a limitation. We decided to keep the initial release simple. FWIW, as it uses dehydarated, you can just add the additional domains to the domains.txt. it's all fairly well [documented](https://www.turnkeylinux.org/docs/confconsole/letsencrypt).

[2017-05-27 06:36] JedMeister commented on #844
Hmm ok. We didn't expect that! :smile:

I guess instead of failing if you don't enter a password, it should probably just ask to confirm that there is no password.

[2017-05-27 06:44] JedMeister commented on #845
Hmmm ok. Fair call...

[2017-05-27 06:51] JedMeister commented on #846
Yes there is.

Unfortunately the networking component is old baked in code, whereas the other new stuff are all provided as plugins (so extras can be included and the existing ones removed). However, we did anticipate that use case. You can disable it in the config file (IIRC it should be /etc/confconsole/conf or something similar) with `networking false`. Here's what it should look like by defaul

[2017-05-27 06:57] JedMeister commented on #846
Maybe we should make that the default on the OpenStack builds then?

[off topic] Speaking of which, I resolved the first issue we had with the OpenStack build, but still haven't had a chance to have a look at the other one. Obviously supporting cloud-init would solve it, but as we have big rewrite plans for a lot of software in the near future, we're pretty loathe to tinker too deeply with code ju

[2017-05-27 07:18] JedMeister commented on #848
Hi Chris,

This is our issue tracker and is just for explicit bug reports or feature requests.So I'm closing this now.

I'll also need to know a lot more info about your server before I could even guess what might be wrong.

For public community support (which will almost certainly still be me) please post on our forums in the [support section](https://www.turnkeylinux.org/forum/support).

As an A

[2017-05-27 07:18] #848 closed

[2017-05-30 06:12] JedMeister opened #851 "v14.2 OVA build not backwards compatible with older VMware products"
Users have contacted us to let us know that our v14.2 OVA builds are not working on older versions of VMware products.

After some initial research we discovered that the latest version of the OVFTool defaults to SHA256 checksums in the manifest file. However, further research bought to our attention that all versions prior to the latest vSphere/ESX products only support SHA1.

So we are planning

[2017-05-30 22:07] JedMeister opened #852 "WordPress appliance page needs cleanup (plugins no longer installed)"
as per subject, appliance page needs a tidy up...

[2017-05-31 10:00] vondrt4 commented on #846
Ah, thanks. Maybe I should have RTFMed more :-).

I would disable it in the "cloud" module of buildtasks. I think that all it applies both to AWS and OpenStack that the primary interface is configured by DHCP and if you reconfigure it, you will make bad things happen, like desynchronizing the IP address written in the dashboard with reality, breaking instance liveness checks, or outright cutting o

[2017-05-31 11:01] JedMeister commented on #846
All good. Having a manual to read for TurnKey software is probably a shock! :smile: (we probably should add in proper man pages actually...)

Ok, we'll make that the default for all cloud builds going forwards. I'll repurpose this issue if you don't mind.

[2017-06-01 03:20] JedMeister opened #853 "Forums notifications garbled on iOS and OSX (default mail app)"
I was notified by a user via email that on iOS (up to date iPhone 6S) and OSX (Sierra, 10.12.5) the TurnKey forum notifications display all garbled. The website looks fine in the web browser.

**OSX**
![screen shot 2017-05-31 at 10 36 55 pm](https://cloud.githubusercontent.com/assets/818633/26663266/db2ccde2-46cc-11e7-82fd-c0dcd3d25240.png)

**iOS**
![img_4979](https://cloud.githubusercontent.com/

[2017-06-05 03:59] #846 closed

[2017-06-06 13:22] Dude4Linux commented on #652
FYI, I fixed this in 14.2 release.

[2017-06-06 22:41] JedMeister commented on #652
Hey @Dude4Linux - thanks for that. Sorry I haven't merged that yet...  I've been having a battle with the OVA builds which has sidetracked things a little. I do still need to update the Amazon Marketplace too, but I'm hoping that won't take too long.

Either way I'll hopefully be starting work on the next batch of ISOs really soon so will be looking at you code once I get to that stage.

Regarding

[2017-06-07 14:59] Dude4Linux commented on #652
@JedMeister - I had to check and found that I had taken the easy route and just updated the hard-coded version number. I wasn't aware of aplinfo.dat but having the version updated automatically is a great idea.
I just pushed an update that sets the default container version to the host appliances version (turnkey-version)
`version=$(cat /etc/turnkey_version | cut -d'-' -f3,4)`
While I'm thinking o

[2017-06-08 02:42] OnGle commented on #813
After having a look at the etherpad appliance it appears that etherpad stores it's passwords in plaintext, updating the inithook to work would mean many users would be storing passwords insecurely without knowing and I believe that too be a serious security issue.

Instead I've written a small commandline utility for disabling/enabling the admin account and setting the password. It also spits out

[2017-06-08 03:21] JedMeister commented on #813
Great work, thanks @OnGle. I think the way you've approached this is great. I'm inclined to agree, so I've changed the name of the issue to reflect your position. Once you've got a pull request for this, I'll merge and build for v14.2! :smile:

[2017-06-09 01:22] #813 closed

[2017-06-10 03:02] #449 closed

[2017-06-10 03:02] #468 closed

[2017-06-10 03:02] #563 closed

[2017-06-10 04:11] JedMeister opened #854 "TYPO3 not building for v14.2"
In theory, the TYPO3 appliance should auto build to latest v7 LTS. However, it's currently failing:

Tail end of the build log (first line matches [line 51 of conf.d/main](https://github.com/turnkeylinux-apps/typo3/blob/master/conf.d/main#L51)):

[code]

A quick google suggests that [`ter` is no longer supported](https://typo3.org/extensions/repository/view/ter)?!

@qrntz - I hope you don't mind,

[2017-06-10 15:56] qrntz commented on #854
Looks like they obsoleted the Composer installation method, too. This upstream...

[2017-06-10 16:23] qrntz commented on #854
The version we are installing is outdated now. The latest stable version of TYPO3 requires PHP 7, which is not in Jessie.

[2017-06-13 01:11] JedMeister opened #855 "Unprivileged TurnKey containers on LXC (inc Proxmox) fail"
Reported via email.

[2017-06-13 02:03] jstruebel opened #856 "[TKLDEV] Missing path in common for fab-apply-patch"
I recently upgraded my TKLDEV appliance to the latest packages and now I'm running into an error from what I think is the new fab-apply-patch that @Dude4Linux added. The specific error that I get is:

[code]

I pulled the latest changes from https://github.com/turnkeylinux/common.git thinking that might fix it, but I still don't have a patches directory. Since this error terminates the build, I'm

[2017-06-13 02:43] #856 closed

[2017-06-13 03:00] JedMeister commented on #856
Thanks @jstruebel - I actually noticed exactly the same thing late last week and fixed it (by creating the directory). I did push back to GH, but forgot to do a PR and merge. Thanks for the prompt!

And hopefully you should also notice that the incremental build targets should be working properly again now (with the update to `fab`). I think I've inadvertently been telling people to update `deck`,

[2017-06-13 03:02] JedMeister commented on #856
PS in some respects, just making that section of code ignore the missing dir may actually be preferable. But I've just added the dir as then people may notice the additional functionality. FWIW I preferred the option of leaving fab as it was and including (and updating) buildtasks. But Liraz merged so we'll run with that...

[2017-06-13 04:01] Dude4Linux commented on #856
@jstruebel @JedMeister - Sorry guys, my bad.  Git has a bad habit of ignoring empty directories and I guess I failed to include an anchor file.  Apparently I never tested the case where the directory was missing. Thanks for catching and fixing the problem.

[2017-06-13 04:28] JedMeister commented on #856
Hey @Dude4Linux No problems mate. Liraz probably should have tested himself before merging (or made sure someone else tested it further).

No major harm done because at this point, the only users who would notice are ones like Jonathan who have updated. It will be included by default in TKLDev 14.2.

[2017-06-13 07:51] JedMeister commented on #854
I see that the v8 branch is the current latest and does require php7. However, according to the [download page](https://typo3.org/download/) (click the "TYPO3 v7 LTS" tab in the middle) the v7 branch will still receive:

The release page for the latest v7 branch can be found here: https://wiki.typo3.org/TYPO3_CMS_7.6.18

[2017-06-13 10:34] Xyon opened #857 "OpenVPN Initialisation fails OOB with 14.2 (Proxmox)"
While running up a clean version of this appliance (with hash 01fe55f285995fc6e762a6123de87c212dfd0e151e8d8b4614d64c4bd439afdb93f8018407ba53919ebd7c2bacab290d376d0d90aacbc3ec14b53d7bf5a03f09), turnkey-init fails to provision OpenVPN itself, silently continuing to the TLKBM setup screen without apparently suffering an issue - however the VPN itself remains unconfigured.

![tk-ovpn](https://user-ima

[2017-06-13 10:37] Xyon commented on #857
Sorry, turnkey-version:
turnkey-openvpn-14.2-jessie-amd64

[2017-06-13 23:00] JedMeister commented on #857
Thanks heaps for the bug report. I'll have a look and rebuild ASAP.

[2017-06-13 23:16] qrntz commented on #854
That one's not in their Composer repo and it seems none of the 7.x versions are anymore. That's what I meant by "outdated" but should have specified in detail.

Actually I don't know why because the [docs](https://composer.typo3.org/) refer to 6.x and 7.x.

I can change it to use the regular package instead.

[2017-06-14 00:10] JedMeister commented on #854
Ah ok. Sorry I misunderstood...

That's a bit of a pity but it sounds like your proposed solution is the WTG for now... We'll go back to composer once we rebase on Stretch (and have PHP7).

[2017-06-14 00:13] JedMeister commented on #817
This issue is now resolved.

Closed by https://github.com/turnkeylinux-apps/fileserver/pull/3 and https://github.com/turnkeylinux-apps/fileserver/pull/3

[2017-06-14 00:13] #817 closed

[2017-06-14 00:33] JedMeister commented on #670
Hey @jgillich thanks for your input.

Whilst we've been keeping half an eye on Packer, we've been using our homegrown [buildtasks](https://github.com/turnkeylinux/buildtasks) to build to multiple image targets since long before Packer. It's essentially just a bundle of bash scripts. We have briefly looked at rebasing on Packer, but we decided that whilst in the long term, it may make maintenance s

[2017-06-14 04:12] JedMeister commented on #857
I have confirmed the issue and am looking at how to resolve it... The line in the buildtime conf script that creates the symlink was to work around a bug that a user experienced. I took the bug report on face value and resolved it (in the buildcode) as per the bug report.

However, I obviously should have done some more looking through the code and much more testing than I did...

So, my inclinati

[2017-06-14 05:21] Xyon commented on #857
I'm game - I've got the appliance working, but spinning up a new container costs me nothing. I can poke about with what I have, or I can run up something else if you're rebuilding. I'll take a look when I get to work.

[2017-06-14 06:38] JedMeister commented on #857
Awesome thanks! :smile: I'm hoping to have a chat with my colleague Alon about it really soon (i.e. today). And then I should have some more clarity on the best way to go.

FWIW the symlink will only work the way that it's currently in the build code. Making the dir within the chroot a symlink won't work (because it's a chroot). But a bind mount should achieve the same ends.

I'll be in touch ASAP

[2017-06-14 08:03] JedMeister commented on #857
Hey @Xyon thanks again. We've decided that we're going to roll back to the v14.1 appliance for now. We'll work out a proper fix for the bug that I was trying to resolve and this time do a better job of testing it! That means that there isn't too much pressure to push it out the door.

The v14.2 OpenVPN appliance was only made public late last week and we haven't even officially announced it yet. D

[2017-06-14 08:51] Xyon commented on #857
Cool - I'm glad I could help - I get email notifications on replies, so I'm happy to communicate here (openness is good!), and I can surely test when you have something. I'm in the UK, but I have reasonable internet (on clear days, when the wind is right), and my test box is in Hetzner (Germany). IIRC the container's less than half a gig, so it shouldn't be a major stretch to fetch it.

[2017-06-14 09:22] JedMeister commented on #857
Awesome!

When we get there, I'll upload a container template to the bucket I have in Ireland already. So even if it's a bit cloudy you should be ok! :smile:

[2017-06-14 10:39] qrntz commented on #854
OK, sounds good.

[2017-06-15 03:38] JedMeister opened #858 "WordPress appliance has old v3.x version installed!?"
Reported via support.

WordPress must have changed how they host their downloads. Currently we are installing the "latest" version via a url (see [here](https://github.com/turnkeylinux-apps/wordpress/blob/master/conf.d/downloads#L10)). However, the current release (v14.2) only has v3.x, latest release is 4.8!

[2017-06-15 03:40] JedMeister opened #859 "WordPress confconsole plugin to convert appliance to multi-site"
During conversation via support I was asked if our appliance is configured for single site or multi-site. Currently it only supports single site (although end users can manually adjust fro multi-site if they choose).

I thought it would be cool if there was a confconsole plugin to support creating a multi-site install?!

[2017-06-15 04:11] JedMeister commented on #652
Hey @Dude4Linux - I've assigned @qrntz to have a look at this one. Sorry I've been so slow on my code review of your current PR. Now that Anton is back on board, I'll handball all of that to him. He'll look over your existing PR and add a script to work out the version (from the proxmox index file).

As for the MAC address, you raise a good question and TBH, I'm not really sure of the answer. I'll

[2017-06-15 14:09] qq7 commented on #858
Just made a fresh build from repo and downloaded .iso from https://www.turnkeylinux.org/wordpress
They both appear to have 4.8 installed
http://imgur.com/a/jZbUy

[2017-06-15 14:13] qq7 commented on #858
Just downloaded one from https://www.turnkeylinux.org/wordpress and built one from repo

Published version has 4.7.4 onboard and the built one builds with 4.8
![screenshot2017-06-1517 07 22](https://user-images.githubusercontent.com/21182031/27185407-e91dac06-51ed-11e7-8b5d-bc37469a312c.png)
![Uploading Screenshot2017-06-1516:54:14.png…]()

[2017-06-16 00:13] OnGle commented on #840
IIRC zencart's admin interface is at /manage and is working, perhaps just not very obvious. This PR makes things a little more obvious https://github.com/turnkeylinux-apps/zencart/pull/13

[2017-06-16 22:18] JedMeister commented on #858
Hmmm, that's weird?! A Proxmox user (container build) noted this and I was able to reproduce it (with in a container on Proxmox). I wonder what is going on?

I'll need to investigate further... Thanks for double checking @qq7

[2017-06-16 22:24] #840 closed

[2017-06-16 22:32] JedMeister commented on #842
FWIW @ongle worked it out. It required some curl trickery... :smile: See https://github.com/turnkeylinux-apps/espocrm/commit/168a883b2f7708c1db00752046bc3a464c31a10e#diff-29ac556b17810d3f96aef099659745db

[2017-06-16 22:32] #842 closed

[2017-06-16 22:32] #851 closed

[2017-06-16 22:34] JedMeister commented on #851
The VM build (OVAs and VMDKs) has been refactored. The v14.2 OVA build is now consistent with previous v14.x OVA builds.

[2017-06-16 22:35] JedMeister commented on #838
closed by https://github.com/turnkeylinux-apps/piwik/pull/14

[2017-06-16 22:35] #838 closed

[2017-06-16 22:36] JedMeister commented on #839
closed by https://github.com/turnkeylinux-apps/plone/pull/11

[2017-06-16 22:36] #839 closed

[2017-06-16 22:42] JedMeister commented on #855
FWIW, this actually appears to be an LXC bug. The newer version of one of the LXC packages (sry forget the exact name) in Stretch resolves this, so once Stretch is released and Proxmox release their v5.0 then it should be resolved.

[2017-06-16 22:44] JedMeister commented on #832
closed by https://github.com/turnkeylinux/common/commit/67931bc2fe074841fdc5b3a24080ddb840570acf

[2017-06-16 22:44] #832 closed

[2017-06-17 14:16] Dude4Linux opened #860 "Namespace collision when starting a new project"
I'm seeking guidance or suggestions re: naming of new projects.  I've started development of a Mautic appliance for TurnKey GNU/Linux. Mautic provides social media marketing automation and looks like a good fit for TurnKey as it has plugins for Drupal, Wordpress, Joomla, SugarCRM, etc.
To start, I forked the project from https://github.com/mautic/mautic because I want to be able to contribute deve

[2017-06-17 20:22] DocCyblade commented on #860
Hey John!

When I start a new TKL project I like to prefix with "tkl-" keeps things tidy and keeps conflicts like you have brought up. When Jermey forks your project to the official repo he can and will rename it.

Take a look at the [Odoo appliance for an example.](https://github.com/turnkeylinux-apps/odoo)

[2017-06-17 20:42] qrntz commented on #860
Also what you could do is rename your forked repo.

[2017-06-17 21:28] Dude4Linux commented on #860
Thanks @DocCyblade I think I'll adopt that convention from now on. @qrntz I could rename the original forked project, but what should I call it. mautic-mautic seems odd. I think the 'tkl-' prefix will always let me and Jeremy easily know which repo belongs to TurnKey.

[2017-06-17 21:28] #860 closed

[2017-06-18 01:45] DocCyblade commented on #859
This would be cool and something I would be using in the future.

[2017-06-18 04:15] mredig opened #861 "Samba/winbind appears broken?"
I installed the VM, answered the questions with my password and domain name, connected to webmin, and went to the samba page. It said `The configuration file /etc/samba/smb.conf was not found. Most likely Samba is not installed on your system, or your module configuration is incorrect.` Based off [this issue](https://github.com/turnkeylinux/tracker/issues/682) I tried reinstalling winbind and got

[2017-06-18 04:16] mredig commented on #861
I don't know how to label this for [domain controller](https://www.turnkeylinux.org/domain-controller) - sorry.

[2017-06-18 10:13] qrntz commented on #861
Could you post the output of `systemctl status smbd.service` and `journalctl -xn` immediately after the apt-get fails please?

[2017-06-18 17:04] mredig commented on #861
[code]

Aaaaaaaand

[code]

[2017-06-18 18:03] DocCyblade commented on #861
What VM type are you using (VMWare, Virtual Box, etc..) and did you install via ISO or other type of image.

And you are talking about the Domain Controller appliance correct?

I want to try an recreate your issue on my test lab.

[2017-06-18 18:08] mredig commented on #861
Virtual Box and I tried both ISO and the OVA.

My domain name is `redig.me` (i also tried `redeggproductions.com` and `red.ig` which I use internally) and domain is `REDIG` - `domain.lan` and `DOMAIN` appear to work correctly

[2017-06-18 19:56] mredig commented on #861
Okay - I may have something useful here: it appears that if I use a different password, it'll work? The password I was initially using had parentheses in it - other than that, capital, lowercase, and numbers. When I changed to a different password, it appears to have worked even with my custom domain. I'm not certain that the parentheses are the issue, but that so far would be my guess.

[2017-06-18 20:10] DocCyblade commented on #861
Give me about an hour and I'll try to reproduce. I'm in the middle of moving some furniture, when I get back I'll give it a try. Try spinning up something with a password with just numbers and letters to double check the password idea if you have the time.

I'll post back when I have had a chance to spin up one

[2017-06-18 20:18] mredig commented on #861
Using a different password DOES allow me to use webmin and samba! It still had a special character, but it wasn't parentheses.

Of course, I still can't attach my computer to the domain, but that's another issue (and might just be because my computer is a Mac... :P I have no idea how Macs integrate with AD and using samba as the DC might complicate things)

[2017-06-18 21:08] DocCyblade commented on #861
Great to hear it is working. Macs joined to AD domain is tricky I have to do this at work for 802.11X and our wireless. I would look at using the open source project called NoMAD. Due to how macs use AD I don't recommend using it for laptops for authentication (mobile accounts)

[2017-06-18 23:28] #857 closed

[2017-06-19 18:26] Dude4Linux commented on #799
@JedMeister I think I'm seeing this issue while trying to capture screenshots of confconsole via a remote ssh login from Ubuntu (no PuTTY involved). The procedure works as expected with the 14.1 confconsole version 1.0.0+4+g18a, but I get the garbled output from version 1.0.1. This is for a new appliance built for 14.2. I've examined both host configs and the only difference seems to be the versio

[2017-06-19 18:37] Dude4Linux commented on #799
@JedMeister Nevermind, I checked a different 14.2 appliance and don't see the problem there. Apparently I picked up a newer version of the ncurses libraries when I installed the latest OpenVAS.  Will have to see if I can downgrade them.

[2017-06-19 21:32] JedMeister commented on #799
Yeah we really need to update that (we should ideally be depending on the version of python-dialog from the Debian repos). In fact most of the TurnKey specific code needs serious update. It's been in need of update for some time...

But as per most non-urgent stuff, I'm not really sure when we're going to get there. We need to finish up v14.2. Then we need to get v15.0 out the door (Stretch was re

[2017-06-20 22:40] OnGle commented on #841
I set configuration in `/var/www/prestashop/config/parameters.php` but looking now, perhaps if the parameters.yaml file is populated it takes precendence. Which would be cleaner.

For the time being though, prestashop login works and has been updated.

[2017-06-20 23:27] OnGle opened #862 "Turnkey Website defaults to https but loads mixed content"
Specifically it seems most pages include “http://static.addtoany.com/menu/page.js”.

[2017-06-21 08:33] JedMeister commented on #862
It's available as https, so shouldn't be too hard to fix hopefully!?

[2017-06-21 08:35] JedMeister commented on #841
Great work. Thanks man.

[2017-06-21 08:41] #841 closed

[2017-06-21 08:49] JedMeister commented on #830
This was due to a change in Django that requires you to now set a domain to server from. Fixed as of the v14.2 release (when it gets here).

[2017-06-21 08:49] #830 closed

[2017-06-21 08:51] JedMeister commented on #822
I'm closing this now. The new updated code has been merged and the new web UI will be all systems go for the v14.2 fileserver. Apologies on the delays, I can't give a tight ETA but I'd guess it'll be avaialble within the next 2-3 weeks.

[2017-06-21 08:51] #822 closed

[2017-06-21 08:54] JedMeister commented on #810
I'm leaving this open until we properly investigate, but we're going to skip it for v14.2. Debian have just released Stretch (aka Debian 9), so we need to get a wriggle on! After v14.2, v15.0 will be the next release and will be based on Debian Stretch.

[2017-06-21 09:04] JedMeister commented on #759
Sorry on the delays and radio silence. We've been flat out behind the scenes. FWIW, this is in progress and we hope to release within the coming weeks. I've done the basics and it builds ok, but I've handed to my colleague Anton to finalise. https://github.com/turnkeylinux-apps/magento/pull/15

[2017-06-21 09:07] JedMeister commented on #733
For the upcoming (any day now) v14.2 MediaWiki appliance, we're installing from upstream (rather than Debian package) so this should no longer a problem. (Pretty sure installation issues were because the version was so old).

[2017-06-21 09:07] #733 closed

[2017-06-21 09:17] JedMeister commented on #716
Deep apologies on the ridiculous delays.

Hopefully it shouldn't be too far away now (weeks at worst). I'm closing this issue for now as we also have #759; a request for v2.1 (which will be in the v14.2 release).

[2017-06-21 09:17] #716 closed

[2017-06-21 09:19] JedMeister commented on #630
Sorry this is getting bumped again :cry: v15.0?! :smile:

[2017-06-21 09:25] timhibberd opened #863 "Debian 9 switch from MySQL to MariaDB as default...TKLX impact?"
https://mariadb.com/resources/blog/mariadb-server-default-debian-9

[2017-06-21 09:41] JedMeister commented on #863
We'll probably follow suit. Unless there's a good reason not to? I haven't heard any yet. Thoughts?

[2017-06-21 09:47] JedMeister commented on #702
Haven't noticed anything of concern for a while now so closing this.

[2017-06-21 09:57] JedMeister commented on #671
Oops forgot to close this. We now have [dehydrated integrated into confconsole](https://www.turnkeylinux.org/blog/v14.2-core-release).

[2017-06-21 09:57] #671 closed

[2017-06-21 09:59] JedMeister commented on #638
closing this...

[2017-06-21 09:59] #638 closed

[2017-06-21 10:08] JedMeister commented on #635
We'll have a v14.2 Rails app for you shortly @vondrt4 TBH we haven't explicitly resolved this issue, but we were unable to reproduce it. So I guess YMMV. Also the OpenStack builds (of the v14.2 apps built so far) are on the mirror. I'll be announcing them on the blog any day...

[2017-06-21 10:11] timhibberd commented on #863
I'm just wondering how that would work on a TKLX upgrade. I can't imagine it is a transparent switchover if you upgrade a TKLX LAMP stack from a MySQL based instance to a Mariadb based instance without some form of translation.

[2017-06-21 10:18] JedMeister commented on #114
Because of our different build targets (which may or may not support acls) we can't implement it everywhere, so perhaps a confconsole plugin to enable this? That could really easily be disabled in the irrelevant builds. Another idea is an inithook. Either way I'm shifting this to v15.0.

[2017-06-21 10:35] JedMeister commented on #663
It's built and on the mirror. I just need to make the appliance page and do the blog post.

[2017-06-21 10:35] #663 closed

[2017-06-21 10:41] JedMeister commented on #285
I'm going to close this.

[2017-06-21 10:41] #285 closed

[2017-06-21 11:06] oparoz commented on #663
Many thanks @JedMeister !

[2017-06-21 13:51] qrntz commented on #863
https://mariadb.com/kb/en/mariadb/mariadb-vs-mysql-compatibility/#drop-in-replacement-for-mysql

[2017-06-21 15:11] niarbeht commented on #810
That's perfectly fine.  I'll take another stab at it soon at home and see if I can't figure out what all is missing that's needed to do this.

[2017-06-21 20:34] mredig opened #864 "Include Webmin OpenLDAP module (OpenLDAP appliance)"
I had to run `apt install libnet-ldap-perl webmin-ldap-server` to get the OpenLDAP webmin module to load.

PLA is great, but it doesn't appear to have ACLs built in (and I definitely don't want anonymous access to read the personal info I'll be storing)

I apologize as I don't know how to label issues.

[2017-06-21 20:35] mredig commented on #512
Is this what causes the lets encrypt interface to crash? If not, I will need to open another issue.

[2017-06-22 04:35] JedMeister commented on #864
Hi @mredig thanks for reporting. You are right, it would make plenty of sense to ship the appliance with the LDAP Webmin module! Thanks for providing the info on the missing dependency too.

[2017-06-22 04:37] JedMeister commented on #512
Not related. Please open a new issue and if you can provide as much detail (inc screenshots and/or copy pasted text) and steps to reproduce it. If we can reproduce it, we can fix it! :smile:

[2017-06-22 20:52] mredig opened #865 "Let's Encrypt not working right (OpenLDAP appliance)"
The issue:
1. ![1](https://user-images.githubusercontent.com/6509485/27455175-0a2eacaa-5762-11e7-8a08-3632f589b311.png)
1. ![2](https://user-images.githubusercontent.com/6509485/27455194-1469427a-5762-11e7-8a7f-24d668cf5909.png)
1. ![3](https://user-images.githubusercontent.com/6509485/27455200-186641e8-5762-11e7-8bd2-7b00841f6a0f.png)
1. ![4](https://user-images.githubusercontent.com/6509485/2745

[2017-06-23 00:26] JedMeister commented on #865
Hi @mredig thanks for the bug report.

That is very strange as it should be stopping lighty before it runs the dehydrated script (which uses a simple http server we've called `add-water`). I did test it with all the different webservers we use, but something must have slipped through... I'll look into it ASAP and get back to you with a proper fix.

[2017-06-23 00:44] JedMeister commented on #865
Hmm, ok. I just had a quick browse of the code and I think I can see what's going on (although still not sure why). It appears that for some reason, instead of getting the name `lighttpd` as the name of the webserver; it's seeing it as `lighttpd\nlighttpd` (i.e `lighttpd` twice separated with a new line)...

Unfortunately I can't clearly see why it would be doing that on the OpenLDAP appliance. FW

[2017-06-23 01:55] mredig commented on #865
Could it have to do with the entry tool not displaying multi lines and whoever configured it accidentally hit return?

Sent from my iPhone

[2017-06-23 01:57] mredig commented on #865
* multi lines in text fields

Sent from my iPhone

[2017-06-23 04:07] JedMeister commented on #865
I don't think so. I'm pretty sure that it's the [`check_80`](https://github.com/turnkeylinux/confconsole/blob/master/plugins.d/Lets_Encrypt/dehydrated-wrapper#L113) function returning multiple lines. When I wrote it, I didn't account for the possibility it may return multiple lines. So if you want to have a hack on it, you could try tweaking it.

If we force it only return the first line of result

[2017-06-26 22:20] JedMeister commented on #338
I'm reopening this issue for v15.0. Once we rebase on Stretch, we should be able to fix this properly!

[2017-06-27 02:22] JedMeister commented on #809
Another user has reported similar issue. He suggested that we have some sort of countdown timer, as well as an email and/or pop-over altering users when their free trial is close to expiring.

[2017-06-27 12:07] xsdhy opened #866 "how to uninstall lanmp stack"
how to uninstall lanmp stack

[2017-06-28 00:08] JedMeister opened #867 "HubDNS weirdness..."
I just launched a new server from the Hub and set a tklapp.com domain name for it.

The instance is up and running and I can contact it via the IP address or the AWS DNS name. However, the tklapp.com domain seemed to be taking a long time to update, it was still pointing to the default tklapp.com page which displays:

[code]
So I decided to see if I could speed it up by forcing HubDNS to update. S

[2017-06-28 00:34] JedMeister commented on #865
I've tested my workaround and it seems to work. I just want to do a little more testing. FWIW, here's an alternate way (to the `sed` line above) to apply my fix:
[code]
[confconsole-patchfile.txt](https://github.com/turnkeylinux/tracker/files/1107224/confconsole-patchfile.txt)

Hopefully, we'll release a new version this week.

[2017-06-28 01:14] #865 closed

[2017-06-28 01:14] JedMeister commented on #865
I've merged the code which has closed this issue. Hopefully we'll have a new package out really soon.

[2017-06-28 06:03] JedMeister commented on #858
I'm going to close this. I think the user (and I) was (were) mistaken...

[2017-06-28 06:03] #858 closed

[2017-06-28 06:08] JedMeister commented on #381
FWIW here's the git-repo-updater that I've been using to good effect:

https://github.com/earwig/git-repo-updater

[2017-06-28 22:54] JedMeister commented on #866
Hi @xsdhy

Firstly, I'm not really quite sure what you mean. We provide software appliances, so if you installed our LAMP stack, then you are probably running it in a VM or a container (or on Amazon etc). So to "uninstall" it, you just remove the VM/container/whatever and then it's gone...

Secondly, this is our issue tracker; for posting bug reports and feature requests. It's not intended for sup

[2017-06-28 22:54] #866 closed

[2017-06-29 03:18] JedMeister opened #868 "User poll for new turnkey appliances and/or modifications to existing appliances"
As suggested by @OnGle.

Great idea and may somewhat complement #139

[2017-06-29 06:56] JedMeister opened #869 "Redirect Django http access via IP to domain set in firstboot"
For v14.2 Django requires a domain name to serve from. However, most of our documentation suggests that you can access machines via IP address. So for the next release the Django appliance should auto redirect to the url that was set...

[2017-06-29 06:57] JedMeister commented on #869
I've tagged it as a bug to make it clear it will need doing for v15.0

[2017-06-29 10:35] qrntz commented on #867
In my experience it might depend on your router's DNS caching. I used to use an actual router and get this all the time (so I'd have to use the IP to connect to the instance) but when I switched to using dnsmasq on a Linux machine configured as a router it went away. I have not investigated the issue in depth.

[2017-06-29 10:44] JedMeister commented on #867
Hmmm, thanks for that. Sounds like it's worth investigating. I think I can install dnsmasq on my router... I'll have to check.

[2017-06-29 10:45] qrntz opened #870 "A common dashboard for collaborative progress reports and todolists"
We (the TKL team) need a common point of sharing ongoing problems/solutions to problems as well as a way of seeing what everyone else is up to so we don't step on each other's toes. After a bit of discussion, the consensus was to first use GH to that aim and later maybe develop a custom solution.

We could leverage tasks lists for the purpose like this:

- [x] Create an issue describing the proble

[2017-06-29 11:31] JedMeister opened #871 "zencart should redirect to domain set"
By default the zencart page will load via IP, but it's trying to load all the static content via the domain set, so it looks broken. Redirecting to the domain by default would solve that. The admin page already redirects to the domain, but not the home page.

[2017-06-29 12:43] JedMeister commented on #865
@mredig - there is a new confconsole package in the repos. If you haven't already applied one of the above workarounds, then please install that (or install it anyway if you want! :smile: ).
[code]

[2017-06-29 14:49] mredig commented on #865
Updated and got no error when trying to renew my cert! I haven't checked that that actually worked (and I assume it did nothing cuz the very is recent), but it appears to be an improvement!

Sent from my iPhone

[2017-06-30 00:11] JedMeister opened #872 "Despite accessing TurnKey website via https, downloads downgrade to http without warning"
Reported by one of our [public mirrors](https://www.turnkeylinux.org/mirrors):

[2017-06-30 00:13] JedMeister opened #873 "Make better use of our public mirrors"
Reported by one of our [public mirrors](https://www.turnkeylinux.org/mirrors):

[2017-06-30 00:31] JedMeister commented on #865
Awesome, thanks for the feedback.

Please let us know ASAP if you have any further issues with confconsole, or anything to do with TurnKey really. We love feedback, especially when it's constructive criticism. We know we're far from perfect, but we figure that via community feedback we can keep slowing creeping towards it! :smile:

[2017-06-30 00:56] OnGle opened #874 "Etherpad - Plain Text passwords"
[update by @jedmeister] Due to #1132 - Etherpad will be deprecated and not released as part of v15.0 :cry:  As such, this issue is being closed and marked "won't fix".

[updated update] **_Actually..._** I just posted an [update](https://github.com/turnkeylinux/tracker/issues/1132#issuecomment-409771622)

----

somewhat related to #813

As of https://github.com/turnkeylinux-apps/etherpad/pull/10 p

[2017-06-30 04:14] JedMeister commented on #874
Good work @OnGle It seems that the plugin noted in that thread does essentially resolve the issue. So perhaps we should consider including that for the next release?

Although IMO the fact that the issue has been "closed" via release of a third party plugin is somewhat concerning. The default behaviour of etherpad remains broken (WRT security) and it appears there is no plan to fix it.

Perhaps I'

[2017-06-30 04:34] JedMeister commented on #874
Looks like the plain text passwords also appear in the logfiles unless log level is < INFO...

see https://github.com/ether/etherpad-lite/issues/2216

[2017-06-30 06:44] JedMeister opened #875 "Follow Ubuntu's lead and include relevant TurnKey info "live" in MOTD"
Just read [this](https://bugs.launchpad.net/ubuntu/+source/base-files/+bug/1701068/comments/11) cool post by Dustin Kirkland (Ubuntu Dev @Canonical). It's in response to a complaint about what some saw as an advertisement in the MOTD, but that's somewhat irrelevant to my point.

In essence I think that the idea of being able to provide timely info to users via the MOTD is sound. Some of Ubuntu's o

[2017-07-02 14:21] lamby opened #876 "Make packages reproducible"
Tools
----

 - [x] pyproject — Pushed branch
 - [x] autoversion — Pushed branch
 - [x] pool — Pushed branch
  - [x] verseek — Pushed branch
- [x] fab — Pushed branch
 - [x] tklpatch — Pushed branch
 - [x] hubtools — Pushed branch
 - [x] cloudtask — Pushed branch
 - [x] chanko — Pushed branch
 - [x] repo — Pushed branch
 - [ ] <s>deck (skip)</s>
 - [ ] <s>deckdebuild (skip)</s>
 - [ ] <s>useraufs (

[2017-07-02 21:59] OnGle commented on #874
It might be a good idea to ship with the plugin, it's probably not secure still but it can't be much worse than plaintext.

As far as the logs go, I'll check that out today and attempt to reproduce that.

[2017-07-02 23:18] OnGle commented on #874
Ok so as far as logs go, I couldn't reproduce passwords appearing in logs at INFO, it might be worth testing that it still occures in DEBUG at some point but considering we default to WARN it probably wont be an issue.

[2017-07-03 03:08] Dude4Linux opened #877 "Include OpenVAS appliance in 14.2 release (feature request)"
@JedMeister If possible, please include the OpenVAS appliance, https://github.com/Dude4Linux/openvas, in the 14.2 release. An ISO image is available at
https://sourceforge.net/projects/turnkeylinuxcom/files/turnkey-openvas/turnkey-openvas-14.2-jessie-amd64.iso/download
If any other steps are needed to review or vet new appliance candidates, please let me know.

[2017-07-03 21:20] bormanst commented on #478
I appreciate the informative response; thanks for taking the time to think about it.

I saw the Roundup changelog was recently updated (Drupal7 and SimpleInvoices are already posted as v14.2) so I proceeded to update FormaVid to incorporate the appropriate changes.  No worries if Roundup is not completed yet, I'll keep an eye out for the official v14.2 posting and adjust accordingly.

With respect

[2017-07-04 00:08] P4z commented on #419
For point 4 of [Reverse-Proxy](https://github.com/turnkeylinux/tracker/wiki/Reverse-Proxy) I would like to suggest very much making use of [netdata](https://github.com/firehol/netdata) ([demo](http://my-netdata.io/#demosites)). Actually I would love to see netdata integrated with all TurnKey's appliances. 😍

[2017-07-04 00:33] #759 closed

[2017-07-04 02:11] #652 closed

[2017-07-04 02:14] JedMeister commented on #652
This issue was closed by John's PR (that I just merged). However, it doesn't implement the plan to pull the versions from the Proxmox [`aplinfo.dat`](http://mirror.turnkeylinux.org/turnkeylinux/metadata/pve/aplinfo.dat) file. I've decided to add that as a feature request for v15.0.

[2017-07-04 02:16] JedMeister opened #878 "LXC appliance should use Proxmox apinfo.dat file to download latest version from mirror"
As per discussion in #652, the ideal way to determine which image to download is to download and process the Proxmox [`aplinfo.dat`](http://mirror.turnkeylinux.org/turnkeylinux/metadata/pve/aplinfo.dat) file (which Proxmox uses to know which versions are available for download).

Let's implement that for v15.0! :smile:

[2017-07-04 02:48] JedMeister commented on #419
Hey @P4z thanks for the input.

netdata certainly does look pretty sexy. Although we've actually already done a (very basic) [Monit](https://mmonit.com/monit/) implementation in all appliances. I'm not sure how they compare, but one thing that Monit does is it allows you to pre-configure actions to take when things go wrong (e.g. restart a service if it crashes).

For our initial and basic impleme

[2017-07-04 03:53] JedMeister opened #879 "ccurl needs packaging"
As part of the v14.2 upgrade, we'll be including the tools that we use to build packages from source in TKLDev by default.

`ccurl` is a dependency of `chanko` but it's currently not packaged (making chanko uninstallable).

[2017-07-04 05:01] JedMeister commented on #857
@Xyon - as posted previously, we're pretty sure we've solved the issue. Thanks again for reporting it! :smile:

I have just uploaded a new v14.2 OpenVPN build in the LXC container/Proxmox format to an S3 bucket in Ireland. Here it is (and the hash file too):

https://s3-eu-west-1.amazonaws.com/tkl-test-builds-eu/debian-8-turnkey-openvpn_14.2-1_amd64.tar.gz
https://s3-eu-west-1.amazonaws.com/tkl-te

[2017-07-04 15:17] Xyon commented on #857
Downloaded and tested the template you sent in the same test server, and the provisioning completes successfully; looks like the issue is indeed fixed! :+1:

[2017-07-06 00:11] JedMeister commented on #857
Awesome, that's for the confirmation. Hopefully it will be live within the next few weeks. The ISO is actually on the mirror already, but I'll need to wait until my colleague Alon is back on board (he's away for a couple of weeks).

Thanks again. :smile:

[2017-07-06 06:24] JedMeister opened #880 "Need to document how to set up OpenVPN appliance as a client"
reported via support:

The OpenVPN appliance can be configured as a server, in either "site-to-site" or "gateway" mode; or as a client (the other site in "site-to-site").

The "site-to-site" config actually covers the client side, but I think it would be good to separate them out. So we have 3 doc pages for the 3 different firstboot config options.

[2017-07-06 18:45] bormanst opened #881 "Let’s Encrypt - ACME v2 API Endpoint"
Just an fyi as I'm guessing Core v15 will be available sometime early next year:

Let's Encrypt says ACME v2 API Endpoint Coming January 2018: https://letsencrypt.org/2017/06/14/acme-v2-api.html

They "are not setting an end-of-life date for the ACME v1 protocol" so it should not affect the current confconsole plugin for quite some time.

ACME v2 will supposedly allow wildcard certs to be issued a

[2017-07-06 22:09] JedMeister commented on #881
Thanks for posting @bormanst  Great info!

[2017-07-08 10:17] lamby commented on #876
Have been working on this although nothing to push just yet.

[2017-07-09 22:25] #629 closed

[2017-07-10 01:31] JedMeister opened #882 "automated TKLBAM backups stopped for no apparent reason"
Reported via support:

[2017-07-10 09:48] lamby commented on #876
@JedMeister Was just about to push... but can you give me write access to these repos, at least to create branches? :)

[2017-07-10 23:30] JedMeister commented on #876
Historically, we've always just got people to push to their own fork and do a pull request via GitHub. However, I can see that from your perspective, that would be a bit of a PITA. So I've just created a new group with push access to all those repos. I've protected the master branch, but you should be able to push a new branch.

PS I noticed that `shellinabox` is in [Debian](https://packages.debia

[2017-07-11 07:51] lamby commented on #876
@JedMeister

Haha, somewhat. :) Thanks for giving me access.

Indeed. I wasn't going to touch it immediately as it was marked low priority.

Thanks again

[2017-07-11 08:29] lamby opened #883 "Add Travis CI builds for Debian packages"
When working on #876 I was thinking it would be great if we ran package builds on Travis CI. This is quite trivial with my http://travis.debian.net/ service :)

If you agree, please grant enough access on Github to the repos mentioned in #876 and assign back — am currently seeing https://i.imgur.com/iuZWT5T.jpg.

[2017-07-11 22:24] JedMeister commented on #883
Sounds good to me. @alonswartz will be back next week so let's bring it up with him.

[2017-07-12 03:44] JedMeister commented on #878
Sorry @qrntz, I just unassigned you, then realised that you'd assigned yourself, so reassigned you! Oops... :smile:

[2017-07-12 09:59] lamby commented on #876
(Been cranking through these, in case edits to the main text are not obvious!)

[2017-07-12 20:15] qrntz commented on #854
Actually I was wrong on this.

[2017-07-12 23:57] OnGle commented on #876
Oops, I accidently clicked one of the tick boxes, sorry about that. Incidently, awesome work!

[2017-07-13 04:03] #854 closed

[2017-07-13 07:27] JedMeister opened #884 "Links on Rails app landing page need update"
I have already built the v14.2 Rails ISO, so I'm going to leave it as is for now. However, I just realised that [@qq7 noted](https://github.com/turnkeylinux-apps/rails/pull/6) that some of the landing page resource links are broken.

So for v15.0 we'll want to update the links on [`index.html.erb`](https://github.com/turnkeylinux-apps/rails/blob/master/overlay/var/www/railsapp.overlay/app/views/cp

[2017-07-13 07:35] JedMeister commented on #884
Perhaps its also worth linking to the [rbenv readme](https://github.com/rbenv/rbenv/blob/master/README.md) too?

[2017-07-13 07:41] JedMeister opened #885 "New Appliance?! - Flask stack"
Flask stack could be a cool appliance? I've asked on Reddit (r/flask](https://www.reddit.com/r/flask/comments/6n03un/seeking_input_on_best_generic_linux_debian_based/)) for input on what a Flask stack might look like...

[2017-07-13 07:43] lamby commented on #876
No problem; ticking the boxes doesn't alert anyone I think.

[2017-07-13 17:47] lamby commented on #876
(And more...)

[2017-07-14 05:40] JedMeister opened #886 "Feedback re improvements for WordPress (and all LAMP appliances)"
A user has commented on his Google Pagespeed results; now running from the Hub, vs his previous hosting. And there were a few areas where we could improve things OOTB. I'll list it all here for now, but we may wish to split this up into separate issues?

PageSpeed feedback that our WordPress appliance gave which didn't appear on previous host:
- Prioritize visible content - perhaps via WordPress p

[2017-07-14 05:54] JedMeister commented on #628
Updated the name as I think that this should be considered in the context of a framework to support cool multi-server configuration and launch.

E.g. another idea: VPN (via OpenVPN appliance) running as the access to other servers in a VPC

[2017-07-14 08:11] vondrt4 commented on #886
I don't know about Wordpress plugins, but I'm pretty sure that the transition to Nginx would solve nothing. It is fast in serving static content. Everything in Wordpress goes through PHP.

If you want to accelerate it, you must employ caching to create the static content and ease the load on the CPU. Either as a Wordpress plugin, or the Apache mod_cache, or the Squid or Varnish caching proxy.

Dis

[2017-07-14 09:51] lamby commented on #876
Aaaaaand more.

[2017-07-16 21:04] DocCyblade commented on #714
Published!
https://www.turnkeylinux.org/mayan-edms

[2017-07-16 21:04] #714 closed

[2017-07-16 21:12] DocCyblade commented on #376
Looks like stretch has the latest version v4.4 packaged! Maybe this would build nice on a Nginx/PostgreSQL stack (LEPP Stack anyone?)

[2017-07-16 21:14] DocCyblade commented on #715
Picking this one back up for hopefully v15 :-)

[2017-07-17 01:01] JedMeister commented on #663
Finally got this published: https://www.turnkeylinux.org/nextcloud

[2017-07-18 07:58] JedMeister commented on #723
@MPTMG - Sorry that it's taken such an embarrassing long time to get your first appliance published. But we finally got there in the end. I announced Mumble late last week. Please see the new Mumble server appliance page [here](https://www.turnkeylinux.org/mumble) and the blog post announcement [here](https://www.turnkeylinux.org/blog/v14.2-release-update3-x3-new-x24-isos).

Thanks again for your

[2017-07-18 07:58] #723 closed

[2017-07-18 10:03] lamby commented on #876
Not entirely sure what to do with `tklbam-squid` - the packaging is *so* old and crufty its difficult to update. It doesn't autoreconf too. :/

[2017-07-18 10:40] lamby commented on #876
All done :)

[2017-07-18 23:33] OnGle opened #887 "Update to Python3"
From [Should I use Python 2 or Python 3 for my development activity?](https://wiki.python.org/moin/Python2orPython3):

(added by @jedmeister)

----
Hey all, let's start having the conversation about updating our code to python 3.x.

Against:
 - most of it works, when we update most of it will break
 - we have dependancies that have no direct python-3.x counterpart
 - python2.7 is incredibly stable

[2017-07-19 03:17] JedMeister commented on #887
Great discussion starter! And knowing you, I'm sure you could think of some more pros (for)! :smile:

As a more general note (not python3 specific) I think one big advantage to getting everything more up to date is the non-intuitive probability that it will actually reduce our maintenance overhead. We'll have less idiosyncratic hacks that may not be apparent to outsiders (thus making contribution

[2017-07-19 03:20] JedMeister commented on #876
Great work Chris! :smile: I'll shoot you an email shortly.

[2017-07-19 05:09] JedMeister opened #888 "Jenkins - automated plugin dependency fulfilment"
When doing the final QA checks for Jenkins, I noticed that a few of the plugins were broken. So I decided to try to fix that. Unfortunately though, OOTB Jenkins does not currently support automated dependency fulfilment. So each dependency needs to be manually downloaded and Jenkins restarted and check again for plugin errors. For long dependency trees, that can get a little painful...

I suggest

[2017-07-19 10:42] JedMeister commented on #883
Hmm, I just had a quick look. You already have full "write" access to those repos. The only other permission I can give is "admin" (which allows merges and adding new team members etc). Although I did protect the master branch, perhaps that's the issue? Does it need to push to master?

It doesn't seem right to me that it needs full admin rights just to run test builds? Or is that just to set it up

[2017-07-19 12:34] qrntz commented on #888
When I was updating the appliance I found a couple of ways to do it including [REST API](https://gist.github.com/basmussen/8182784) and [web interface](https://stackoverflow.com/questions/9765728/how-to-install-plugins-in-jenkins-with-the-help-of-jenkins-remote-access-api/34863149#34863149). The first one doesn't seem to work with current Jenkins but it should be fixable.

[2017-07-19 12:37] qrntz commented on #887
I have been saying this for a long time.

[2017-07-19 12:47] qrntz commented on #886
I believe most of our LAMP appliances don't use php-fpm (they should). But if/when they do, it makes more sense to keep nginx as the front-end webserver since it was _made_ to be a reverse proxy and it does the job better. If after that the performance is not up to par, we should think about optimizing caching.

If mod_pagespeed is controversial, we can make an inithook to toggle it.

[2017-07-20 00:14] JedMeister commented on #886
I thought I'd replied to this already, but obviously not...

As per always, thanks tons for your input guys.

@vondrt4 - By my understanding server response time is at least somewhat linked to server resource availability?! So I was under the impression that reducing the server load (and Nginx is significantly lower load than Apache) would also decrease server response time. Am I mistaken in my th

[2017-07-20 04:08] JedMeister commented on #888
Sounds good @qrntz - FWIW I just manually added the required deps by hand for now. While I was at it, I tweaked the cli stuff a little too. II doubt my little "helper" tweak will get used much (most devs would probably just it as per Jenkins docs), but may be a nice little extra for those working on the local server.

FYI here's my PR: https://github.com/turnkeylinux-apps/jenkins/pull/12

[2017-07-20 06:07] JedMeister opened #889 "Headless inithook needs to make more complex passwords"
I just discovered a bug in the Domain Controller when launched headlessly.

By way of background; all headless builds (AWS, Xen, OpenStack, Proxmox and Docker) have the [headless patch](https://github.com/turnkeylinux/buildtasks/tree/master/patches/headless) applied by [buildtasks](https://github.com/turnkeylinux/buildtasks). As part of that, the [`29preseed`](https://github.com/turnkeylinux/build

[2017-07-20 06:16] #889 closed

[2017-07-20 08:28] vondrt4 commented on #886
Yes, response time is linked to server resource availability. For an idle server, all resources are available; there is no load. In that case, the single customer that comes to the system will see a minimal latency that is given by the computational complexity of the application and the power of the hardware. Together, for a concrete system, it is a time constant called Service Demand. When the se

[2017-07-20 08:39] lamby opened #890 "Reproducible ISOs preparatory investigation"
@JedMeister wrote:

[Adding a tracker bug for this]

[2017-07-20 08:41] lamby commented on #890
(For completeness)

@alonswartz wrote:

[2017-07-20 08:45] lamby commented on #883
First, I don't understand what buildbot has to do with this? Travis CI is a hosted service that just slurps in stuff from GitHub, no local admin machine, no extra users, no buildbot :)

@JedMeister wrote:

Neither. I just need to be able to add the Travis "integration" to the GitHub repos:

![](https://i.imgur.com/bjeou1H.jpg)

Or perhaps this is something you can do, or I can be an admin for 20 m

[2017-07-20 08:45] lamby commented on #883
(Please assign back when done)

[2017-07-20 09:39] JedMeister commented on #883
Alon was keen to create a separate GH machine account (called tklbuildbot or similar -as per what we currently use with CircleCI) to manage the travis stuff. Rather than using your personal account (which no doubt has write access to tons of stuff). Then it could be a dedicated user purely for the purpose of travis builds (security).

But regardless, it seems either way, that it needs full admin p

[2017-07-20 09:50] JedMeister commented on #883
Oops, I missed the last lines!

No worries, if it's easy enough, I can take care of it, let me know what needs doing. I'll also check with Alon about giving you admin for 20, but if I can do it, that's probably preferable.

[2017-07-20 09:52] lamby commented on #883
@JedMeister

I don't see how opening another admin account improves security. (And I wouldn't call it ``buildbot`` as that overlaps with the entirely separate buildbot CI system!)

Sure. As I mentioned: http://travis.debian.net/#quick-setup ← *Any* admin just needs to follow this for all the repos mentioned in #876. I only need the first two steps doing, I can add the ``.travis.yml`` files.

[2017-07-20 09:59] JedMeister commented on #883
Oops, sorry, I missed that... Too many things on the go...

I'll take care of it ASAP (tomorrow I reckon I really need to knock off it's just gone 8pm)

[2017-07-21 09:13] #879 closed

[2017-07-21 09:15] JedMeister commented on #623
closed by https://github.com/turnkeylinux/fab/pull/2

[2017-07-21 09:15] #623 closed

[2017-07-21 09:17] #161 closed

[2017-07-21 09:17] #231 closed

[2017-07-23 08:32] lamby commented on #876
Not closing as not merged into master, but not sure what to do with this issue otherwise.

See also #883 re. travis integration

[2017-07-23 08:39] lamby commented on #890
Any update on this folks?

[2017-07-23 17:44] efaden opened #891 "Etherpad on Proxmox - 502 error and NPM process not running"
With a fresh install I'm getting a 502 error and the NPM process doesn't seem to be running.  Thoughts?

[2017-07-23 21:24] JedMeister commented on #891
Hi @efaden - can you please clarify which particular appliance and which version.

[2017-07-23 22:44] JedMeister commented on #630
Another user has requested this via support.

[2017-07-24 01:11] efaden commented on #891
The one downloaded through proxmox.  The filename is debian-8-turnkey-etherpad_14.1-1_amd64.tar.gz ... I did a fresh install and followed the GUI.  After that nothing is running on port 8000... so I get a 502.

[2017-07-24 01:38] JedMeister commented on #883
Hey @lamby - apologies on the previous confusion and my misunderstanding. I've now added all those repos to Travis.org as requested. I was going to add `.travis.yml` to the repos (I actually did one) but then I realised that they should be added to the `git-buildpackage` branch (which we don't currently have), so I thought I might leave that to you if you don't mind?

[2017-07-24 01:39] JedMeister commented on #876
Thanks @lamby - We'll just leave them there in the branch you've pushed to for the moment. We'll merge them all once we move everything to Stretch. I'm not sure when that'll be done, but hopefully within the next few weeks.

[2017-07-24 04:10] JedMeister commented on #891
Thanks for the extra info.

Unfortunately, that's a known issue. The problem is that we used pm2 to manage node services in v14.1 and unfortunately it appears that pm2 is a bit buggy. For the upcoming v14.2 release we've gone back to using the init system. Hopefully the new appliance should be available within the next week or 2.

In the meantime, you have a couple of options. Probably the easiest

[2017-07-24 04:13] JedMeister commented on #891
Also WRT to `npm` you should be able to run that via the commandline. Although IIRC it's actually installed for the `node` user account, so you made need to run it as the node user. E.g. something like this:
[code]

[2017-07-24 10:15] lamby commented on #883
@JedMeister

Yes, leave the .travis.yml stuff to me — sorry, should have made that clearer :)

[2017-07-24 16:10] lamby commented on #883
https://github.com/lamby/travis.debian.net/commit/cf08e803e5d34c445de2b7a2054e4432195b8d33

[2017-07-24 16:21] lamby commented on #883
https://github.com/lamby/travis.debian.net/commit/a918d8800a81f79bff9acd03a4c39a9412c74ec0

[2017-07-24 16:24] lamby commented on #883
https://github.com/lamby/travis.debian.net/commit/a918d8800a81f79bff9acd03a4c39a9412c74ec0

[2017-07-24 16:35] lamby commented on #883
… and we have our first passing build!

https://travis-ci.org/turnkeylinux/pyproject/builds/256944234

[2017-07-24 16:50] lamby commented on #883
Have (manually) configured the rest to match. For reference, this is:

 * Enabling "Only build when ``.travis.yml`` is present"
 * Setting ``TRAVIS_DEBIAN_DISTRIBUTION`` to ``stretch``

[2017-07-24 16:53] lamby commented on #883
The next issue is to ensure some kind of repo for the common build-depends, specifically pyproject-common.

[2017-07-24 23:09] efaden commented on #891
Thanks!  Any idea when you'll be putting up the new release?  I'm just going to use the script for now.  Thanks!

[2017-07-25 00:12] qq7 opened #892 "New appliance - Wekan"
https://wekan.github.io/

Trello-like app based on Node.js/Meteor stack

[2017-07-25 00:15] qq7 opened #893 "New appliance - Hadoop"
http://hadoop.apache.org/

JDK-based appliance, delayed until 15.0 because of https://packages.debian.org/stretch/openjdk-8-jdk

[2017-07-25 00:19] qq7 opened #894 "New appliance - OpenCart"
As suggested in https://github.com/turnkeylinux/tracker/issues/776,

https://www.opencart.com/
https://github.com/qq7/opencart

[2017-07-25 01:07] JedMeister commented on #891
No problem.

The ISO is currently sitting in an AWS bucket ready to be published. At this point we plan to publish what is ready on Wed. So if all goes according to plan we'll build the optimized/alternate builds (inc the Proxmox container) Thur and publish Friday or Monday next week. So it should be available from the mirror (and therefore via Proxmox download) mid next week... :crossed_fingers:

[2017-07-25 08:51] lamby opened #895 "Investigate whether APT can require multiple GPG signatures"
This is for the security archive.